<?xml version="1.0" encoding="UTF-8"?>
<ruleSet xmlns="com.kingdee.bos.metadata">
    <package>com.kingdee.eas.fdc.propertymgmt.app</package>
    <name>ChargeItemRuleSet</name>
    <alias>ruleSet[com.kingdee.eas.fdc.propertymgmt.app.ChargeItemRuleSet].alias</alias>
    <description>ruleSet[com.kingdee.eas.fdc.propertymgmt.app.ChargeItemRuleSet].description</description>
    <userDefined>true</userDefined>
    <expressions>
        <groupExpression>
            <id>f390bbf6-2b90-4ccb-b8ec-57f4d032a9b4</id>
            <parentID />
            <source>meterSort.visible = false</source>
            <operator>=</operator>
        </groupExpression>
        <simpleExpression>
            <id>724d7b44-0d05-4e0b-bd78-9e396eb912d5</id>
            <parentID>f390bbf6-2b90-4ccb-b8ec-57f4d032a9b4</parentID>
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>boolean</valueType>
            <value />
            <property>
                <ownerID>0c9003b2-0ef3-4d2c-b3da-7c4d35f1e556</ownerID>
                <name>visible</name>
                <type>boolean</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>0c9003b2-0ef3-4d2c-b3da-7c4d35f1e556</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>contmeterSort</value>
        </simpleExpression>
        <simpleExpression>
            <id>d9b8b09f-6d6f-4c42-a19a-5853b6bc9373</id>
            <parentID>f390bbf6-2b90-4ccb-b8ec-57f4d032a9b4</parentID>
            <source />
            <type>CONST</type>
            <valueType>Boolean</valueType>
            <value>false</value>
        </simpleExpression>
        <groupExpression>
            <id>26656650-56b1-49ae-9bdc-5de6b3aaea71</id>
            <parentID />
            <source>meterSort.visible = true</source>
            <operator>=</operator>
        </groupExpression>
        <simpleExpression>
            <id>6a4782e4-40c0-412e-836a-fa394f0bde77</id>
            <parentID>26656650-56b1-49ae-9bdc-5de6b3aaea71</parentID>
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>boolean</valueType>
            <value />
            <property>
                <ownerID>397fbddb-368c-446c-b333-b297720deb5a</ownerID>
                <name>visible</name>
                <type>boolean</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>397fbddb-368c-446c-b333-b297720deb5a</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>contmeterSort</value>
        </simpleExpression>
        <simpleExpression>
            <id>e09f6416-155c-419e-b292-d712eb7464fd</id>
            <parentID>26656650-56b1-49ae-9bdc-5de6b3aaea71</parentID>
            <source />
            <type>CONST</type>
            <valueType>Boolean</valueType>
            <value>true</value>
        </simpleExpression>
        <groupExpression>
            <id>1f6e34d6-2d46-4cab-8af4-60b86fcd88ae</id>
            <parentID />
            <source>[meterItem] == true</source>
            <operator>==</operator>
        </groupExpression>
        <simpleExpression>
            <id>e83627bc-9f56-4583-bed7-cde0a3765172</id>
            <parentID>1f6e34d6-2d46-4cab-8af4-60b86fcd88ae</parentID>
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>Boolean</valueType>
            <value />
            <property>
                <ownerID>4af35914-01eb-4f7b-84f8-ad32cc5d39e0</ownerID>
                <name>selected</name>
                <type>boolean</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>4af35914-01eb-4f7b-84f8-ad32cc5d39e0</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>chkmeterItem</value>
        </simpleExpression>
        <simpleExpression>
            <id>b7197b38-0dbb-4caf-8372-72b8f50af358</id>
            <parentID>1f6e34d6-2d46-4cab-8af4-60b86fcd88ae</parentID>
            <source />
            <type>CONST</type>
            <valueType>Boolean</valueType>
            <value>true</value>
        </simpleExpression>
    </expressions>
    <actions>
        <action>
            <id>9238a5db-0b31-4ace-ac01-6db3ec1d8f72</id>
            <name>AULZDMRW</name>
            <alias>ruleSet[com.kingdee.eas.fdc.propertymgmt.app.ChargeItemRuleSet].actions.action[AULZDMRW].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.propertymgmt.app.ChargeItemRuleSet].actions.action[AULZDMRW].description</description>
            <expressionID>f390bbf6-2b90-4ccb-b8ec-57f4d032a9b4</expressionID>
        </action>
        <action>
            <id>9c0619ab-6d9e-41f1-b184-810e85a48ff1</id>
            <name>AULZDMRW</name>
            <alias>ruleSet[com.kingdee.eas.fdc.propertymgmt.app.ChargeItemRuleSet].actions.action[AULZDMRW].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.propertymgmt.app.ChargeItemRuleSet].actions.action[AULZDMRW].description</description>
            <expressionID>26656650-56b1-49ae-9bdc-5de6b3aaea71</expressionID>
        </action>
    </actions>
    <conditions>
        <baseCondition>
            <id>4be29e2c-d624-4626-af04-eb92d0e9a936</id>
            <name>AULZDMRW</name>
            <alias>ruleSet[com.kingdee.eas.fdc.propertymgmt.app.ChargeItemRuleSet].conditions.baseCondition[AULZDMRW].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.propertymgmt.app.ChargeItemRuleSet].conditions.baseCondition[AULZDMRW].description</description>
            <expressionID>1f6e34d6-2d46-4cab-8af4-60b86fcd88ae</expressionID>
        </baseCondition>
    </conditions>
    <rules>
        <conditionRule>
            <name>ChargeItemAUM23J4S</name>
            <alias>ruleSet[com.kingdee.eas.fdc.propertymgmt.app.ChargeItemRuleSet].rules.conditionRule[ChargeItemAUM23J4S].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.propertymgmt.app.ChargeItemRuleSet].rules.conditionRule[ChargeItemAUM23J4S].description</description>
            <ruleType>linkproperty</ruleType>
            <eventObjectName />
            <eventType>CHANGE</eventType>
            <eventName>CHANGE</eventName>
            <condition>
                <key name="id" value="4be29e2c-d624-4626-af04-eb92d0e9a936" />
            </condition>
            <actions>
                <action>
                    <key name="id" value="9c0619ab-6d9e-41f1-b184-810e85a48ff1" />
                </action>
            </actions>
            <exceptionActions>
                <action>
                    <key name="id" value="9238a5db-0b31-4ace-ac01-6db3ec1d8f72" />
                </action>
            </exceptionActions>
        </conditionRule>
    </rules>
    <resource>
        <rs key="ruleSet[com.kingdee.eas.fdc.propertymgmt.app.ChargeItemRuleSet].actions.action[AULZDMRW].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.propertymgmt.app.ChargeItemRuleSet].actions.action[AULZDMRW].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.propertymgmt.app.ChargeItemRuleSet].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.propertymgmt.app.ChargeItemRuleSet].conditions.baseCondition[AULZDMRW].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.propertymgmt.app.ChargeItemRuleSet].conditions.baseCondition[AULZDMRW].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.propertymgmt.app.ChargeItemRuleSet].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.propertymgmt.app.ChargeItemRuleSet].rules.conditionRule[ChargeItemAUM23J4S].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="LinkPropEvent0001" />
            <lang locale="zh_TW" value="LinkPropEvent0001" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.propertymgmt.app.ChargeItemRuleSet].rules.conditionRule[ChargeItemAUM23J4S].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.propertymgmt.app.ChargeItemRuleSet].rules.conditionRule[ChargeItemAUM23J4S].extendedProperty.columnName">
            <lang locale="en_US" value="meterItem" />
            <lang locale="zh_CN" value="meterItem" />
            <lang locale="zh_TW" value="meterItem" />
        </rs>
    </resource>
</ruleSet>

