<?xml version="1.0" encoding="UTF-8"?>
<ruleSet xmlns="com.kingdee.bos.metadata">
    <package>com.kingdee.eas.fdc.propertymgmt.app</package>
    <name>PpmDeviceMaintainRuleSet</name>
    <alias>ruleSet[com.kingdee.eas.fdc.propertymgmt.app.PpmDeviceMaintainRuleSet].alias</alias>
    <description>ruleSet[com.kingdee.eas.fdc.propertymgmt.app.PpmDeviceMaintainRuleSet].description</description>
    <userDefined>true</userDefined>
    <expressions>
        <groupExpression>
            <id>c6bbf7d1-0d45-4e89-8d57-22286463ac84</id>
            <parentID />
            <source>DevSetPalce=Maintaindev.setplace</source>
            <operator>=</operator>
        </groupExpression>
        <simpleExpression>
            <id>33956028-accf-42a0-b146-7d835e76d11d</id>
            <parentID>c6bbf7d1-0d45-4e89-8d57-22286463ac84</parentID>
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>String</valueType>
            <value />
            <property>
                <ownerID>26c0c886-0764-48ff-af3a-9a033a05ee4f</ownerID>
                <name>text</name>
                <type>java.lang.String</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>26c0c886-0764-48ff-af3a-9a033a05ee4f</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>txtDevSetPalce</value>
        </simpleExpression>
        <simpleExpression>
            <id>e2584a12-b475-490d-a4b3-f1bae1197b76</id>
            <parentID>c6bbf7d1-0d45-4e89-8d57-22286463ac84</parentID>
            <source />
            <type>METHODINVOKE</type>
            <valueType>String</valueType>
            <value />
            <method>
                <ownerID>3b9d1260-dc06-4c29-83d6-b9bc095a4f3b</ownerID>
                <name>getProperty</name>
                <type>Object</type>
                <parameters>
                    <parameter>
                        <id>e635f445-2344-49a5-b2a2-0b62f1e70402</id>
                        <expressionID>c5909d00-85e8-49de-8821-84f34832cbcd</expressionID>
                    </parameter>
                    <parameter>
                        <id>9b1d2fe2-4841-4b14-b7d6-846cea8a989f</id>
                        <expressionID>0829a883-c550-4545-948f-01bb7071f562</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>3b9d1260-dc06-4c29-83d6-b9bc095a4f3b</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>com.kingdee.bos.ui.face.UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>c5909d00-85e8-49de-8821-84f34832cbcd</id>
            <parentID />
            <source />
            <type>METHODINVOKE</type>
            <valueType>Object</valueType>
            <value />
            <method>
                <ownerID>426e929c-4b8e-4fd4-aadd-aaa00bd1c381</ownerID>
                <name>getData</name>
                <type>Object</type>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>426e929c-4b8e-4fd4-aadd-aaa00bd1c381</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>(com.kingdee.bos.dao.IObjectValue)prmtMaintaindev</value>
        </simpleExpression>
        <simpleExpression>
            <id>0829a883-c550-4545-948f-01bb7071f562</id>
            <parentID />
            <source />
            <type>CONST</type>
            <valueType>String</valueType>
            <value>setplace</value>
        </simpleExpression>
        <groupExpression>
            <id>29320f38-c0b5-490c-95e2-8855fa6795a4</id>
            <parentID />
            <source>maintainCorp=Maintaindev.repaircorp.name</source>
            <operator>=</operator>
        </groupExpression>
        <simpleExpression>
            <id>e9446fa1-0ec2-4453-8b39-a7fd52d96545</id>
            <parentID>29320f38-c0b5-490c-95e2-8855fa6795a4</parentID>
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>String</valueType>
            <value />
            <property>
                <ownerID>6e34f785-5167-418e-8af7-5716fcabb041</ownerID>
                <name>text</name>
                <type>java.lang.String</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>6e34f785-5167-418e-8af7-5716fcabb041</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>txtmaintainCorp</value>
        </simpleExpression>
        <simpleExpression>
            <id>c4aa8264-fb15-47ff-a6ef-57ef309cc01f</id>
            <parentID>29320f38-c0b5-490c-95e2-8855fa6795a4</parentID>
            <source />
            <type>METHODINVOKE</type>
            <valueType>String</valueType>
            <value />
            <method>
                <ownerID>44a07744-cbcd-4d0f-8a0c-4f95ded1b459</ownerID>
                <name>getProperty</name>
                <type>Object</type>
                <parameters>
                    <parameter>
                        <id>dbe6e17b-4772-4d9d-999f-3945e381e658</id>
                        <expressionID>971b215a-012d-45b7-afec-84634122392f</expressionID>
                    </parameter>
                    <parameter>
                        <id>959bffec-fa6e-4f6d-a4f8-0e5e8d1f2a65</id>
                        <expressionID>b97a3802-450a-4898-8d9c-c7de8ef24006</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>44a07744-cbcd-4d0f-8a0c-4f95ded1b459</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>com.kingdee.bos.ui.face.UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>971b215a-012d-45b7-afec-84634122392f</id>
            <parentID />
            <source />
            <type>METHODINVOKE</type>
            <valueType>Object</valueType>
            <value />
            <method>
                <ownerID>8e25e2bc-f946-4cda-aa67-ec3b2b17daa7</ownerID>
                <name>getData</name>
                <type>Object</type>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>8e25e2bc-f946-4cda-aa67-ec3b2b17daa7</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>(com.kingdee.bos.dao.IObjectValue)prmtMaintaindev</value>
        </simpleExpression>
        <simpleExpression>
            <id>b97a3802-450a-4898-8d9c-c7de8ef24006</id>
            <parentID />
            <source />
            <type>CONST</type>
            <valueType>String</valueType>
            <value>repaircorp.name</value>
        </simpleExpression>
        <groupExpression>
            <id>b3b57519-cc45-44f7-bfca-4f74225bbf13</id>
            <parentID />
            <source>MainTainCorp=MainTainDev.repaircorp.name</source>
            <operator>=</operator>
        </groupExpression>
        <simpleExpression>
            <id>075f81ff-eee5-4489-9cc0-f34ba7364e97</id>
            <parentID>b3b57519-cc45-44f7-bfca-4f74225bbf13</parentID>
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>String</valueType>
            <value />
            <property>
                <ownerID>7ba2c4f0-b4c2-4968-8f8a-52ec8a738d1e</ownerID>
                <name>text</name>
                <type>java.lang.String</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>7ba2c4f0-b4c2-4968-8f8a-52ec8a738d1e</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>txtMainTainCorp</value>
        </simpleExpression>
        <simpleExpression>
            <id>6e4e8ecf-529b-4dc5-8d00-02fa97abe381</id>
            <parentID>b3b57519-cc45-44f7-bfca-4f74225bbf13</parentID>
            <source />
            <type>METHODINVOKE</type>
            <valueType>String</valueType>
            <value />
            <method>
                <ownerID>8380e35f-2959-4bc4-832e-b8e338eb4e0c</ownerID>
                <name>getProperty</name>
                <type>Object</type>
                <parameters>
                    <parameter>
                        <id>0315b7b8-9c49-49b9-9eda-1b77c6f6c09b</id>
                        <expressionID>e901a649-29be-46dc-b8ca-961a5294bf4c</expressionID>
                    </parameter>
                    <parameter>
                        <id>3b3af2eb-7dd2-4a70-bde0-09ac9bb5b9cd</id>
                        <expressionID>99191aad-49b0-46e6-9c0c-f0e106087006</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>8380e35f-2959-4bc4-832e-b8e338eb4e0c</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>com.kingdee.bos.ui.face.UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>e901a649-29be-46dc-b8ca-961a5294bf4c</id>
            <parentID />
            <source />
            <type>METHODINVOKE</type>
            <valueType>Object</valueType>
            <value />
            <method>
                <ownerID>0445a2f0-9dbf-4aff-b2d6-3da0cdfea4fd</ownerID>
                <name>getData</name>
                <type>Object</type>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>0445a2f0-9dbf-4aff-b2d6-3da0cdfea4fd</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>(com.kingdee.bos.dao.IObjectValue)prmtMainTainDev</value>
        </simpleExpression>
        <simpleExpression>
            <id>99191aad-49b0-46e6-9c0c-f0e106087006</id>
            <parentID />
            <source />
            <type>CONST</type>
            <valueType>String</valueType>
            <value>repaircorp.name</value>
        </simpleExpression>
        <groupExpression>
            <id>c1d888e2-3cd2-4401-b7ea-8bf9e2fdc0f3</id>
            <parentID />
            <source>DutyPerson=MainTainDev.dutyperson.name</source>
            <operator>=</operator>
        </groupExpression>
        <simpleExpression>
            <id>9d266cdd-d8c2-49c8-b75c-3cf5257ccc9b</id>
            <parentID>c1d888e2-3cd2-4401-b7ea-8bf9e2fdc0f3</parentID>
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>String</valueType>
            <value />
            <property>
                <ownerID>9a2b5205-9439-41bb-848d-b11be47f751c</ownerID>
                <name>text</name>
                <type>java.lang.String</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>9a2b5205-9439-41bb-848d-b11be47f751c</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>txtDutyPerson</value>
        </simpleExpression>
        <simpleExpression>
            <id>6923e973-9700-4a35-98b0-bb84d78dd9fb</id>
            <parentID>c1d888e2-3cd2-4401-b7ea-8bf9e2fdc0f3</parentID>
            <source />
            <type>METHODINVOKE</type>
            <valueType>String</valueType>
            <value />
            <method>
                <ownerID>e6b3759c-1873-40b4-9008-cd86658909ce</ownerID>
                <name>getProperty</name>
                <type>Object</type>
                <parameters>
                    <parameter>
                        <id>15a8a71e-cda4-4d56-af46-b009c24be813</id>
                        <expressionID>81af8046-db9a-43d6-821d-f5ff12f16477</expressionID>
                    </parameter>
                    <parameter>
                        <id>d58207a9-35eb-4666-99f9-7589bf874fbd</id>
                        <expressionID>52abb42c-8693-4075-83f2-926cae0cc58b</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>e6b3759c-1873-40b4-9008-cd86658909ce</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>com.kingdee.bos.ui.face.UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>81af8046-db9a-43d6-821d-f5ff12f16477</id>
            <parentID />
            <source />
            <type>METHODINVOKE</type>
            <valueType>Object</valueType>
            <value />
            <method>
                <ownerID>e94406cb-d5c7-4ccc-8775-c91b122af378</ownerID>
                <name>getData</name>
                <type>Object</type>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>e94406cb-d5c7-4ccc-8775-c91b122af378</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>(com.kingdee.bos.dao.IObjectValue)prmtMainTainDev</value>
        </simpleExpression>
        <simpleExpression>
            <id>52abb42c-8693-4075-83f2-926cae0cc58b</id>
            <parentID />
            <source />
            <type>CONST</type>
            <valueType>String</valueType>
            <value>dutyperson.name</value>
        </simpleExpression>
        <groupExpression>
            <id>a497f5d5-1d2c-499a-a5a4-76c4904a0aa4</id>
            <parentID />
            <source>DevSetPalce=MainTainDev.setplace</source>
            <operator>=</operator>
        </groupExpression>
        <simpleExpression>
            <id>0ca76604-4074-4dbd-b56e-af99e4c2ae2a</id>
            <parentID>a497f5d5-1d2c-499a-a5a4-76c4904a0aa4</parentID>
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>String</valueType>
            <value />
            <property>
                <ownerID>842326bb-84ad-43e0-8d47-07b5a62b13a6</ownerID>
                <name>text</name>
                <type>java.lang.String</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>842326bb-84ad-43e0-8d47-07b5a62b13a6</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>txtDevSetPalce</value>
        </simpleExpression>
        <simpleExpression>
            <id>fecc07d9-ec2d-4357-a2f5-5909ccb0b377</id>
            <parentID>a497f5d5-1d2c-499a-a5a4-76c4904a0aa4</parentID>
            <source />
            <type>METHODINVOKE</type>
            <valueType>String</valueType>
            <value />
            <method>
                <ownerID>6bbf71a9-9a69-432a-b85f-3010afb78a6d</ownerID>
                <name>getProperty</name>
                <type>Object</type>
                <parameters>
                    <parameter>
                        <id>a935c2e0-3e94-43ce-bff8-8f933f11710b</id>
                        <expressionID>ae5008c9-03ca-473e-aa95-01f840926365</expressionID>
                    </parameter>
                    <parameter>
                        <id>b27dd9ec-1163-4c4b-92ac-ecd3e9fe9c19</id>
                        <expressionID>c802e085-661f-42c6-8682-9488550c5a65</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>6bbf71a9-9a69-432a-b85f-3010afb78a6d</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>com.kingdee.bos.ui.face.UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>ae5008c9-03ca-473e-aa95-01f840926365</id>
            <parentID />
            <source />
            <type>METHODINVOKE</type>
            <valueType>Object</valueType>
            <value />
            <method>
                <ownerID>05d4b3e1-ca7c-49db-8ad7-b16c4d40d577</ownerID>
                <name>getData</name>
                <type>Object</type>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>05d4b3e1-ca7c-49db-8ad7-b16c4d40d577</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>(com.kingdee.bos.dao.IObjectValue)prmtMainTainDev</value>
        </simpleExpression>
        <simpleExpression>
            <id>c802e085-661f-42c6-8682-9488550c5a65</id>
            <parentID />
            <source />
            <type>CONST</type>
            <valueType>String</valueType>
            <value>setplace</value>
        </simpleExpression>
        <groupExpression>
            <id>0912ff9b-6eee-4629-bcf7-4a147035cb91</id>
            <parentID />
            <source>MaintainPeriod=MainTainDev.maintainperiod</source>
            <operator>=</operator>
        </groupExpression>
        <simpleExpression>
            <id>00d25d46-1e91-4bee-b27f-4884d81e08ad</id>
            <parentID>0912ff9b-6eee-4629-bcf7-4a147035cb91</parentID>
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>Integer</valueType>
            <value />
            <property>
                <ownerID>cda70808-9dda-4c6c-ad70-efe93a776b6b</ownerID>
                <name>value</name>
                <type>java.lang.Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>cda70808-9dda-4c6c-ad70-efe93a776b6b</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>txtMaintainPeriod</value>
        </simpleExpression>
        <simpleExpression>
            <id>4d4778bc-883e-4cbd-961a-086b974800b3</id>
            <parentID>0912ff9b-6eee-4629-bcf7-4a147035cb91</parentID>
            <source />
            <type>METHODINVOKE</type>
            <valueType>Integer</valueType>
            <value />
            <method>
                <ownerID>8f72dc31-4d98-41b0-b2ea-fa848e8aaaa7</ownerID>
                <name>getProperty</name>
                <type>Object</type>
                <parameters>
                    <parameter>
                        <id>5e5c4e2c-b89e-42b4-919a-b54bbb71916e</id>
                        <expressionID>2cf11e7e-16f9-4ae0-8c52-dbbf2bda6827</expressionID>
                    </parameter>
                    <parameter>
                        <id>2e3d80d0-db9c-444b-bc61-e8fd13c5a7e2</id>
                        <expressionID>bf8ff5bd-9154-49f5-bab7-d3ee7655be67</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>8f72dc31-4d98-41b0-b2ea-fa848e8aaaa7</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>com.kingdee.bos.ui.face.UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>2cf11e7e-16f9-4ae0-8c52-dbbf2bda6827</id>
            <parentID />
            <source />
            <type>METHODINVOKE</type>
            <valueType>Object</valueType>
            <value />
            <method>
                <ownerID>7b23aa02-8ca9-4d4e-99ab-e61668b08e72</ownerID>
                <name>getData</name>
                <type>Object</type>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>7b23aa02-8ca9-4d4e-99ab-e61668b08e72</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>(com.kingdee.bos.dao.IObjectValue)prmtMainTainDev</value>
        </simpleExpression>
        <simpleExpression>
            <id>bf8ff5bd-9154-49f5-bab7-d3ee7655be67</id>
            <parentID />
            <source />
            <type>CONST</type>
            <valueType>String</valueType>
            <value>maintainperiod</value>
        </simpleExpression>
        <groupExpression>
            <id>62fe1297-7f77-4d73-b776-3ad728ae4c74</id>
            <parentID />
            <source>PeriodType=MainTainDev.mperiodtype</source>
            <operator>=</operator>
        </groupExpression>
        <simpleExpression>
            <id>282cccf4-2f9e-4d24-a974-1652add1efdf</id>
            <parentID>62fe1297-7f77-4d73-b776-3ad728ae4c74</parentID>
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>Object</valueType>
            <value />
            <property>
                <ownerID>7d9163f6-103c-4cc2-8a04-0f65dc7239f2</ownerID>
                <name>selectedItem</name>
                <type>Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>7d9163f6-103c-4cc2-8a04-0f65dc7239f2</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>PeriodType</value>
        </simpleExpression>
        <simpleExpression>
            <id>1e94e265-e28d-454e-8eda-feb2b8eca9c9</id>
            <parentID>62fe1297-7f77-4d73-b776-3ad728ae4c74</parentID>
            <source />
            <type>METHODINVOKE</type>
            <valueType>Enum</valueType>
            <value />
            <method>
                <ownerID>d2e4cf85-f871-4dc7-a0a7-ec181eeaf6dd</ownerID>
                <name>getProperty</name>
                <type>Object</type>
                <parameters>
                    <parameter>
                        <id>2723ae6b-886b-4110-83d4-bbbe992a2b0b</id>
                        <expressionID>07f2883d-fcf1-4763-be35-79053a66b7f2</expressionID>
                    </parameter>
                    <parameter>
                        <id>75533db5-0e5c-4153-a1ad-95ae6dfd46ef</id>
                        <expressionID>6919c5c7-c39e-4327-966d-233ab5ac80bc</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>d2e4cf85-f871-4dc7-a0a7-ec181eeaf6dd</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>com.kingdee.bos.ui.face.UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>07f2883d-fcf1-4763-be35-79053a66b7f2</id>
            <parentID />
            <source />
            <type>METHODINVOKE</type>
            <valueType>Object</valueType>
            <value />
            <method>
                <ownerID>2bf9de46-8e21-490d-b049-65f96554503d</ownerID>
                <name>getData</name>
                <type>Object</type>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>2bf9de46-8e21-490d-b049-65f96554503d</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>(com.kingdee.bos.dao.IObjectValue)prmtMainTainDev</value>
        </simpleExpression>
        <simpleExpression>
            <id>6919c5c7-c39e-4327-966d-233ab5ac80bc</id>
            <parentID />
            <source />
            <type>CONST</type>
            <valueType>String</valueType>
            <value>mperiodtype</value>
        </simpleExpression>
        <groupExpression>
            <id>d1171da6-4e76-4131-b921-0cbcb2be70c3</id>
            <parentID />
            <source>preMaintainDay=MainTainDev.preDate</source>
            <operator>=</operator>
        </groupExpression>
        <simpleExpression>
            <id>479a7d53-78ac-4e2a-8f29-f29a8169df61</id>
            <parentID>d1171da6-4e76-4131-b921-0cbcb2be70c3</parentID>
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>Date</valueType>
            <value />
            <property>
                <ownerID>45e260db-ddb1-4f23-98d9-344c9011d89f</ownerID>
                <name>value</name>
                <type>java.lang.Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>45e260db-ddb1-4f23-98d9-344c9011d89f</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>pkpreMaintainDay</value>
        </simpleExpression>
        <simpleExpression>
            <id>310b9237-5b33-42e7-bbac-fda41e03483e</id>
            <parentID>d1171da6-4e76-4131-b921-0cbcb2be70c3</parentID>
            <source />
            <type>METHODINVOKE</type>
            <valueType>Date</valueType>
            <value />
            <method>
                <ownerID>30e896d7-16f4-4998-9ced-fe1098aa5871</ownerID>
                <name>getProperty</name>
                <type>Object</type>
                <parameters>
                    <parameter>
                        <id>3be1b76e-67a8-426e-b59d-7d7773f90ba1</id>
                        <expressionID>752496dd-137c-45f5-a7ef-92097e75f5f5</expressionID>
                    </parameter>
                    <parameter>
                        <id>333a3a07-2ec8-48dc-a5eb-fcb0d169ab56</id>
                        <expressionID>8eed0abb-a7cc-43f2-b19d-e855c565d7a1</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>30e896d7-16f4-4998-9ced-fe1098aa5871</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>com.kingdee.bos.ui.face.UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>752496dd-137c-45f5-a7ef-92097e75f5f5</id>
            <parentID />
            <source />
            <type>METHODINVOKE</type>
            <valueType>Object</valueType>
            <value />
            <method>
                <ownerID>7a5ad699-d195-4039-aefa-15ec4b826dbf</ownerID>
                <name>getData</name>
                <type>Object</type>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>7a5ad699-d195-4039-aefa-15ec4b826dbf</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>(com.kingdee.bos.dao.IObjectValue)prmtMainTainDev</value>
        </simpleExpression>
        <simpleExpression>
            <id>8eed0abb-a7cc-43f2-b19d-e855c565d7a1</id>
            <parentID />
            <source />
            <type>CONST</type>
            <valueType>String</valueType>
            <value>preDate</value>
        </simpleExpression>
        <groupExpression>
            <id>27d23549-089a-442b-bbb3-66e14485dac2</id>
            <parentID />
            <source>DevSetPlace=MainTainDev.setplace</source>
            <operator>=</operator>
        </groupExpression>
        <simpleExpression>
            <id>12322372-8882-41a4-b802-4e15e3a283bf</id>
            <parentID>27d23549-089a-442b-bbb3-66e14485dac2</parentID>
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>String</valueType>
            <value />
            <property>
                <ownerID>5baa8c2f-3ef5-4d5a-b416-5f1e28b90726</ownerID>
                <name>text</name>
                <type>java.lang.String</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>5baa8c2f-3ef5-4d5a-b416-5f1e28b90726</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>txtDevSetPlace</value>
        </simpleExpression>
        <simpleExpression>
            <id>26631633-90a3-438e-b258-e6901ff34c0e</id>
            <parentID>27d23549-089a-442b-bbb3-66e14485dac2</parentID>
            <source />
            <type>METHODINVOKE</type>
            <valueType>String</valueType>
            <value />
            <method>
                <ownerID>e6441fbb-68d8-410b-b406-0a9b2e8bd92f</ownerID>
                <name>getProperty</name>
                <type>Object</type>
                <parameters>
                    <parameter>
                        <id>532c8c3a-bcc9-46ba-8d81-39460bb469ad</id>
                        <expressionID>129c432a-2036-4d9b-bf43-0489d90902ab</expressionID>
                    </parameter>
                    <parameter>
                        <id>50724daf-2ad2-4af0-a436-6d7cef6bc5c0</id>
                        <expressionID>0d93da6d-5171-4987-8ee0-82fe70921108</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>e6441fbb-68d8-410b-b406-0a9b2e8bd92f</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>com.kingdee.bos.ui.face.UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>129c432a-2036-4d9b-bf43-0489d90902ab</id>
            <parentID />
            <source />
            <type>METHODINVOKE</type>
            <valueType>Object</valueType>
            <value />
            <method>
                <ownerID>8f6e72ce-79e9-4139-84db-d1a3a59c14f8</ownerID>
                <name>getData</name>
                <type>Object</type>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>8f6e72ce-79e9-4139-84db-d1a3a59c14f8</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>(com.kingdee.bos.dao.IObjectValue)prmtMainTainDev</value>
        </simpleExpression>
        <simpleExpression>
            <id>0d93da6d-5171-4987-8ee0-82fe70921108</id>
            <parentID />
            <source />
            <type>CONST</type>
            <valueType>String</valueType>
            <value>setplace</value>
        </simpleExpression>
        <groupExpression>
            <id>335e07f5-78d8-41bf-bf97-b4277801fcfb</id>
            <parentID />
            <source>DevSetPlace=MainTainDev.setplace</source>
            <operator>=</operator>
        </groupExpression>
        <simpleExpression>
            <id>a611ec34-30ec-485a-b3ea-baf4759043fb</id>
            <parentID>335e07f5-78d8-41bf-bf97-b4277801fcfb</parentID>
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>String</valueType>
            <value />
            <property>
                <ownerID>e84c4591-fcbb-474c-b42d-5cb97523886f</ownerID>
                <name>text</name>
                <type>java.lang.String</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>e84c4591-fcbb-474c-b42d-5cb97523886f</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>txtDevSetPlace</value>
        </simpleExpression>
        <simpleExpression>
            <id>46f69f37-c133-4899-86fb-bf3cb523c20e</id>
            <parentID>335e07f5-78d8-41bf-bf97-b4277801fcfb</parentID>
            <source />
            <type>METHODINVOKE</type>
            <valueType>String</valueType>
            <value />
            <method>
                <ownerID>d1808c01-5ebe-43ba-897e-16a11e436779</ownerID>
                <name>getProperty</name>
                <type>Object</type>
                <parameters>
                    <parameter>
                        <id>5851c4b0-3b72-4c8b-b867-eeffd9ef7ff7</id>
                        <expressionID>a71df68e-1faa-4081-a3c0-23d2b08da174</expressionID>
                    </parameter>
                    <parameter>
                        <id>8a9fc18c-07d2-4f53-ac31-1e985fb3cfe2</id>
                        <expressionID>a8d8f466-f6ca-4836-bff5-539148e4c4bb</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>d1808c01-5ebe-43ba-897e-16a11e436779</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>com.kingdee.bos.ui.face.UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>a71df68e-1faa-4081-a3c0-23d2b08da174</id>
            <parentID />
            <source />
            <type>METHODINVOKE</type>
            <valueType>Object</valueType>
            <value />
            <method>
                <ownerID>15d621ec-c7d4-4f92-a097-fae051a98eb4</ownerID>
                <name>getData</name>
                <type>Object</type>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>15d621ec-c7d4-4f92-a097-fae051a98eb4</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>(com.kingdee.bos.dao.IObjectValue)prmtMainTainDev</value>
        </simpleExpression>
        <simpleExpression>
            <id>a8d8f466-f6ca-4836-bff5-539148e4c4bb</id>
            <parentID />
            <source />
            <type>CONST</type>
            <valueType>String</valueType>
            <value>setplace</value>
        </simpleExpression>
    </expressions>
    <actions>
        <action>
            <id>99efb498-779e-4479-b849-4e120ccf187f</id>
            <name>PpmDeviceMaintain_DevSetPalce_ActionInfo</name>
            <alias>ruleSet[com.kingdee.eas.fdc.propertymgmt.app.PpmDeviceMaintainRuleSet].actions.action[PpmDeviceMaintain_DevSetPalce_ActionInfo].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.propertymgmt.app.PpmDeviceMaintainRuleSet].actions.action[PpmDeviceMaintain_DevSetPalce_ActionInfo].description</description>
            <expressionID>c6bbf7d1-0d45-4e89-8d57-22286463ac84</expressionID>
        </action>
        <action>
            <id>6e72704c-1425-4024-8fa2-23bdc2c76f0d</id>
            <name>PpmDeviceMaintain_maintainCorp_ActionInfo</name>
            <alias>ruleSet[com.kingdee.eas.fdc.propertymgmt.app.PpmDeviceMaintainRuleSet].actions.action[PpmDeviceMaintain_maintainCorp_ActionInfo].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.propertymgmt.app.PpmDeviceMaintainRuleSet].actions.action[PpmDeviceMaintain_maintainCorp_ActionInfo].description</description>
            <expressionID>29320f38-c0b5-490c-95e2-8855fa6795a4</expressionID>
        </action>
        <action>
            <id>2bd26aa4-6e4c-4ed1-b476-5eaa1d7a9b6d</id>
            <name>PpmDeviceMaintain_MainTainCorp_ActionInfo</name>
            <alias>ruleSet[com.kingdee.eas.fdc.propertymgmt.app.PpmDeviceMaintainRuleSet].actions.action[PpmDeviceMaintain_MainTainCorp_ActionInfo].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.propertymgmt.app.PpmDeviceMaintainRuleSet].actions.action[PpmDeviceMaintain_MainTainCorp_ActionInfo].description</description>
            <expressionID>b3b57519-cc45-44f7-bfca-4f74225bbf13</expressionID>
        </action>
        <action>
            <id>f21c1090-45e7-4f8b-9310-9ad542ccd484</id>
            <name>PpmDeviceMaintain_DutyPerson_ActionInfo</name>
            <alias>ruleSet[com.kingdee.eas.fdc.propertymgmt.app.PpmDeviceMaintainRuleSet].actions.action[PpmDeviceMaintain_DutyPerson_ActionInfo].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.propertymgmt.app.PpmDeviceMaintainRuleSet].actions.action[PpmDeviceMaintain_DutyPerson_ActionInfo].description</description>
            <expressionID>c1d888e2-3cd2-4401-b7ea-8bf9e2fdc0f3</expressionID>
        </action>
        <action>
            <id>3da4e219-8771-4def-9d5f-20a6e880420f</id>
            <name>PpmDeviceMaintain_DevSetPalce_ActionInfo</name>
            <alias>ruleSet[com.kingdee.eas.fdc.propertymgmt.app.PpmDeviceMaintainRuleSet].actions.action[PpmDeviceMaintain_DevSetPalce_ActionInfo].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.propertymgmt.app.PpmDeviceMaintainRuleSet].actions.action[PpmDeviceMaintain_DevSetPalce_ActionInfo].description</description>
            <expressionID>a497f5d5-1d2c-499a-a5a4-76c4904a0aa4</expressionID>
        </action>
        <action>
            <id>52a5fb7a-6a63-43b5-b93d-1b293a46527e</id>
            <name>PpmDeviceMaintain_MaintainPeriod_ActionInfo</name>
            <alias>ruleSet[com.kingdee.eas.fdc.propertymgmt.app.PpmDeviceMaintainRuleSet].actions.action[PpmDeviceMaintain_MaintainPeriod_ActionInfo].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.propertymgmt.app.PpmDeviceMaintainRuleSet].actions.action[PpmDeviceMaintain_MaintainPeriod_ActionInfo].description</description>
            <expressionID>0912ff9b-6eee-4629-bcf7-4a147035cb91</expressionID>
        </action>
        <action>
            <id>1310b0d3-5e21-4c20-b9b3-dbba1f815ab5</id>
            <name>PpmDeviceMaintain_PeriodType_ActionInfo</name>
            <alias>ruleSet[com.kingdee.eas.fdc.propertymgmt.app.PpmDeviceMaintainRuleSet].actions.action[PpmDeviceMaintain_PeriodType_ActionInfo].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.propertymgmt.app.PpmDeviceMaintainRuleSet].actions.action[PpmDeviceMaintain_PeriodType_ActionInfo].description</description>
            <expressionID>62fe1297-7f77-4d73-b776-3ad728ae4c74</expressionID>
        </action>
        <action>
            <id>f3ae63f8-e052-447c-8f3d-f212a2350d1c</id>
            <name>PpmDeviceMaintain_preMaintainDay_ActionInfo</name>
            <alias>ruleSet[com.kingdee.eas.fdc.propertymgmt.app.PpmDeviceMaintainRuleSet].actions.action[PpmDeviceMaintain_preMaintainDay_ActionInfo].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.propertymgmt.app.PpmDeviceMaintainRuleSet].actions.action[PpmDeviceMaintain_preMaintainDay_ActionInfo].description</description>
            <expressionID>d1171da6-4e76-4131-b921-0cbcb2be70c3</expressionID>
        </action>
        <action>
            <id>11e7a4d4-63a6-4722-9bf4-bbb898097788</id>
            <name>PpmDeviceMaintain_DevSetPlace_ActionInfo</name>
            <alias>ruleSet[com.kingdee.eas.fdc.propertymgmt.app.PpmDeviceMaintainRuleSet].actions.action[PpmDeviceMaintain_DevSetPlace_ActionInfo].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.propertymgmt.app.PpmDeviceMaintainRuleSet].actions.action[PpmDeviceMaintain_DevSetPlace_ActionInfo].description</description>
            <expressionID>27d23549-089a-442b-bbb3-66e14485dac2</expressionID>
        </action>
        <action>
            <id>8bfc12aa-6950-4cbf-9d51-1b2633a96c05</id>
            <name>PpmDeviceMaintain_DevSetPlace_ActionInfo</name>
            <alias>ruleSet[com.kingdee.eas.fdc.propertymgmt.app.PpmDeviceMaintainRuleSet].actions.action[PpmDeviceMaintain_DevSetPlace_ActionInfo].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.propertymgmt.app.PpmDeviceMaintainRuleSet].actions.action[PpmDeviceMaintain_DevSetPlace_ActionInfo].description</description>
            <expressionID>335e07f5-78d8-41bf-bf97-b4277801fcfb</expressionID>
        </action>
    </actions>
    <resource>
        <rs key="ruleSet[com.kingdee.eas.fdc.propertymgmt.app.PpmDeviceMaintainRuleSet].actions.action[PpmDeviceMaintain_DevSetPalce_ActionInfo].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="携带字段属性_setplace" />
            <lang locale="zh_TW" value="攜帶字段屬性_setplace" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.propertymgmt.app.PpmDeviceMaintainRuleSet].actions.action[PpmDeviceMaintain_DevSetPalce_ActionInfo].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.propertymgmt.app.PpmDeviceMaintainRuleSet].actions.action[PpmDeviceMaintain_DevSetPlace_ActionInfo].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="携带字段属性_setplace" />
            <lang locale="zh_TW" value="攜帶字段屬性_setplace" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.propertymgmt.app.PpmDeviceMaintainRuleSet].actions.action[PpmDeviceMaintain_DevSetPlace_ActionInfo].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.propertymgmt.app.PpmDeviceMaintainRuleSet].actions.action[PpmDeviceMaintain_DutyPerson_ActionInfo].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="携带字段属性_dutyperson" />
            <lang locale="zh_TW" value="攜帶字段屬性_dutyperson" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.propertymgmt.app.PpmDeviceMaintainRuleSet].actions.action[PpmDeviceMaintain_DutyPerson_ActionInfo].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.propertymgmt.app.PpmDeviceMaintainRuleSet].actions.action[PpmDeviceMaintain_MainTainCorp_ActionInfo].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="携带字段属性_repaircorp" />
            <lang locale="zh_TW" value="攜帶字段屬性_repaircorp" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.propertymgmt.app.PpmDeviceMaintainRuleSet].actions.action[PpmDeviceMaintain_MainTainCorp_ActionInfo].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.propertymgmt.app.PpmDeviceMaintainRuleSet].actions.action[PpmDeviceMaintain_MaintainPeriod_ActionInfo].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="携带字段属性_maintainperiod" />
            <lang locale="zh_TW" value="攜帶字段屬性_maintainperiod" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.propertymgmt.app.PpmDeviceMaintainRuleSet].actions.action[PpmDeviceMaintain_MaintainPeriod_ActionInfo].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.propertymgmt.app.PpmDeviceMaintainRuleSet].actions.action[PpmDeviceMaintain_PeriodType_ActionInfo].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="携带字段属性_mperiodtype" />
            <lang locale="zh_TW" value="攜帶字段屬性_mperiodtype" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.propertymgmt.app.PpmDeviceMaintainRuleSet].actions.action[PpmDeviceMaintain_PeriodType_ActionInfo].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.propertymgmt.app.PpmDeviceMaintainRuleSet].actions.action[PpmDeviceMaintain_maintainCorp_ActionInfo].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="携带字段属性_repaircorp" />
            <lang locale="zh_TW" value="攜帶字段屬性_repaircorp" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.propertymgmt.app.PpmDeviceMaintainRuleSet].actions.action[PpmDeviceMaintain_maintainCorp_ActionInfo].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.propertymgmt.app.PpmDeviceMaintainRuleSet].actions.action[PpmDeviceMaintain_preMaintainDay_ActionInfo].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="携带字段属性_preDate" />
            <lang locale="zh_TW" value="攜帶字段屬性_preDate" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.propertymgmt.app.PpmDeviceMaintainRuleSet].actions.action[PpmDeviceMaintain_preMaintainDay_ActionInfo].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.propertymgmt.app.PpmDeviceMaintainRuleSet].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.propertymgmt.app.PpmDeviceMaintainRuleSet].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
    </resource>
</ruleSet>

