<?xml version="1.0" encoding="UTF-8"?>
<ruleSet xmlns="com.kingdee.bos.metadata">
    <package>com.kingdee.eas.fdc.propertymgmt.app</package>
    <name>PpmDeviceRepairAcceptRuleSet</name>
    <alias>ruleSet[com.kingdee.eas.fdc.propertymgmt.app.PpmDeviceRepairAcceptRuleSet].alias</alias>
    <description>ruleSet[com.kingdee.eas.fdc.propertymgmt.app.PpmDeviceRepairAcceptRuleSet].description</description>
    <userDefined>true</userDefined>
    <expressions>
        <groupExpression>
            <id>161fccc6-7ebe-4469-8edf-77ce5294cdc3</id>
            <parentID />
            <source> [entrys.totalprice] = [entrys.amount] * [entrys.unitprice] </source>
            <operator>=</operator>
        </groupExpression>
        <simpleExpression>
            <id>54ce9e31-489d-4d07-9d50-d7f689ab89df</id>
            <parentID>161fccc6-7ebe-4469-8edf-77ce5294cdc3</parentID>
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>BigDecimal</valueType>
            <value />
            <property>
                <ownerID>94048fea-76f2-44e3-b9ba-5bfafa7fb9fe</ownerID>
                <name>value</name>
                <type>Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>94048fea-76f2-44e3-b9ba-5bfafa7fb9fe</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>kdtEntrys.getCell(rowIndex,"totalprice")</value>
        </simpleExpression>
        <groupExpression>
            <id>e109cdb8-8a55-4f2d-aaaf-3289a5f9764d</id>
            <parentID>161fccc6-7ebe-4469-8edf-77ce5294cdc3</parentID>
            <source />
            <operator>*</operator>
        </groupExpression>
        <simpleExpression>
            <id>a6465baf-1d3c-4c61-bbda-4cff6e144ec6</id>
            <parentID>e109cdb8-8a55-4f2d-aaaf-3289a5f9764d</parentID>
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>BigDecimal</valueType>
            <value />
            <property>
                <ownerID>1b0dd9d4-a408-412f-9b60-5a16c6a4c348</ownerID>
                <name>value</name>
                <type>Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>1b0dd9d4-a408-412f-9b60-5a16c6a4c348</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>kdtEntrys.getCell(rowIndex,"amount")</value>
        </simpleExpression>
        <simpleExpression>
            <id>aa975b70-2a50-4606-9665-45aed2775e55</id>
            <parentID>e109cdb8-8a55-4f2d-aaaf-3289a5f9764d</parentID>
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>BigDecimal</valueType>
            <value />
            <property>
                <ownerID>7c0c310a-0e46-4f7b-a8f8-3bb935f73889</ownerID>
                <name>value</name>
                <type>Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>7c0c310a-0e46-4f7b-a8f8-3bb935f73889</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>kdtEntrys.getCell(rowIndex,"unitprice")</value>
        </simpleExpression>
        <groupExpression>
            <id>810c4be6-11e8-4fb3-bb4d-f5e852691d07</id>
            <parentID />
            <source> [entrys.totalprice] = [entrys.amount] * [entrys.unitprice] </source>
            <operator>=</operator>
        </groupExpression>
        <simpleExpression>
            <id>c27101a1-0beb-4057-8e72-e68e40d51dce</id>
            <parentID>810c4be6-11e8-4fb3-bb4d-f5e852691d07</parentID>
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>BigDecimal</valueType>
            <value />
            <property>
                <ownerID>2d84c921-25d3-4ca7-8262-da2a4af08fe9</ownerID>
                <name>value</name>
                <type>Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>2d84c921-25d3-4ca7-8262-da2a4af08fe9</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>kdtEntrys.getCell(rowIndex,"totalprice")</value>
        </simpleExpression>
        <groupExpression>
            <id>cd99c25b-6be2-48ab-97e9-86a5fe450c70</id>
            <parentID>810c4be6-11e8-4fb3-bb4d-f5e852691d07</parentID>
            <source />
            <operator>*</operator>
        </groupExpression>
        <simpleExpression>
            <id>d357a514-24f3-4db0-9b0a-d1efbb69a6af</id>
            <parentID>cd99c25b-6be2-48ab-97e9-86a5fe450c70</parentID>
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>BigDecimal</valueType>
            <value />
            <property>
                <ownerID>64a649bf-081b-4427-a746-1db92955eff9</ownerID>
                <name>value</name>
                <type>Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>64a649bf-081b-4427-a746-1db92955eff9</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>kdtEntrys.getCell(rowIndex,"amount")</value>
        </simpleExpression>
        <simpleExpression>
            <id>66c24342-d1a5-489c-8d48-b8e1969605f2</id>
            <parentID>cd99c25b-6be2-48ab-97e9-86a5fe450c70</parentID>
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>BigDecimal</valueType>
            <value />
            <property>
                <ownerID>aca4247b-9359-4f0e-8aa2-2af8e28b2d28</ownerID>
                <name>value</name>
                <type>Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>aca4247b-9359-4f0e-8aa2-2af8e28b2d28</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>kdtEntrys.getCell(rowIndex,"unitprice")</value>
        </simpleExpression>
        <groupExpression>
            <id>e775fac2-3802-486b-9063-ce6f75d8f4a2</id>
            <parentID />
            <source> ISNULL( [entrys.amount] ) OR ISNULL( [entrys.unitprice] ) </source>
            <operator> || </operator>
        </groupExpression>
        <simpleExpression>
            <id>be847395-c223-439b-98e5-f54303d073f2</id>
            <parentID>e775fac2-3802-486b-9063-ce6f75d8f4a2</parentID>
            <source />
            <type>METHODINVOKE</type>
            <valueType>boolean</valueType>
            <value />
            <method>
                <ownerID>0a2387a1-d881-40b6-9d38-fa27e760ae31</ownerID>
                <name>isNull</name>
                <type>boolean</type>
                <parameters>
                    <parameter>
                        <id>56d4d41c-183a-474a-99ba-84e06feeae91</id>
                        <expressionID>d34b30ea-7566-4000-bf78-4c0516160435</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>0a2387a1-d881-40b6-9d38-fa27e760ae31</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>com.kingdee.bos.ui.face.UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>d34b30ea-7566-4000-bf78-4c0516160435</id>
            <parentID />
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>BigDecimal</valueType>
            <value />
            <property>
                <ownerID>54e9c930-5ade-43e7-a5e5-a76124162552</ownerID>
                <name>value</name>
                <type>Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>54e9c930-5ade-43e7-a5e5-a76124162552</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>kdtEntrys.getCell(rowIndex,"amount")</value>
        </simpleExpression>
        <simpleExpression>
            <id>6873c021-cc0f-42f2-ab34-fd2dc37dbfad</id>
            <parentID>e775fac2-3802-486b-9063-ce6f75d8f4a2</parentID>
            <source />
            <type>METHODINVOKE</type>
            <valueType>boolean</valueType>
            <value />
            <method>
                <ownerID>7f5e29f5-2991-4054-b383-11bd7dfb11a2</ownerID>
                <name>isNull</name>
                <type>boolean</type>
                <parameters>
                    <parameter>
                        <id>a47252a1-4b21-4f16-a77c-075abdccb025</id>
                        <expressionID>fac778d9-7231-4e8d-9e02-81f0f424d1e7</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>7f5e29f5-2991-4054-b383-11bd7dfb11a2</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>com.kingdee.bos.ui.face.UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>fac778d9-7231-4e8d-9e02-81f0f424d1e7</id>
            <parentID />
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>BigDecimal</valueType>
            <value />
            <property>
                <ownerID>dc1bc311-4a95-4b1b-aee8-21fab508787f</ownerID>
                <name>value</name>
                <type>Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>dc1bc311-4a95-4b1b-aee8-21fab508787f</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>kdtEntrys.getCell(rowIndex,"unitprice")</value>
        </simpleExpression>
        <groupExpression>
            <id>a77b5344-bfe6-4d33-9b79-953e1bacc9e2</id>
            <parentID />
            <source> ISNULL( [entrys.amount] ) OR  ISNULL( [entrys.unitprice] ) </source>
            <operator> || </operator>
        </groupExpression>
        <simpleExpression>
            <id>59709022-db7f-4562-9cc1-a982c548d7db</id>
            <parentID>a77b5344-bfe6-4d33-9b79-953e1bacc9e2</parentID>
            <source />
            <type>METHODINVOKE</type>
            <valueType>boolean</valueType>
            <value />
            <method>
                <ownerID>1a3d4261-d231-4c0a-ba9b-c477e642fcfe</ownerID>
                <name>isNull</name>
                <type>boolean</type>
                <parameters>
                    <parameter>
                        <id>d031ffd6-b7c6-4b64-a178-d7e9da7d20eb</id>
                        <expressionID>5c449654-5af2-4e7e-b802-410b207d0052</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>1a3d4261-d231-4c0a-ba9b-c477e642fcfe</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>com.kingdee.bos.ui.face.UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>5c449654-5af2-4e7e-b802-410b207d0052</id>
            <parentID />
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>BigDecimal</valueType>
            <value />
            <property>
                <ownerID>7e4726ec-eef2-4949-8b99-0abeadb9997c</ownerID>
                <name>value</name>
                <type>Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>7e4726ec-eef2-4949-8b99-0abeadb9997c</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>kdtEntrys.getCell(rowIndex,"amount")</value>
        </simpleExpression>
        <simpleExpression>
            <id>278c61e2-eb35-4d15-98d5-68f40b225db4</id>
            <parentID>a77b5344-bfe6-4d33-9b79-953e1bacc9e2</parentID>
            <source />
            <type>METHODINVOKE</type>
            <valueType>boolean</valueType>
            <value />
            <method>
                <ownerID>87813d32-f3ee-4247-9424-f4ea109c7a40</ownerID>
                <name>isNull</name>
                <type>boolean</type>
                <parameters>
                    <parameter>
                        <id>10314fe8-4f50-471b-afc6-0a8a07b4a9db</id>
                        <expressionID>a4128055-b7e5-4fa1-b30e-3de158554033</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>87813d32-f3ee-4247-9424-f4ea109c7a40</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>com.kingdee.bos.ui.face.UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>a4128055-b7e5-4fa1-b30e-3de158554033</id>
            <parentID />
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>BigDecimal</valueType>
            <value />
            <property>
                <ownerID>0e9787e8-7dc8-4493-9f3c-eb55a8da93f0</ownerID>
                <name>value</name>
                <type>Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>0e9787e8-7dc8-4493-9f3c-eb55a8da93f0</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>kdtEntrys.getCell(rowIndex,"unitprice")</value>
        </simpleExpression>
    </expressions>
    <actions>
        <action>
            <id>dbd10940-bbdc-410c-ace3-dba086e6bbf9</id>
            <name>AU_B1XVI</name>
            <alias>ruleSet[com.kingdee.eas.fdc.propertymgmt.app.PpmDeviceRepairAcceptRuleSet].actions.action[AU_B1XVI].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.propertymgmt.app.PpmDeviceRepairAcceptRuleSet].actions.action[AU_B1XVI].description</description>
            <expressionID>161fccc6-7ebe-4469-8edf-77ce5294cdc3</expressionID>
        </action>
        <action>
            <id>8e238962-3575-437b-addd-9a265938c5ed</id>
            <name>AU_BF2NH</name>
            <alias>ruleSet[com.kingdee.eas.fdc.propertymgmt.app.PpmDeviceRepairAcceptRuleSet].actions.action[AU_BF2NH].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.propertymgmt.app.PpmDeviceRepairAcceptRuleSet].actions.action[AU_BF2NH].description</description>
            <expressionID>810c4be6-11e8-4fb3-bb4d-f5e852691d07</expressionID>
        </action>
    </actions>
    <conditions>
        <baseCondition>
            <id>f30117d6-cc22-4435-b9f5-f7c83c5ba079</id>
            <name>AU_B3YWK</name>
            <alias>ruleSet[com.kingdee.eas.fdc.propertymgmt.app.PpmDeviceRepairAcceptRuleSet].conditions.baseCondition[AU_B3YWK].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.propertymgmt.app.PpmDeviceRepairAcceptRuleSet].conditions.baseCondition[AU_B3YWK].description</description>
            <expressionID>e775fac2-3802-486b-9063-ce6f75d8f4a2</expressionID>
        </baseCondition>
        <baseCondition>
            <id>daaba33c-10de-4f7a-bbd9-2deb474c1835</id>
            <name>AU_BGT4V</name>
            <alias>ruleSet[com.kingdee.eas.fdc.propertymgmt.app.PpmDeviceRepairAcceptRuleSet].conditions.baseCondition[AU_BGT4V].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.propertymgmt.app.PpmDeviceRepairAcceptRuleSet].conditions.baseCondition[AU_BGT4V].description</description>
            <expressionID>a77b5344-bfe6-4d33-9b79-953e1bacc9e2</expressionID>
        </baseCondition>
    </conditions>
    <rules>
        <conditionRule>
            <name>AU_B3YWK</name>
            <alias>ruleSet[com.kingdee.eas.fdc.propertymgmt.app.PpmDeviceRepairAcceptRuleSet].rules.conditionRule[AU_B3YWK].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.propertymgmt.app.PpmDeviceRepairAcceptRuleSet].rules.conditionRule[AU_B3YWK].description</description>
            <ruleType>calculate</ruleType>
            <eventObjectName />
            <eventType>CHANGE</eventType>
            <eventName>CHANGE</eventName>
            <condition>
                <key name="id" value="f30117d6-cc22-4435-b9f5-f7c83c5ba079" />
            </condition>
            <exceptionActions>
                <action>
                    <key name="id" value="dbd10940-bbdc-410c-ace3-dba086e6bbf9" />
                </action>
            </exceptionActions>
        </conditionRule>
        <conditionRule>
            <name>AU_BGT4V</name>
            <alias>ruleSet[com.kingdee.eas.fdc.propertymgmt.app.PpmDeviceRepairAcceptRuleSet].rules.conditionRule[AU_BGT4V].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.propertymgmt.app.PpmDeviceRepairAcceptRuleSet].rules.conditionRule[AU_BGT4V].description</description>
            <ruleType>calculate</ruleType>
            <eventObjectName />
            <eventType>CHANGE</eventType>
            <eventName>CHANGE</eventName>
            <condition>
                <key name="id" value="daaba33c-10de-4f7a-bbd9-2deb474c1835" />
            </condition>
            <exceptionActions>
                <action>
                    <key name="id" value="8e238962-3575-437b-addd-9a265938c5ed" />
                </action>
            </exceptionActions>
        </conditionRule>
    </rules>
    <resource>
        <rs key="ruleSet[com.kingdee.eas.fdc.propertymgmt.app.PpmDeviceRepairAcceptRuleSet].actions.action[AU_B1XVI].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.propertymgmt.app.PpmDeviceRepairAcceptRuleSet].actions.action[AU_B1XVI].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.propertymgmt.app.PpmDeviceRepairAcceptRuleSet].actions.action[AU_BF2NH].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.propertymgmt.app.PpmDeviceRepairAcceptRuleSet].actions.action[AU_BF2NH].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.propertymgmt.app.PpmDeviceRepairAcceptRuleSet].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.propertymgmt.app.PpmDeviceRepairAcceptRuleSet].conditions.baseCondition[AU_B3YWK].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.propertymgmt.app.PpmDeviceRepairAcceptRuleSet].conditions.baseCondition[AU_B3YWK].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.propertymgmt.app.PpmDeviceRepairAcceptRuleSet].conditions.baseCondition[AU_BGT4V].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.propertymgmt.app.PpmDeviceRepairAcceptRuleSet].conditions.baseCondition[AU_BGT4V].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.propertymgmt.app.PpmDeviceRepairAcceptRuleSet].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.propertymgmt.app.PpmDeviceRepairAcceptRuleSet].rules.conditionRule[AU_B3YWK].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="CalculateEvent0002" />
            <lang locale="zh_TW" value="CalculateEvent0002" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.propertymgmt.app.PpmDeviceRepairAcceptRuleSet].rules.conditionRule[AU_B3YWK].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.propertymgmt.app.PpmDeviceRepairAcceptRuleSet].rules.conditionRule[AU_B3YWK].extendedProperty.columnName">
            <lang locale="en_US" value="amount" />
            <lang locale="zh_CN" value="amount" />
            <lang locale="zh_TW" value="amount" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.propertymgmt.app.PpmDeviceRepairAcceptRuleSet].rules.conditionRule[AU_BGT4V].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="CalculateEventprice" />
            <lang locale="zh_TW" value="CalculateEventprice" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.propertymgmt.app.PpmDeviceRepairAcceptRuleSet].rules.conditionRule[AU_BGT4V].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.propertymgmt.app.PpmDeviceRepairAcceptRuleSet].rules.conditionRule[AU_BGT4V].extendedProperty.columnName">
            <lang locale="en_US" value="unitprice" />
            <lang locale="zh_CN" value="unitprice" />
            <lang locale="zh_TW" value="unitprice" />
        </rs>
    </resource>
</ruleSet>

