<?xml version="1.0" encoding="UTF-8"?>
<ruleSet xmlns="com.kingdee.bos.metadata">
    <package>com.kingdee.eas.fdc.propertymgmt.app</package>
    <name>PpmFireControlCheckPlanRuleSet</name>
    <alias>ruleSet[com.kingdee.eas.fdc.propertymgmt.app.PpmFireControlCheckPlanRuleSet].alias</alias>
    <description>ruleSet[com.kingdee.eas.fdc.propertymgmt.app.PpmFireControlCheckPlanRuleSet].description</description>
    <userDefined>true</userDefined>
    <expressions>
        <groupExpression>
            <id>d4146c67-dd70-44ac-9ab2-39933505d11f</id>
            <parentID />
            <source>controllevel=controlarea.controlleve.name</source>
            <operator>=</operator>
        </groupExpression>
        <simpleExpression>
            <id>cc558d44-b13f-44a8-abbb-ef07511255d6</id>
            <parentID>d4146c67-dd70-44ac-9ab2-39933505d11f</parentID>
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>String</valueType>
            <value />
            <property>
                <ownerID>df8dec85-8801-4482-80dc-7283120d4446</ownerID>
                <name>text</name>
                <type>java.lang.String</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>df8dec85-8801-4482-80dc-7283120d4446</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>txtcontrollevel</value>
        </simpleExpression>
        <simpleExpression>
            <id>f4bfc7ab-a58e-4431-b473-30de53cb39e1</id>
            <parentID>d4146c67-dd70-44ac-9ab2-39933505d11f</parentID>
            <source />
            <type>METHODINVOKE</type>
            <valueType>String</valueType>
            <value />
            <method>
                <ownerID>4f125d30-c1ba-4153-abec-fd6ee00ae78e</ownerID>
                <name>getProperty</name>
                <type>Object</type>
                <parameters>
                    <parameter>
                        <id>8ff1161e-6c35-40ff-9e2a-ae05a505c7a9</id>
                        <expressionID>d7bbebfe-a29e-479a-a62a-e13e069fea6b</expressionID>
                    </parameter>
                    <parameter>
                        <id>ad33389c-8899-490b-a9c9-d776cf36de78</id>
                        <expressionID>56d54e85-6d38-4829-a5cc-ad80f71cca81</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>4f125d30-c1ba-4153-abec-fd6ee00ae78e</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>com.kingdee.bos.ui.face.UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>d7bbebfe-a29e-479a-a62a-e13e069fea6b</id>
            <parentID />
            <source />
            <type>METHODINVOKE</type>
            <valueType>Object</valueType>
            <value />
            <method>
                <ownerID>acfd5a04-f33a-482a-a82b-17e4516367b0</ownerID>
                <name>getData</name>
                <type>Object</type>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>acfd5a04-f33a-482a-a82b-17e4516367b0</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>(com.kingdee.bos.dao.IObjectValue)prmtcontrolarea</value>
        </simpleExpression>
        <simpleExpression>
            <id>56d54e85-6d38-4829-a5cc-ad80f71cca81</id>
            <parentID />
            <source />
            <type>CONST</type>
            <valueType>String</valueType>
            <value>controlleve.name</value>
        </simpleExpression>
    </expressions>
    <actions>
        <action>
            <id>b7c75015-4c99-4e01-801c-cf3fb74b5422</id>
            <name>PpmFireControlCheckPlan_controllevel_ActionInfo</name>
            <alias>ruleSet[com.kingdee.eas.fdc.propertymgmt.app.PpmFireControlCheckPlanRuleSet].actions.action[PpmFireControlCheckPlan_controllevel_ActionInfo].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.propertymgmt.app.PpmFireControlCheckPlanRuleSet].actions.action[PpmFireControlCheckPlan_controllevel_ActionInfo].description</description>
            <expressionID>d4146c67-dd70-44ac-9ab2-39933505d11f</expressionID>
        </action>
    </actions>
    <resource>
        <rs key="ruleSet[com.kingdee.eas.fdc.propertymgmt.app.PpmFireControlCheckPlanRuleSet].actions.action[PpmFireControlCheckPlan_controllevel_ActionInfo].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="携带字段属性_controlleve" />
            <lang locale="zh_TW" value="攜帶字段屬性_controlleve" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.propertymgmt.app.PpmFireControlCheckPlanRuleSet].actions.action[PpmFireControlCheckPlan_controllevel_ActionInfo].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.propertymgmt.app.PpmFireControlCheckPlanRuleSet].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.propertymgmt.app.PpmFireControlCheckPlanRuleSet].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
    </resource>
</ruleSet>

