<?xml version="1.0" encoding="UTF-8"?>
<ruleSet xmlns="com.kingdee.bos.metadata">
    <package>com.kingdee.eas.fdc.insider.app</package>
    <name>InsiderCodeRuleSet</name>
    <alias>ruleSet[com.kingdee.eas.fdc.insider.app.InsiderCodeRuleSet].alias</alias>
    <description>ruleSet[com.kingdee.eas.fdc.insider.app.InsiderCodeRuleSet].description</description>
    <userDefined>true</userDefined>
    <expressions>
        <simpleExpression>
            <id>09d189e0-eed5-406b-bb35-d928fcf25eec</id>
            <parentID />
            <source>UIRuleUtil.throwException("名称不能为空！")</source>
            <type>METHODINVOKE</type>
            <valueType>Unkown</valueType>
            <value />
            <method>
                <ownerID>9cb598e0-c4cf-447a-975d-5ddfcc2aafaf</ownerID>
                <name>throwException</name>
                <type>Unkown</type>
                <parameters>
                    <parameter>
                        <id>3f48dfd2-993c-4454-b34d-ed8b5ff4ab01</id>
                        <expressionID>4609f6e3-7eec-4e3d-9858-d3bc62047ada</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>9cb598e0-c4cf-447a-975d-5ddfcc2aafaf</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>4609f6e3-7eec-4e3d-9858-d3bc62047ada</id>
            <parentID />
            <source />
            <type>CONST</type>
            <valueType>String</valueType>
            <value>名称不能为空！</value>
        </simpleExpression>
        <simpleExpression>
            <id>abbe5dc8-8d2e-4d94-9ab3-a11cb2c94cd9</id>
            <parentID />
            <source>UIRuleUtil.throwException("编码不能为空！")</source>
            <type>METHODINVOKE</type>
            <valueType>Unkown</valueType>
            <value />
            <method>
                <ownerID>a2b60538-a08e-43e6-81f9-facdd4b7e6e9</ownerID>
                <name>throwException</name>
                <type>Unkown</type>
                <parameters>
                    <parameter>
                        <id>e3631c9b-23c6-49f4-bdd8-f504ef5b3fab</id>
                        <expressionID>40d78566-5d28-49b2-8d12-a3b5d618b387</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>a2b60538-a08e-43e6-81f9-facdd4b7e6e9</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>40d78566-5d28-49b2-8d12-a3b5d618b387</id>
            <parentID />
            <source />
            <type>CONST</type>
            <valueType>String</valueType>
            <value>编码不能为空！</value>
        </simpleExpression>
        <simpleExpression>
            <id>0cc8bd0b-9b42-4df1-a223-1b0bbd34a146</id>
            <parentID />
            <source>IsNull( [name] )</source>
            <type>METHODINVOKE</type>
            <valueType>boolean</valueType>
            <value />
            <method>
                <ownerID>54f07c5b-1c44-424a-a062-497cd6c9b8c8</ownerID>
                <name>isNull</name>
                <type>boolean</type>
                <parameters>
                    <parameter>
                        <id>51f057d0-afe9-4b7c-a203-3f86fa9c820f</id>
                        <expressionID>e20e71f6-0e64-41a4-8297-b3e61bce1dbd</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>54f07c5b-1c44-424a-a062-497cd6c9b8c8</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>com.kingdee.bos.ui.face.UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>e20e71f6-0e64-41a4-8297-b3e61bce1dbd</id>
            <parentID />
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>String</valueType>
            <value />
            <property>
                <ownerID>0d6328da-5b51-4693-a1c9-0aa4fecafac0</ownerID>
                <name>defaultLangItemData</name>
                <type>java.lang.Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>0d6328da-5b51-4693-a1c9-0aa4fecafac0</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>bizName</value>
        </simpleExpression>
        <simpleExpression>
            <id>884a9137-d229-4221-b7e9-bb5777c34ac3</id>
            <parentID />
            <source>IsNull( [number] )</source>
            <type>METHODINVOKE</type>
            <valueType>boolean</valueType>
            <value />
            <method>
                <ownerID>e4a3d2e6-fcee-44ac-b267-e24ba34dd31c</ownerID>
                <name>isNull</name>
                <type>boolean</type>
                <parameters>
                    <parameter>
                        <id>81c65c06-31b0-4a35-bdea-8a86b53d342c</id>
                        <expressionID>09cf47a5-7fda-4ae6-96b4-9aacdb2bbbd9</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>e4a3d2e6-fcee-44ac-b267-e24ba34dd31c</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>com.kingdee.bos.ui.face.UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>09cf47a5-7fda-4ae6-96b4-9aacdb2bbbd9</id>
            <parentID />
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>String</valueType>
            <value />
            <property>
                <ownerID>79c8b3ad-eb70-4271-bd62-590a4acc176b</ownerID>
                <name>text</name>
                <type>java.lang.String</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>79c8b3ad-eb70-4271-bd62-590a4acc176b</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>txtNumber</value>
        </simpleExpression>
    </expressions>
    <actions>
        <action>
            <id>1501ed0c-8178-48bd-aa4c-0f046eb4aae6</id>
            <name>ASLWXV4$</name>
            <alias>ruleSet[com.kingdee.eas.fdc.insider.app.InsiderCodeRuleSet].actions.action[ASLWXV4$].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.insider.app.InsiderCodeRuleSet].actions.action[ASLWXV4$].description</description>
            <expressionID>09d189e0-eed5-406b-bb35-d928fcf25eec</expressionID>
        </action>
        <action>
            <id>3523c4f9-0b55-4497-b43b-f3846e9bf71b</id>
            <name>ASLWYFV8</name>
            <alias>ruleSet[com.kingdee.eas.fdc.insider.app.InsiderCodeRuleSet].actions.action[ASLWYFV8].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.insider.app.InsiderCodeRuleSet].actions.action[ASLWYFV8].description</description>
            <expressionID>abbe5dc8-8d2e-4d94-9ab3-a11cb2c94cd9</expressionID>
        </action>
    </actions>
    <conditions>
        <baseCondition>
            <id>cd522142-6b87-4f57-a4b8-431adf8e5048</id>
            <name>ASLWY70K</name>
            <alias>ruleSet[com.kingdee.eas.fdc.insider.app.InsiderCodeRuleSet].conditions.baseCondition[ASLWY70K].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.insider.app.InsiderCodeRuleSet].conditions.baseCondition[ASLWY70K].description</description>
            <expressionID>0cc8bd0b-9b42-4df1-a223-1b0bbd34a146</expressionID>
        </baseCondition>
        <baseCondition>
            <id>0edabd82-5cdc-4861-9ccd-3cc5d06a9c1b</id>
            <name>ASLWYTGY</name>
            <alias>ruleSet[com.kingdee.eas.fdc.insider.app.InsiderCodeRuleSet].conditions.baseCondition[ASLWYTGY].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.insider.app.InsiderCodeRuleSet].conditions.baseCondition[ASLWYTGY].description</description>
            <expressionID>884a9137-d229-4221-b7e9-bb5777c34ac3</expressionID>
        </baseCondition>
    </conditions>
    <rules>
        <conditionRule>
            <name>ASLWY70K</name>
            <alias>ruleSet[com.kingdee.eas.fdc.insider.app.InsiderCodeRuleSet].rules.conditionRule[ASLWY70K].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.insider.app.InsiderCodeRuleSet].rules.conditionRule[ASLWY70K].description</description>
            <ruleType>validate</ruleType>
            <eventObjectName />
            <eventType>SUBMIT</eventType>
            <eventName>SUBMIT</eventName>
            <condition>
                <key name="id" value="cd522142-6b87-4f57-a4b8-431adf8e5048" />
            </condition>
            <actions>
                <action>
                    <key name="id" value="1501ed0c-8178-48bd-aa4c-0f046eb4aae6" />
                </action>
            </actions>
        </conditionRule>
        <conditionRule>
            <name>ASLWYTGY</name>
            <alias>ruleSet[com.kingdee.eas.fdc.insider.app.InsiderCodeRuleSet].rules.conditionRule[ASLWYTGY].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.insider.app.InsiderCodeRuleSet].rules.conditionRule[ASLWYTGY].description</description>
            <ruleType>validate</ruleType>
            <eventObjectName />
            <eventType>SUBMIT</eventType>
            <eventName>SUBMIT</eventName>
            <condition>
                <key name="id" value="0edabd82-5cdc-4861-9ccd-3cc5d06a9c1b" />
            </condition>
            <actions>
                <action>
                    <key name="id" value="3523c4f9-0b55-4497-b43b-f3846e9bf71b" />
                </action>
            </actions>
        </conditionRule>
    </rules>
    <resource>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.InsiderCodeRuleSet].actions.action[ASLWXV4$].alias">
            <lang locale="zh_CN" value="" />
            <lang locale="zh_TW" value="null" />
            <lang locale="en_US" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.InsiderCodeRuleSet].actions.action[ASLWXV4$].description">
            <lang locale="zh_CN" value="null" />
            <lang locale="en_US" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.InsiderCodeRuleSet].actions.action[ASLWYFV8].alias">
            <lang locale="zh_CN" value="" />
            <lang locale="zh_TW" value="null" />
            <lang locale="en_US" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.InsiderCodeRuleSet].actions.action[ASLWYFV8].description">
            <lang locale="zh_CN" value="null" />
            <lang locale="en_US" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.InsiderCodeRuleSet].alias">
            <lang locale="zh_CN" value="null" />
            <lang locale="en_US" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.InsiderCodeRuleSet].conditions.baseCondition[ASLWY70K].alias">
            <lang locale="zh_CN" value="" />
            <lang locale="zh_TW" value="null" />
            <lang locale="en_US" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.InsiderCodeRuleSet].conditions.baseCondition[ASLWY70K].description">
            <lang locale="zh_CN" value="null" />
            <lang locale="en_US" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.InsiderCodeRuleSet].conditions.baseCondition[ASLWYTGY].alias">
            <lang locale="zh_CN" value="" />
            <lang locale="zh_TW" value="null" />
            <lang locale="en_US" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.InsiderCodeRuleSet].conditions.baseCondition[ASLWYTGY].description">
            <lang locale="zh_CN" value="null" />
            <lang locale="en_US" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.InsiderCodeRuleSet].description">
            <lang locale="zh_CN" value="null" />
            <lang locale="en_US" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.InsiderCodeRuleSet].rules.conditionRule[ASLWY70K].alias">
            <lang locale="zh_CN" value="ValidateEvent0005" />
            <lang locale="en_US" value="null" />
            <lang locale="zh_HK" value="ValidateEvent0005" />
            <lang locale="zh_TW" value="ValidateEvent0005" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.InsiderCodeRuleSet].rules.conditionRule[ASLWY70K].description">
            <lang locale="zh_CN" value="null" />
            <lang locale="en_US" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.InsiderCodeRuleSet].rules.conditionRule[ASLWY70K].extendedProperty.columnName">
            <lang locale="zh_CN" value="name" />
            <lang locale="zh_TW" value="name" />
            <lang locale="en_US" value="name" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.InsiderCodeRuleSet].rules.conditionRule[ASLWYTGY].alias">
            <lang locale="zh_CN" value="ValidateEvent0006" />
            <lang locale="en_US" value="null" />
            <lang locale="zh_HK" value="ValidateEvent0006" />
            <lang locale="zh_TW" value="ValidateEvent0006" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.InsiderCodeRuleSet].rules.conditionRule[ASLWYTGY].description">
            <lang locale="zh_CN" value="null" />
            <lang locale="en_US" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.InsiderCodeRuleSet].rules.conditionRule[ASLWYTGY].extendedProperty.columnName">
            <lang locale="zh_CN" value="number" />
            <lang locale="zh_TW" value="number" />
            <lang locale="en_US" value="number" />
        </rs>
    </resource>
</ruleSet>

