<?xml version="1.0" encoding="UTF-8"?>
<ruleSet xmlns="com.kingdee.bos.metadata">
    <package>com.kingdee.eas.fdc.insider.app</package>
    <name>InsiderTypeRuleSet</name>
    <alias>ruleSet[com.kingdee.eas.fdc.insider.app.InsiderTypeRuleSet].alias</alias>
    <description>ruleSet[com.kingdee.eas.fdc.insider.app.InsiderTypeRuleSet].description</description>
    <userDefined>true</userDefined>
    <expressions>
        <simpleExpression>
            <id>7a865701-86ee-4bda-991b-cca96d17182b</id>
            <parentID />
            <source>UIRuleUtil.throwException("编码不能为空！")</source>
            <type>METHODINVOKE</type>
            <valueType>Unkown</valueType>
            <value />
            <method>
                <ownerID>1e89f8d3-0da7-4e30-9965-c8ef1aebcc32</ownerID>
                <name>throwException</name>
                <type>Unkown</type>
                <parameters>
                    <parameter>
                        <id>f0b692a3-2dcd-4014-8eef-58f4a1400b20</id>
                        <expressionID>7f143db0-4508-4e88-852c-49b7957c30f5</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>1e89f8d3-0da7-4e30-9965-c8ef1aebcc32</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>7f143db0-4508-4e88-852c-49b7957c30f5</id>
            <parentID />
            <source />
            <type>CONST</type>
            <valueType>String</valueType>
            <value>编码不能为空！</value>
        </simpleExpression>
        <simpleExpression>
            <id>6a1166d1-abc6-489c-bec7-2e5239551230</id>
            <parentID />
            <source>UIRuleUtil.throwException("名称不能为空！")</source>
            <type>METHODINVOKE</type>
            <valueType>Unkown</valueType>
            <value />
            <method>
                <ownerID>fea95fea-b6f8-4d6e-bbf7-f35bafe77ec4</ownerID>
                <name>throwException</name>
                <type>Unkown</type>
                <parameters>
                    <parameter>
                        <id>beedc5c4-2ebc-4a37-b9eb-df32eeb34d99</id>
                        <expressionID>50f3d776-348c-40b1-ac53-7d87dff6b643</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>fea95fea-b6f8-4d6e-bbf7-f35bafe77ec4</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>50f3d776-348c-40b1-ac53-7d87dff6b643</id>
            <parentID />
            <source />
            <type>CONST</type>
            <valueType>String</valueType>
            <value>名称不能为空！</value>
        </simpleExpression>
        <simpleExpression>
            <id>1632eaab-a9bd-4bcb-8176-b40c33a38de0</id>
            <parentID />
            <source>ISNULL( [number] )</source>
            <type>METHODINVOKE</type>
            <valueType>boolean</valueType>
            <value />
            <method>
                <ownerID>56abce6e-e983-4f09-a991-bad4c1cbc8d5</ownerID>
                <name>isNull</name>
                <type>boolean</type>
                <parameters>
                    <parameter>
                        <id>2dc74114-e2fa-4fe3-a5a7-8db7f8e691c8</id>
                        <expressionID>d7cbe0d0-762a-4745-9e10-f91a6f9b75d9</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>56abce6e-e983-4f09-a991-bad4c1cbc8d5</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>com.kingdee.bos.ui.face.UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>d7cbe0d0-762a-4745-9e10-f91a6f9b75d9</id>
            <parentID />
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>String</valueType>
            <value />
            <property>
                <ownerID>02189ef2-fb61-42f6-be11-060c06b5ae4a</ownerID>
                <name>text</name>
                <type>java.lang.String</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>02189ef2-fb61-42f6-be11-060c06b5ae4a</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>txtNumber</value>
        </simpleExpression>
        <simpleExpression>
            <id>a4527964-161b-44f6-9a6b-58393afc84b4</id>
            <parentID />
            <source>ISNULL( [name] )</source>
            <type>METHODINVOKE</type>
            <valueType>boolean</valueType>
            <value />
            <method>
                <ownerID>2d98bca7-0bc0-48fc-9551-4ec6011d2ea2</ownerID>
                <name>isNull</name>
                <type>boolean</type>
                <parameters>
                    <parameter>
                        <id>8426be6e-ee0a-46fd-8dcb-0d72e33e6bcd</id>
                        <expressionID>c3d27cf8-2ba2-427c-911d-2563ba502e5f</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>2d98bca7-0bc0-48fc-9551-4ec6011d2ea2</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>com.kingdee.bos.ui.face.UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>c3d27cf8-2ba2-427c-911d-2563ba502e5f</id>
            <parentID />
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>String</valueType>
            <value />
            <property>
                <ownerID>f3181ec1-7f33-4933-a850-cbffa8b0cfb0</ownerID>
                <name>defaultLangItemData</name>
                <type>java.lang.Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>f3181ec1-7f33-4933-a850-cbffa8b0cfb0</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>txtName</value>
        </simpleExpression>
    </expressions>
    <actions>
        <action>
            <id>22d172b2-821e-4015-8046-931adbfeff37</id>
            <name>ASQ7BB2I</name>
            <alias>ruleSet[com.kingdee.eas.fdc.insider.app.InsiderTypeRuleSet].actions.action[ASQ7BB2I].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.insider.app.InsiderTypeRuleSet].actions.action[ASQ7BB2I].description</description>
            <expressionID>7a865701-86ee-4bda-991b-cca96d17182b</expressionID>
        </action>
        <action>
            <id>886f95ae-b542-47db-b535-6ff5848ec6e8</id>
            <name>ASQ7O77I</name>
            <alias>ruleSet[com.kingdee.eas.fdc.insider.app.InsiderTypeRuleSet].actions.action[ASQ7O77I].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.insider.app.InsiderTypeRuleSet].actions.action[ASQ7O77I].description</description>
            <expressionID>6a1166d1-abc6-489c-bec7-2e5239551230</expressionID>
        </action>
    </actions>
    <conditions>
        <baseCondition>
            <id>443733d5-9313-4642-9d0b-395d92a6de90</id>
            <name>ASQ7BP2_</name>
            <alias>ruleSet[com.kingdee.eas.fdc.insider.app.InsiderTypeRuleSet].conditions.baseCondition[ASQ7BP2_].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.insider.app.InsiderTypeRuleSet].conditions.baseCondition[ASQ7BP2_].description</description>
            <expressionID>1632eaab-a9bd-4bcb-8176-b40c33a38de0</expressionID>
        </baseCondition>
        <baseCondition>
            <id>5c464f08-cc59-474e-886c-20924e2218d3</id>
            <name>ASQ7P30G</name>
            <alias>ruleSet[com.kingdee.eas.fdc.insider.app.InsiderTypeRuleSet].conditions.baseCondition[ASQ7P30G].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.insider.app.InsiderTypeRuleSet].conditions.baseCondition[ASQ7P30G].description</description>
            <expressionID>a4527964-161b-44f6-9a6b-58393afc84b4</expressionID>
        </baseCondition>
    </conditions>
    <rules>
        <conditionRule>
            <name>ASQ7P30G</name>
            <alias>ruleSet[com.kingdee.eas.fdc.insider.app.InsiderTypeRuleSet].rules.conditionRule[ASQ7P30G].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.insider.app.InsiderTypeRuleSet].rules.conditionRule[ASQ7P30G].description</description>
            <ruleType>validate</ruleType>
            <eventObjectName />
            <eventType>SUBMIT</eventType>
            <eventName>SUBMIT</eventName>
            <condition>
                <key name="id" value="5c464f08-cc59-474e-886c-20924e2218d3" />
            </condition>
            <actions>
                <action>
                    <key name="id" value="886f95ae-b542-47db-b535-6ff5848ec6e8" />
                </action>
            </actions>
        </conditionRule>
        <conditionRule>
            <name>ASQ7BP2_</name>
            <alias>ruleSet[com.kingdee.eas.fdc.insider.app.InsiderTypeRuleSet].rules.conditionRule[ASQ7BP2_].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.insider.app.InsiderTypeRuleSet].rules.conditionRule[ASQ7BP2_].description</description>
            <ruleType>validate</ruleType>
            <eventObjectName />
            <eventType>SUBMIT</eventType>
            <eventName>SUBMIT</eventName>
            <condition>
                <key name="id" value="443733d5-9313-4642-9d0b-395d92a6de90" />
            </condition>
            <actions>
                <action>
                    <key name="id" value="22d172b2-821e-4015-8046-931adbfeff37" />
                </action>
            </actions>
        </conditionRule>
    </rules>
    <resource>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.InsiderTypeRuleSet].actions.action[ASQ7BB2I].alias">
            <lang locale="zh_CN" value="" />
            <lang locale="zh_TW" value="null" />
            <lang locale="en_US" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.InsiderTypeRuleSet].actions.action[ASQ7BB2I].description">
            <lang locale="zh_CN" value="null" />
            <lang locale="en_US" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.InsiderTypeRuleSet].actions.action[ASQ7O77I].alias">
            <lang locale="zh_CN" value="" />
            <lang locale="zh_TW" value="null" />
            <lang locale="en_US" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.InsiderTypeRuleSet].actions.action[ASQ7O77I].description">
            <lang locale="zh_CN" value="null" />
            <lang locale="en_US" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.InsiderTypeRuleSet].alias">
            <lang locale="zh_CN" value="null" />
            <lang locale="en_US" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.InsiderTypeRuleSet].conditions.baseCondition[ASQ7BP2_].alias">
            <lang locale="zh_CN" value="" />
            <lang locale="zh_TW" value="null" />
            <lang locale="en_US" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.InsiderTypeRuleSet].conditions.baseCondition[ASQ7BP2_].description">
            <lang locale="zh_CN" value="null" />
            <lang locale="en_US" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.InsiderTypeRuleSet].conditions.baseCondition[ASQ7P30G].alias">
            <lang locale="zh_CN" value="" />
            <lang locale="zh_TW" value="null" />
            <lang locale="en_US" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.InsiderTypeRuleSet].conditions.baseCondition[ASQ7P30G].description">
            <lang locale="zh_CN" value="null" />
            <lang locale="en_US" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.InsiderTypeRuleSet].description">
            <lang locale="zh_CN" value="null" />
            <lang locale="en_US" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.InsiderTypeRuleSet].rules.conditionRule[ASQ7BP2_].alias">
            <lang locale="zh_CN" value="ValidateEvent0001" />
            <lang locale="en_US" value="null" />
            <lang locale="zh_HK" value="ValidateEvent0001" />
            <lang locale="zh_TW" value="ValidateEvent0001" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.InsiderTypeRuleSet].rules.conditionRule[ASQ7BP2_].description">
            <lang locale="zh_CN" value="null" />
            <lang locale="en_US" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.InsiderTypeRuleSet].rules.conditionRule[ASQ7BP2_].extendedProperty.columnName">
            <lang locale="zh_CN" value="number" />
            <lang locale="zh_TW" value="number" />
            <lang locale="en_US" value="number" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.InsiderTypeRuleSet].rules.conditionRule[ASQ7P30G].alias">
            <lang locale="zh_CN" value="ValidateEvent0002" />
            <lang locale="en_US" value="null" />
            <lang locale="zh_HK" value="ValidateEvent0002" />
            <lang locale="zh_TW" value="ValidateEvent0002" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.InsiderTypeRuleSet].rules.conditionRule[ASQ7P30G].description">
            <lang locale="zh_CN" value="null" />
            <lang locale="en_US" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.InsiderTypeRuleSet].rules.conditionRule[ASQ7P30G].extendedProperty.columnName">
            <lang locale="zh_CN" value="name" />
            <lang locale="zh_TW" value="name" />
            <lang locale="en_US" value="name" />
        </rs>
    </resource>
</ruleSet>

