<?xml version="1.0" encoding="UTF-8"?>
<ruleSet xmlns="com.kingdee.bos.metadata">
    <package>com.kingdee.eas.fdc.insider.app</package>
    <name>IntegralTypeRuleSet</name>
    <alias>ruleSet[com.kingdee.eas.fdc.insider.app.IntegralTypeRuleSet].alias</alias>
    <description>ruleSet[com.kingdee.eas.fdc.insider.app.IntegralTypeRuleSet].description</description>
    <userDefined>true</userDefined>
    <expressions>
        <simpleExpression>
            <id>877e6da1-d442-4fb9-bb4e-24d3bbd6bdc7</id>
            <parentID />
            <source>UIRuleUtil.throwException("名称不能为空！")</source>
            <type>METHODINVOKE</type>
            <valueType>Unkown</valueType>
            <value />
            <method>
                <ownerID>b625e863-7d0c-47fc-bc31-153db53b4070</ownerID>
                <name>throwException</name>
                <type>Unkown</type>
                <parameters>
                    <parameter>
                        <id>2b194b24-ea2d-4290-a62c-241ec81a4fc3</id>
                        <expressionID>e28e0c25-e6db-4f25-bbc0-85e03c91380b</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>b625e863-7d0c-47fc-bc31-153db53b4070</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>e28e0c25-e6db-4f25-bbc0-85e03c91380b</id>
            <parentID />
            <source />
            <type>CONST</type>
            <valueType>String</valueType>
            <value>名称不能为空！</value>
        </simpleExpression>
        <simpleExpression>
            <id>5d65fde1-c66a-43f1-b946-f309b1a970cd</id>
            <parentID />
            <source>UIRuleUtil.throwException("编码不能为空！")</source>
            <type>METHODINVOKE</type>
            <valueType>Unkown</valueType>
            <value />
            <method>
                <ownerID>1161cbb4-1b6f-447a-a226-d19424e04117</ownerID>
                <name>throwException</name>
                <type>Unkown</type>
                <parameters>
                    <parameter>
                        <id>aaa931df-ce25-48d1-9cee-1a8d3bbaa473</id>
                        <expressionID>487bbfd0-1bc8-44b4-be5b-cee15cc367c1</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>1161cbb4-1b6f-447a-a226-d19424e04117</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>487bbfd0-1bc8-44b4-be5b-cee15cc367c1</id>
            <parentID />
            <source />
            <type>CONST</type>
            <valueType>String</valueType>
            <value>编码不能为空！</value>
        </simpleExpression>
        <simpleExpression>
            <id>0ee21beb-ee15-4957-af06-d99cb52054c0</id>
            <parentID />
            <source>IsNull( [name] )</source>
            <type>METHODINVOKE</type>
            <valueType>boolean</valueType>
            <value />
            <method>
                <ownerID>e891b798-cb17-4e5d-a75f-8c16ca4a1367</ownerID>
                <name>isNull</name>
                <type>boolean</type>
                <parameters>
                    <parameter>
                        <id>494d0529-3665-4e4a-9aef-13642282dc45</id>
                        <expressionID>dc14fe0b-f707-4d6b-af02-377da9c338c9</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>e891b798-cb17-4e5d-a75f-8c16ca4a1367</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>com.kingdee.bos.ui.face.UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>dc14fe0b-f707-4d6b-af02-377da9c338c9</id>
            <parentID />
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>String</valueType>
            <value />
            <property>
                <ownerID>9b8b7464-d46f-4b0e-aabd-1f42362439cb</ownerID>
                <name>defaultLangItemData</name>
                <type>java.lang.Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>9b8b7464-d46f-4b0e-aabd-1f42362439cb</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>bizName</value>
        </simpleExpression>
        <simpleExpression>
            <id>e78b6888-78ab-450d-88be-a1832838b876</id>
            <parentID />
            <source>IsNull( [number] )</source>
            <type>METHODINVOKE</type>
            <valueType>boolean</valueType>
            <value />
            <method>
                <ownerID>ec6c3470-3d6e-45f9-8c12-d21d9350c522</ownerID>
                <name>isNull</name>
                <type>boolean</type>
                <parameters>
                    <parameter>
                        <id>eb486024-4362-406f-8da2-0857c32d342b</id>
                        <expressionID>b5262967-fe38-45a5-b6f1-1c0079149edd</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>ec6c3470-3d6e-45f9-8c12-d21d9350c522</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>com.kingdee.bos.ui.face.UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>b5262967-fe38-45a5-b6f1-1c0079149edd</id>
            <parentID />
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>String</valueType>
            <value />
            <property>
                <ownerID>9f7757b8-3d77-4402-8d9c-c8c42a26d0e9</ownerID>
                <name>text</name>
                <type>java.lang.String</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>9f7757b8-3d77-4402-8d9c-c8c42a26d0e9</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>txtNumber</value>
        </simpleExpression>
    </expressions>
    <actions>
        <action>
            <id>6377f65c-9212-4018-a47d-f34f328dac93</id>
            <name>ASLWOMI5</name>
            <alias>ruleSet[com.kingdee.eas.fdc.insider.app.IntegralTypeRuleSet].actions.action[ASLWOMI5].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.insider.app.IntegralTypeRuleSet].actions.action[ASLWOMI5].description</description>
            <expressionID>877e6da1-d442-4fb9-bb4e-24d3bbd6bdc7</expressionID>
        </action>
        <action>
            <id>e4c27e7c-68b7-4780-bb58-787ed1e71e83</id>
            <name>ASLWP1FO</name>
            <alias>ruleSet[com.kingdee.eas.fdc.insider.app.IntegralTypeRuleSet].actions.action[ASLWP1FO].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.insider.app.IntegralTypeRuleSet].actions.action[ASLWP1FO].description</description>
            <expressionID>5d65fde1-c66a-43f1-b946-f309b1a970cd</expressionID>
        </action>
    </actions>
    <conditions>
        <baseCondition>
            <id>75865f0a-7ba1-445c-b465-9500036b039e</id>
            <name>ASLWOYCE</name>
            <alias>ruleSet[com.kingdee.eas.fdc.insider.app.IntegralTypeRuleSet].conditions.baseCondition[ASLWOYCE].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.insider.app.IntegralTypeRuleSet].conditions.baseCondition[ASLWOYCE].description</description>
            <expressionID>0ee21beb-ee15-4957-af06-d99cb52054c0</expressionID>
        </baseCondition>
        <baseCondition>
            <id>89b1529c-f792-45f6-9354-9e43ed869aa7</id>
            <name>ASLWPCFV</name>
            <alias>ruleSet[com.kingdee.eas.fdc.insider.app.IntegralTypeRuleSet].conditions.baseCondition[ASLWPCFV].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.insider.app.IntegralTypeRuleSet].conditions.baseCondition[ASLWPCFV].description</description>
            <expressionID>e78b6888-78ab-450d-88be-a1832838b876</expressionID>
        </baseCondition>
    </conditions>
    <rules>
        <conditionRule>
            <name>ASLWOYCE</name>
            <alias>ruleSet[com.kingdee.eas.fdc.insider.app.IntegralTypeRuleSet].rules.conditionRule[ASLWOYCE].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.insider.app.IntegralTypeRuleSet].rules.conditionRule[ASLWOYCE].description</description>
            <ruleType>validate</ruleType>
            <eventObjectName />
            <eventType>SUBMIT</eventType>
            <eventName>SUBMIT</eventName>
            <condition>
                <key name="id" value="75865f0a-7ba1-445c-b465-9500036b039e" />
            </condition>
            <actions>
                <action>
                    <key name="id" value="6377f65c-9212-4018-a47d-f34f328dac93" />
                </action>
            </actions>
        </conditionRule>
        <conditionRule>
            <name>ASLWPCFV</name>
            <alias>ruleSet[com.kingdee.eas.fdc.insider.app.IntegralTypeRuleSet].rules.conditionRule[ASLWPCFV].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.insider.app.IntegralTypeRuleSet].rules.conditionRule[ASLWPCFV].description</description>
            <ruleType>validate</ruleType>
            <eventObjectName />
            <eventType>SUBMIT</eventType>
            <eventName>SUBMIT</eventName>
            <condition>
                <key name="id" value="89b1529c-f792-45f6-9354-9e43ed869aa7" />
            </condition>
            <actions>
                <action>
                    <key name="id" value="e4c27e7c-68b7-4780-bb58-787ed1e71e83" />
                </action>
            </actions>
        </conditionRule>
    </rules>
    <resource>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.IntegralTypeRuleSet].actions.action[ASLWOMI5].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.IntegralTypeRuleSet].actions.action[ASLWOMI5].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.IntegralTypeRuleSet].actions.action[ASLWP1FO].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.IntegralTypeRuleSet].actions.action[ASLWP1FO].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.IntegralTypeRuleSet].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.IntegralTypeRuleSet].conditions.baseCondition[ASLWOYCE].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.IntegralTypeRuleSet].conditions.baseCondition[ASLWOYCE].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.IntegralTypeRuleSet].conditions.baseCondition[ASLWPCFV].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.IntegralTypeRuleSet].conditions.baseCondition[ASLWPCFV].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.IntegralTypeRuleSet].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.IntegralTypeRuleSet].rules.conditionRule[ASLWOYCE].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="ValidateEvent0005" />
            <lang locale="zh_TW" value="ValidateEvent0005" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.IntegralTypeRuleSet].rules.conditionRule[ASLWOYCE].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.IntegralTypeRuleSet].rules.conditionRule[ASLWOYCE].extendedProperty.columnName">
            <lang locale="en_US" value="name" />
            <lang locale="zh_CN" value="name" />
            <lang locale="zh_TW" value="name" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.IntegralTypeRuleSet].rules.conditionRule[ASLWPCFV].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="ValidateEvent0006" />
            <lang locale="zh_TW" value="ValidateEvent0006" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.IntegralTypeRuleSet].rules.conditionRule[ASLWPCFV].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.IntegralTypeRuleSet].rules.conditionRule[ASLWPCFV].extendedProperty.columnName">
            <lang locale="en_US" value="number" />
            <lang locale="zh_CN" value="number" />
            <lang locale="zh_TW" value="number" />
        </rs>
    </resource>
</ruleSet>

