<?xml version="1.0" encoding="UTF-8"?>
<ruleSet xmlns="com.kingdee.bos.metadata">
    <package>com.kingdee.eas.fdc.insider.app</package>
    <name>IntegralExchangeRuleRuleSet</name>
    <alias>ruleSet[com.kingdee.eas.fdc.insider.app.IntegralExchangeRuleRuleSet].alias</alias>
    <description>ruleSet[com.kingdee.eas.fdc.insider.app.IntegralExchangeRuleRuleSet].description</description>
    <userDefined>true</userDefined>
    <expressions>
        <simpleExpression>
            <id>96ed7bc0-0de3-4c9f-878b-ced3bdf2d679</id>
            <parentID />
            <source>UIRuleUtil.throwException("编码不能为空！")</source>
            <type>METHODINVOKE</type>
            <valueType>Unkown</valueType>
            <value />
            <method>
                <ownerID>7f3a0f24-1456-407d-a4f7-93c15c12cc88</ownerID>
                <name>throwException</name>
                <type>Unkown</type>
                <parameters>
                    <parameter>
                        <id>c2e3dac9-5908-45b2-8780-31153790d520</id>
                        <expressionID>5f4fb319-cdd8-4426-88a3-5a023831d28f</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>7f3a0f24-1456-407d-a4f7-93c15c12cc88</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>5f4fb319-cdd8-4426-88a3-5a023831d28f</id>
            <parentID />
            <source />
            <type>CONST</type>
            <valueType>String</valueType>
            <value>编码不能为空！</value>
        </simpleExpression>
        <simpleExpression>
            <id>5b4c10f0-4286-4963-ae18-4f457163801e</id>
            <parentID />
            <source>UIRuleUtil.throwException("名称不能为空！")</source>
            <type>METHODINVOKE</type>
            <valueType>Unkown</valueType>
            <value />
            <method>
                <ownerID>55e22d0d-1171-49a2-b291-f75aeeb162ff</ownerID>
                <name>throwException</name>
                <type>Unkown</type>
                <parameters>
                    <parameter>
                        <id>d57a6e74-46d1-45cf-8add-a62929a81504</id>
                        <expressionID>9a11ed7c-9133-4667-991a-8d881bf3562c</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>55e22d0d-1171-49a2-b291-f75aeeb162ff</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>9a11ed7c-9133-4667-991a-8d881bf3562c</id>
            <parentID />
            <source />
            <type>CONST</type>
            <valueType>String</valueType>
            <value>名称不能为空！</value>
        </simpleExpression>
        <simpleExpression>
            <id>186c01e2-8117-426b-8211-6465853b3362</id>
            <parentID />
            <source>ISNULL( [number] )</source>
            <type>METHODINVOKE</type>
            <valueType>boolean</valueType>
            <value />
            <method>
                <ownerID>3305cd72-289a-4a1f-8b29-5a77b432c9ee</ownerID>
                <name>isNull</name>
                <type>boolean</type>
                <parameters>
                    <parameter>
                        <id>1cd88411-e6ef-4f42-8b1a-d822d4d10224</id>
                        <expressionID>67691778-a8a6-4ec0-bdc8-403a946d652b</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>3305cd72-289a-4a1f-8b29-5a77b432c9ee</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>com.kingdee.bos.ui.face.UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>67691778-a8a6-4ec0-bdc8-403a946d652b</id>
            <parentID />
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>String</valueType>
            <value />
            <property>
                <ownerID>45a42fc7-29d2-4f7c-b802-b24406ab12ae</ownerID>
                <name>text</name>
                <type>java.lang.String</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>45a42fc7-29d2-4f7c-b802-b24406ab12ae</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>txtNumber</value>
        </simpleExpression>
        <simpleExpression>
            <id>8dc8b689-530c-4460-9ebf-73806a63d071</id>
            <parentID />
            <source>ISNULL( [name] )</source>
            <type>METHODINVOKE</type>
            <valueType>boolean</valueType>
            <value />
            <method>
                <ownerID>98b2a9f0-ad5b-4df5-b780-54f28a9cd23a</ownerID>
                <name>isNull</name>
                <type>boolean</type>
                <parameters>
                    <parameter>
                        <id>072cc392-72ab-4a7a-97ea-5d9b4bb008af</id>
                        <expressionID>864ca92c-4ab5-4db3-a381-b1ee7268298b</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>98b2a9f0-ad5b-4df5-b780-54f28a9cd23a</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>com.kingdee.bos.ui.face.UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>864ca92c-4ab5-4db3-a381-b1ee7268298b</id>
            <parentID />
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>String</valueType>
            <value />
            <property>
                <ownerID>a29bbfc1-717a-48d3-a40b-70e29c8e16cf</ownerID>
                <name>defaultLangItemData</name>
                <type>java.lang.Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>a29bbfc1-717a-48d3-a40b-70e29c8e16cf</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>txtName</value>
        </simpleExpression>
    </expressions>
    <actions>
        <action>
            <id>e5c803af-cc17-4d72-a672-95b6543676b1</id>
            <name>ASXWTFY4</name>
            <alias>ruleSet[com.kingdee.eas.fdc.insider.app.IntegralExchangeRuleRuleSet].actions.action[ASXWTFY4].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.insider.app.IntegralExchangeRuleRuleSet].actions.action[ASXWTFY4].description</description>
            <expressionID>96ed7bc0-0de3-4c9f-878b-ced3bdf2d679</expressionID>
        </action>
        <action>
            <id>ccaf7b77-1199-4989-be21-ec988757fecb</id>
            <name>ASXWUIB2</name>
            <alias>ruleSet[com.kingdee.eas.fdc.insider.app.IntegralExchangeRuleRuleSet].actions.action[ASXWUIB2].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.insider.app.IntegralExchangeRuleRuleSet].actions.action[ASXWUIB2].description</description>
            <expressionID>5b4c10f0-4286-4963-ae18-4f457163801e</expressionID>
        </action>
    </actions>
    <conditions>
        <baseCondition>
            <id>52fc55a7-e00c-4697-a596-af900937cf02</id>
            <name>ASXWU2TW</name>
            <alias>ruleSet[com.kingdee.eas.fdc.insider.app.IntegralExchangeRuleRuleSet].conditions.baseCondition[ASXWU2TW].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.insider.app.IntegralExchangeRuleRuleSet].conditions.baseCondition[ASXWU2TW].description</description>
            <expressionID>186c01e2-8117-426b-8211-6465853b3362</expressionID>
        </baseCondition>
        <baseCondition>
            <id>6554b343-add3-4d08-8297-a2ee0345c133</id>
            <name>ASXWV02B</name>
            <alias>ruleSet[com.kingdee.eas.fdc.insider.app.IntegralExchangeRuleRuleSet].conditions.baseCondition[ASXWV02B].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.insider.app.IntegralExchangeRuleRuleSet].conditions.baseCondition[ASXWV02B].description</description>
            <expressionID>8dc8b689-530c-4460-9ebf-73806a63d071</expressionID>
        </baseCondition>
    </conditions>
    <rules>
        <conditionRule>
            <name>ASXWV02B</name>
            <alias>ruleSet[com.kingdee.eas.fdc.insider.app.IntegralExchangeRuleRuleSet].rules.conditionRule[ASXWV02B].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.insider.app.IntegralExchangeRuleRuleSet].rules.conditionRule[ASXWV02B].description</description>
            <ruleType>validate</ruleType>
            <eventObjectName />
            <eventType>SUBMIT</eventType>
            <eventName>SUBMIT</eventName>
            <condition>
                <key name="id" value="6554b343-add3-4d08-8297-a2ee0345c133" />
            </condition>
            <actions>
                <action>
                    <key name="id" value="ccaf7b77-1199-4989-be21-ec988757fecb" />
                </action>
            </actions>
        </conditionRule>
        <conditionRule>
            <name>ASXWU2TW</name>
            <alias>ruleSet[com.kingdee.eas.fdc.insider.app.IntegralExchangeRuleRuleSet].rules.conditionRule[ASXWU2TW].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.insider.app.IntegralExchangeRuleRuleSet].rules.conditionRule[ASXWU2TW].description</description>
            <ruleType>validate</ruleType>
            <eventObjectName />
            <eventType>SUBMIT</eventType>
            <eventName>SUBMIT</eventName>
            <condition>
                <key name="id" value="52fc55a7-e00c-4697-a596-af900937cf02" />
            </condition>
            <actions>
                <action>
                    <key name="id" value="e5c803af-cc17-4d72-a672-95b6543676b1" />
                </action>
            </actions>
        </conditionRule>
    </rules>
    <resource>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.IntegralExchangeRuleRuleSet].actions.action[ASXWTFY4].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.IntegralExchangeRuleRuleSet].actions.action[ASXWTFY4].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.IntegralExchangeRuleRuleSet].actions.action[ASXWUIB2].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.IntegralExchangeRuleRuleSet].actions.action[ASXWUIB2].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.IntegralExchangeRuleRuleSet].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.IntegralExchangeRuleRuleSet].conditions.baseCondition[ASXWU2TW].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.IntegralExchangeRuleRuleSet].conditions.baseCondition[ASXWU2TW].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.IntegralExchangeRuleRuleSet].conditions.baseCondition[ASXWV02B].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.IntegralExchangeRuleRuleSet].conditions.baseCondition[ASXWV02B].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.IntegralExchangeRuleRuleSet].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.IntegralExchangeRuleRuleSet].rules.conditionRule[ASXWU2TW].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="isValidate" />
            <lang locale="zh_TW" value="isValidate" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.IntegralExchangeRuleRuleSet].rules.conditionRule[ASXWU2TW].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.IntegralExchangeRuleRuleSet].rules.conditionRule[ASXWU2TW].extendedProperty.columnName">
            <lang locale="en_US" value="number" />
            <lang locale="zh_CN" value="number" />
            <lang locale="zh_TW" value="number" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.IntegralExchangeRuleRuleSet].rules.conditionRule[ASXWV02B].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="isValidate" />
            <lang locale="zh_TW" value="isValidate" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.IntegralExchangeRuleRuleSet].rules.conditionRule[ASXWV02B].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.IntegralExchangeRuleRuleSet].rules.conditionRule[ASXWV02B].extendedProperty.columnName">
            <lang locale="en_US" value="name" />
            <lang locale="zh_CN" value="name" />
            <lang locale="zh_TW" value="name" />
        </rs>
    </resource>
</ruleSet>

