<?xml version="1.0" encoding="UTF-8"?>
<ruleSet xmlns="com.kingdee.bos.metadata">
    <package>com.kingdee.eas.fdc.insider.app</package>
    <name>IntergralLevelRuleSet</name>
    <alias>ruleSet[com.kingdee.eas.fdc.insider.app.IntergralLevelRuleSet].alias</alias>
    <description>ruleSet[com.kingdee.eas.fdc.insider.app.IntergralLevelRuleSet].description</description>
    <userDefined>true</userDefined>
    <expressions>
        <simpleExpression>
            <id>fbc49223-7ca5-450c-9e8d-81417f378df9</id>
            <parentID />
            <source>UIRuleUtil.throwException("编码不能为空！")</source>
            <type>METHODINVOKE</type>
            <valueType>Unkown</valueType>
            <value />
            <method>
                <ownerID>694794b7-3c7e-4f24-9707-f3f1e4bd7486</ownerID>
                <name>throwException</name>
                <type>Unkown</type>
                <parameters>
                    <parameter>
                        <id>8d722f9d-e819-4800-969e-b316bb229ea7</id>
                        <expressionID>40fe1aae-0eca-43c2-be28-f4b5c6504986</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>694794b7-3c7e-4f24-9707-f3f1e4bd7486</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>40fe1aae-0eca-43c2-be28-f4b5c6504986</id>
            <parentID />
            <source />
            <type>CONST</type>
            <valueType>String</valueType>
            <value>编码不能为空！</value>
        </simpleExpression>
        <simpleExpression>
            <id>89d4383a-41b1-425c-b4d9-eff7b790cdea</id>
            <parentID />
            <source>UIRuleUtil.throwException("名称不能为空！")</source>
            <type>METHODINVOKE</type>
            <valueType>Unkown</valueType>
            <value />
            <method>
                <ownerID>40d2eebb-7fa8-4ee7-9df3-24ae38699a98</ownerID>
                <name>throwException</name>
                <type>Unkown</type>
                <parameters>
                    <parameter>
                        <id>9dbf945b-9d63-4ee3-9c83-b44b658795f0</id>
                        <expressionID>9057d59d-3e16-4a77-91c6-b472043e3383</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>40d2eebb-7fa8-4ee7-9df3-24ae38699a98</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>9057d59d-3e16-4a77-91c6-b472043e3383</id>
            <parentID />
            <source />
            <type>CONST</type>
            <valueType>String</valueType>
            <value>名称不能为空！</value>
        </simpleExpression>
        <simpleExpression>
            <id>18cabe5e-1bab-4b8f-b284-d37c932d2414</id>
            <parentID />
            <source>ISNULL( [number] )</source>
            <type>METHODINVOKE</type>
            <valueType>boolean</valueType>
            <value />
            <method>
                <ownerID>2db3fe77-ec4a-4d65-a927-436436fd5335</ownerID>
                <name>isNull</name>
                <type>boolean</type>
                <parameters>
                    <parameter>
                        <id>d6614a2d-1149-45f4-b0c0-a48702b5e6f9</id>
                        <expressionID>865beafc-ccd8-44c2-86e6-9b1e46149a70</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>2db3fe77-ec4a-4d65-a927-436436fd5335</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>com.kingdee.bos.ui.face.UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>865beafc-ccd8-44c2-86e6-9b1e46149a70</id>
            <parentID />
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>String</valueType>
            <value />
            <property>
                <ownerID>be244751-82ef-4377-a89e-5acca5926559</ownerID>
                <name>text</name>
                <type>java.lang.String</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>be244751-82ef-4377-a89e-5acca5926559</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>txtNumber</value>
        </simpleExpression>
        <simpleExpression>
            <id>710bba0c-dc49-49bf-90a7-f7efae4793ed</id>
            <parentID />
            <source>ISNULL( [name] )</source>
            <type>METHODINVOKE</type>
            <valueType>boolean</valueType>
            <value />
            <method>
                <ownerID>154b1460-b5d0-42b5-820a-4ff554788479</ownerID>
                <name>isNull</name>
                <type>boolean</type>
                <parameters>
                    <parameter>
                        <id>055fdbb9-5743-4b05-977b-7e7017258ad4</id>
                        <expressionID>bf618c26-b9f8-4638-8c1a-87e056690719</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>154b1460-b5d0-42b5-820a-4ff554788479</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>com.kingdee.bos.ui.face.UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>bf618c26-b9f8-4638-8c1a-87e056690719</id>
            <parentID />
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>String</valueType>
            <value />
            <property>
                <ownerID>e658b09b-8ebe-464e-866c-d73b05eb428b</ownerID>
                <name>defaultLangItemData</name>
                <type>java.lang.Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>e658b09b-8ebe-464e-866c-d73b05eb428b</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>txtName</value>
        </simpleExpression>
    </expressions>
    <actions>
        <action>
            <id>5e11e1ee-a594-4b8b-8da4-c194909b329d</id>
            <name>ASQ4NRP0</name>
            <alias>ruleSet[com.kingdee.eas.fdc.insider.app.IntergralLevelRuleSet].actions.action[ASQ4NRP0].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.insider.app.IntergralLevelRuleSet].actions.action[ASQ4NRP0].description</description>
            <expressionID>fbc49223-7ca5-450c-9e8d-81417f378df9</expressionID>
        </action>
        <action>
            <id>7b1670ec-4125-4e75-be81-83f9e4496c4e</id>
            <name>ASQ4OLAI</name>
            <alias>ruleSet[com.kingdee.eas.fdc.insider.app.IntergralLevelRuleSet].actions.action[ASQ4OLAI].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.insider.app.IntergralLevelRuleSet].actions.action[ASQ4OLAI].description</description>
            <expressionID>89d4383a-41b1-425c-b4d9-eff7b790cdea</expressionID>
        </action>
    </actions>
    <conditions>
        <baseCondition>
            <id>044d1861-5a2d-4ab3-b46d-d49f6391bd19</id>
            <name>ASQ4OC95</name>
            <alias>ruleSet[com.kingdee.eas.fdc.insider.app.IntergralLevelRuleSet].conditions.baseCondition[ASQ4OC95].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.insider.app.IntergralLevelRuleSet].conditions.baseCondition[ASQ4OC95].description</description>
            <expressionID>18cabe5e-1bab-4b8f-b284-d37c932d2414</expressionID>
        </baseCondition>
        <baseCondition>
            <id>0ef322da-a729-431f-b67d-4e03b9f01ad9</id>
            <name>ASQ4PDM8</name>
            <alias>ruleSet[com.kingdee.eas.fdc.insider.app.IntergralLevelRuleSet].conditions.baseCondition[ASQ4PDM8].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.insider.app.IntergralLevelRuleSet].conditions.baseCondition[ASQ4PDM8].description</description>
            <expressionID>710bba0c-dc49-49bf-90a7-f7efae4793ed</expressionID>
        </baseCondition>
    </conditions>
    <rules>
        <conditionRule>
            <name>ASQ4PDM8</name>
            <alias>ruleSet[com.kingdee.eas.fdc.insider.app.IntergralLevelRuleSet].rules.conditionRule[ASQ4PDM8].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.insider.app.IntergralLevelRuleSet].rules.conditionRule[ASQ4PDM8].description</description>
            <ruleType>validate</ruleType>
            <eventObjectName />
            <eventType>SUBMIT</eventType>
            <eventName>SUBMIT</eventName>
            <condition>
                <key name="id" value="0ef322da-a729-431f-b67d-4e03b9f01ad9" />
            </condition>
            <actions>
                <action>
                    <key name="id" value="7b1670ec-4125-4e75-be81-83f9e4496c4e" />
                </action>
            </actions>
        </conditionRule>
        <conditionRule>
            <name>ASQ4OC95</name>
            <alias>ruleSet[com.kingdee.eas.fdc.insider.app.IntergralLevelRuleSet].rules.conditionRule[ASQ4OC95].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.insider.app.IntergralLevelRuleSet].rules.conditionRule[ASQ4OC95].description</description>
            <ruleType>validate</ruleType>
            <eventObjectName />
            <eventType>SUBMIT</eventType>
            <eventName>SUBMIT</eventName>
            <condition>
                <key name="id" value="044d1861-5a2d-4ab3-b46d-d49f6391bd19" />
            </condition>
            <actions>
                <action>
                    <key name="id" value="5e11e1ee-a594-4b8b-8da4-c194909b329d" />
                </action>
            </actions>
        </conditionRule>
    </rules>
    <resource>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.IntergralLevelRuleSet].actions.action[ASQ4NRP0].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.IntergralLevelRuleSet].actions.action[ASQ4NRP0].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.IntergralLevelRuleSet].actions.action[ASQ4OLAI].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.IntergralLevelRuleSet].actions.action[ASQ4OLAI].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.IntergralLevelRuleSet].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.IntergralLevelRuleSet].conditions.baseCondition[ASQ4OC95].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.IntergralLevelRuleSet].conditions.baseCondition[ASQ4OC95].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.IntergralLevelRuleSet].conditions.baseCondition[ASQ4PDM8].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.IntergralLevelRuleSet].conditions.baseCondition[ASQ4PDM8].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.IntergralLevelRuleSet].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.IntergralLevelRuleSet].rules.conditionRule[ASQ4OC95].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="isValidate" />
            <lang locale="zh_TW" value="isValidate" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.IntergralLevelRuleSet].rules.conditionRule[ASQ4OC95].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.IntergralLevelRuleSet].rules.conditionRule[ASQ4OC95].extendedProperty.columnName">
            <lang locale="en_US" value="number" />
            <lang locale="zh_CN" value="number" />
            <lang locale="zh_TW" value="number" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.IntergralLevelRuleSet].rules.conditionRule[ASQ4PDM8].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="isValidate" />
            <lang locale="zh_TW" value="isValidate" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.IntergralLevelRuleSet].rules.conditionRule[ASQ4PDM8].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.IntergralLevelRuleSet].rules.conditionRule[ASQ4PDM8].extendedProperty.columnName">
            <lang locale="en_US" value="name" />
            <lang locale="zh_CN" value="name" />
            <lang locale="zh_TW" value="name" />
        </rs>
    </resource>
</ruleSet>

