<?xml version="1.0" encoding="UTF-8"?>
<ruleSet xmlns="com.kingdee.bos.metadata">
    <package>com.kingdee.eas.fdc.insider.app</package>
    <name>LevelManageRuleSet</name>
    <alias>ruleSet[com.kingdee.eas.fdc.insider.app.LevelManageRuleSet].alias</alias>
    <description>ruleSet[com.kingdee.eas.fdc.insider.app.LevelManageRuleSet].description</description>
    <userDefined>true</userDefined>
    <expressions>
        <groupExpression>
            <id>1856b6ad-7448-4316-9df1-5aa7ddee0a72</id>
            <parentID />
            <source>adjustIntegral=integralLevel.minValue</source>
            <operator>=</operator>
        </groupExpression>
        <simpleExpression>
            <id>78e73630-207b-4065-baa3-728708a97562</id>
            <parentID>1856b6ad-7448-4316-9df1-5aa7ddee0a72</parentID>
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>Integer</valueType>
            <value />
            <property>
                <ownerID>269d9fb6-9323-42fc-b245-67ddd52c8279</ownerID>
                <name>value</name>
                <type>java.lang.Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>269d9fb6-9323-42fc-b245-67ddd52c8279</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>txtadjustIntegral</value>
        </simpleExpression>
        <simpleExpression>
            <id>48282dce-f2cd-4e2d-838c-5d9837ee843f</id>
            <parentID>1856b6ad-7448-4316-9df1-5aa7ddee0a72</parentID>
            <source />
            <type>METHODINVOKE</type>
            <valueType>Integer</valueType>
            <value />
            <method>
                <ownerID>27357b07-397e-4796-a92b-ddf9a12c46cb</ownerID>
                <name>getProperty</name>
                <type>Object</type>
                <parameters>
                    <parameter>
                        <id>8256ae3f-acb1-489c-95f8-5cd17e2af3d2</id>
                        <expressionID>8ddfe7b8-ff1b-4280-8e3c-ab3bc5691284</expressionID>
                    </parameter>
                    <parameter>
                        <id>b1650ef6-36e0-48b7-aca3-f0acae60a4be</id>
                        <expressionID>18bcd6db-e921-4ad9-8cbf-d6bae0eacde8</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>27357b07-397e-4796-a92b-ddf9a12c46cb</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>com.kingdee.bos.ui.face.UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>8ddfe7b8-ff1b-4280-8e3c-ab3bc5691284</id>
            <parentID />
            <source />
            <type>METHODINVOKE</type>
            <valueType>Object</valueType>
            <value />
            <method>
                <ownerID>23efd8dc-c037-46f0-b54f-dde5235c03a5</ownerID>
                <name>getData</name>
                <type>Object</type>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>23efd8dc-c037-46f0-b54f-dde5235c03a5</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>(com.kingdee.bos.dao.IObjectValue)prmtintegralLevel</value>
        </simpleExpression>
        <simpleExpression>
            <id>18bcd6db-e921-4ad9-8cbf-d6bae0eacde8</id>
            <parentID />
            <source />
            <type>CONST</type>
            <valueType>String</valueType>
            <value>minValue</value>
        </simpleExpression>
        <groupExpression>
            <id>5c5f32c9-f8fb-4626-af7e-82c97050dc6f</id>
            <parentID />
            <source>LevelBeginInt=integralLevel.minValue</source>
            <operator>=</operator>
        </groupExpression>
        <simpleExpression>
            <id>53143250-f709-4db2-8291-54f44fd6fa83</id>
            <parentID>5c5f32c9-f8fb-4626-af7e-82c97050dc6f</parentID>
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>Integer</valueType>
            <value />
            <property>
                <ownerID>86d29fcb-422f-478c-aea5-33b96d7025dd</ownerID>
                <name>value</name>
                <type>java.lang.Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>86d29fcb-422f-478c-aea5-33b96d7025dd</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>txtLevelBeginInt</value>
        </simpleExpression>
        <simpleExpression>
            <id>6ad84b74-bd87-4577-a41d-6fa895306845</id>
            <parentID>5c5f32c9-f8fb-4626-af7e-82c97050dc6f</parentID>
            <source />
            <type>METHODINVOKE</type>
            <valueType>Integer</valueType>
            <value />
            <method>
                <ownerID>3e993125-461a-4af3-94a0-b26bb1f76f91</ownerID>
                <name>getProperty</name>
                <type>Object</type>
                <parameters>
                    <parameter>
                        <id>121b74e2-2510-43ef-8cf9-2661941d6fdf</id>
                        <expressionID>fd49047b-0980-4d32-9631-04cf46863c3b</expressionID>
                    </parameter>
                    <parameter>
                        <id>e77d9976-f770-4502-a3fd-721b5c516e99</id>
                        <expressionID>d71c7935-6ad7-4957-82e3-8e6b77cb57d3</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>3e993125-461a-4af3-94a0-b26bb1f76f91</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>com.kingdee.bos.ui.face.UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>fd49047b-0980-4d32-9631-04cf46863c3b</id>
            <parentID />
            <source />
            <type>METHODINVOKE</type>
            <valueType>Object</valueType>
            <value />
            <method>
                <ownerID>bc729ba3-347e-4a65-82b6-936896c68fad</ownerID>
                <name>getData</name>
                <type>Object</type>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>bc729ba3-347e-4a65-82b6-936896c68fad</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>(com.kingdee.bos.dao.IObjectValue)prmtintegralLevel</value>
        </simpleExpression>
        <simpleExpression>
            <id>d71c7935-6ad7-4957-82e3-8e6b77cb57d3</id>
            <parentID />
            <source />
            <type>CONST</type>
            <valueType>String</valueType>
            <value>minValue</value>
        </simpleExpression>
        <simpleExpression>
            <id>4d3fe5c3-be78-4694-8fa9-53a16d9f434f</id>
            <parentID />
            <source>UIRuleUtil.throwException("单据编号不能为空！")</source>
            <type>METHODINVOKE</type>
            <valueType>Unkown</valueType>
            <value />
            <method>
                <ownerID>1bdaec32-a741-4528-b744-0e97dca0f3c9</ownerID>
                <name>throwException</name>
                <type>Unkown</type>
                <parameters>
                    <parameter>
                        <id>64f90758-ec50-42fc-833d-4a2ff26902d6</id>
                        <expressionID>d3e68254-d3f4-4b73-be5c-ab9e27be6163</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>1bdaec32-a741-4528-b744-0e97dca0f3c9</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>d3e68254-d3f4-4b73-be5c-ab9e27be6163</id>
            <parentID />
            <source />
            <type>CONST</type>
            <valueType>String</valueType>
            <value>单据编号不能为空！</value>
        </simpleExpression>
        <simpleExpression>
            <id>227cd77f-ef74-45f4-912a-0aae84aba738</id>
            <parentID />
            <source>UIRuleUtil.throwException("积分等级不能为空！")</source>
            <type>METHODINVOKE</type>
            <valueType>Unkown</valueType>
            <value />
            <method>
                <ownerID>7d56f07e-4a4f-492c-bb8d-aa216b1e623f</ownerID>
                <name>throwException</name>
                <type>Unkown</type>
                <parameters>
                    <parameter>
                        <id>aecd9131-8a33-4af3-9cac-4ab06a137225</id>
                        <expressionID>1e893239-b9ea-4a8b-87dd-88a75e5d07be</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>7d56f07e-4a4f-492c-bb8d-aa216b1e623f</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>1e893239-b9ea-4a8b-87dd-88a75e5d07be</id>
            <parentID />
            <source />
            <type>CONST</type>
            <valueType>String</valueType>
            <value>积分等级不能为空！</value>
        </simpleExpression>
        <groupExpression>
            <id>87cda01d-af60-4457-91a8-9181d0fc4ffa</id>
            <parentID />
            <source>levelMaxValue = integralLevel.maxValue</source>
            <operator>=</operator>
        </groupExpression>
        <simpleExpression>
            <id>ce6a282b-f7a5-4984-ba15-a0f2da13203b</id>
            <parentID>87cda01d-af60-4457-91a8-9181d0fc4ffa</parentID>
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>Integer</valueType>
            <value />
            <property>
                <ownerID>62bab1c3-b460-421c-9cdc-072492b9a70d</ownerID>
                <name>value</name>
                <type>java.lang.Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>62bab1c3-b460-421c-9cdc-072492b9a70d</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>txtlevelMaxValue</value>
        </simpleExpression>
        <simpleExpression>
            <id>cdd3cff5-5968-447d-9523-e6b40a6b779b</id>
            <parentID>87cda01d-af60-4457-91a8-9181d0fc4ffa</parentID>
            <source />
            <type>METHODINVOKE</type>
            <valueType>Integer</valueType>
            <value />
            <method>
                <ownerID>ce174e89-6307-4279-872f-f8fae6f81807</ownerID>
                <name>getProperty</name>
                <type>Object</type>
                <parameters>
                    <parameter>
                        <id>13762631-2f65-41c3-9f21-6c879746b29f</id>
                        <expressionID>130b6aea-61ef-4a45-85b6-ab84bc0acb03</expressionID>
                    </parameter>
                    <parameter>
                        <id>208f10d0-6e27-46b8-a464-53cffe5d9e7c</id>
                        <expressionID>2e03e29f-b4fc-4e48-a9fc-eee45d914121</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>ce174e89-6307-4279-872f-f8fae6f81807</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>com.kingdee.bos.ui.face.UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>130b6aea-61ef-4a45-85b6-ab84bc0acb03</id>
            <parentID />
            <source />
            <type>METHODINVOKE</type>
            <valueType>Object</valueType>
            <value />
            <method>
                <ownerID>961570ca-fd9f-48a8-a25f-7d7698390d66</ownerID>
                <name>getData</name>
                <type>Object</type>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>961570ca-fd9f-48a8-a25f-7d7698390d66</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>(com.kingdee.bos.dao.IObjectValue)prmtintegralLevel</value>
        </simpleExpression>
        <simpleExpression>
            <id>2e03e29f-b4fc-4e48-a9fc-eee45d914121</id>
            <parentID />
            <source />
            <type>CONST</type>
            <valueType>String</valueType>
            <value>maxValue</value>
        </simpleExpression>
        <groupExpression>
            <id>62d26cbb-b6ec-4432-a790-c0d160b479e2</id>
            <parentID />
            <source>levelMinValue = integralLevel.minValue</source>
            <operator>=</operator>
        </groupExpression>
        <simpleExpression>
            <id>0efa6b78-2b3f-495e-8edb-5cc1fc2aba21</id>
            <parentID>62d26cbb-b6ec-4432-a790-c0d160b479e2</parentID>
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>Integer</valueType>
            <value />
            <property>
                <ownerID>d28d5b1e-f44a-4e88-8a1c-fcb3788c4873</ownerID>
                <name>value</name>
                <type>java.lang.Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>d28d5b1e-f44a-4e88-8a1c-fcb3788c4873</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>txtLevelMinValue</value>
        </simpleExpression>
        <simpleExpression>
            <id>5ef495c2-c8ef-4ae3-a7c6-00dc49cc6fd6</id>
            <parentID>62d26cbb-b6ec-4432-a790-c0d160b479e2</parentID>
            <source />
            <type>METHODINVOKE</type>
            <valueType>Integer</valueType>
            <value />
            <method>
                <ownerID>dd7cd5ed-6fb9-4b37-a5f1-8b330b3e37ea</ownerID>
                <name>getProperty</name>
                <type>Object</type>
                <parameters>
                    <parameter>
                        <id>06c2258a-e1db-4ec5-bd6d-bd782ab4f533</id>
                        <expressionID>c9696e75-ecb2-4f1a-9bc4-3be0a59f2b30</expressionID>
                    </parameter>
                    <parameter>
                        <id>f1469720-9fe3-4330-9221-0a396140213d</id>
                        <expressionID>44bd6e48-e7e0-41b2-8080-1ef0a8ef03df</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>dd7cd5ed-6fb9-4b37-a5f1-8b330b3e37ea</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>com.kingdee.bos.ui.face.UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>c9696e75-ecb2-4f1a-9bc4-3be0a59f2b30</id>
            <parentID />
            <source />
            <type>METHODINVOKE</type>
            <valueType>Object</valueType>
            <value />
            <method>
                <ownerID>103e3f0b-09b6-40c7-b32a-27658713710e</ownerID>
                <name>getData</name>
                <type>Object</type>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>103e3f0b-09b6-40c7-b32a-27658713710e</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>(com.kingdee.bos.dao.IObjectValue)prmtintegralLevel</value>
        </simpleExpression>
        <simpleExpression>
            <id>44bd6e48-e7e0-41b2-8080-1ef0a8ef03df</id>
            <parentID />
            <source />
            <type>CONST</type>
            <valueType>String</valueType>
            <value>minValue</value>
        </simpleExpression>
        <simpleExpression>
            <id>208d3d47-f0e4-44d7-9cd1-cf23a2faccb3</id>
            <parentID />
            <source>ISNULL( [number] )</source>
            <type>METHODINVOKE</type>
            <valueType>boolean</valueType>
            <value />
            <method>
                <ownerID>bae16143-a296-4fc7-98cd-6ae67fcd775a</ownerID>
                <name>isNull</name>
                <type>boolean</type>
                <parameters>
                    <parameter>
                        <id>9ee975cf-bf09-4499-9845-ab0fe157a619</id>
                        <expressionID>83ac65ef-8df7-4fb2-b8df-315fa4e97447</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>bae16143-a296-4fc7-98cd-6ae67fcd775a</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>com.kingdee.bos.ui.face.UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>83ac65ef-8df7-4fb2-b8df-315fa4e97447</id>
            <parentID />
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>String</valueType>
            <value />
            <property>
                <ownerID>83b8f8e3-e42e-4d9b-b396-7d60346f740b</ownerID>
                <name>text</name>
                <type>java.lang.String</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>83b8f8e3-e42e-4d9b-b396-7d60346f740b</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>txtNumber</value>
        </simpleExpression>
        <simpleExpression>
            <id>0eac8733-bd66-42ee-9598-411915c661b6</id>
            <parentID />
            <source>ISNULL( [integralLevel] )</source>
            <type>METHODINVOKE</type>
            <valueType>boolean</valueType>
            <value />
            <method>
                <ownerID>73d94358-f7c1-42f8-8f91-03c32e48c62a</ownerID>
                <name>isNull</name>
                <type>boolean</type>
                <parameters>
                    <parameter>
                        <id>26a5b08e-91f6-4a44-bb66-58161175a2cd</id>
                        <expressionID>7d599200-aea4-48be-bddf-8b6f34ceaaad</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>73d94358-f7c1-42f8-8f91-03c32e48c62a</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>com.kingdee.bos.ui.face.UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>7d599200-aea4-48be-bddf-8b6f34ceaaad</id>
            <parentID />
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>Object</valueType>
            <value />
            <property>
                <ownerID>33e44ee9-c672-4fde-83ae-5fafc4961e28</ownerID>
                <name>data</name>
                <type>java.lang.Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>33e44ee9-c672-4fde-83ae-5fafc4961e28</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>prmtintegralLevel</value>
        </simpleExpression>
    </expressions>
    <actions>
        <action>
            <id>5be5e002-bb78-44cb-9835-bd27d3296f46</id>
            <name>LevelManage_adjustIntegral_ActionInfo</name>
            <alias>ruleSet[com.kingdee.eas.fdc.insider.app.LevelManageRuleSet].actions.action[LevelManage_adjustIntegral_ActionInfo].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.insider.app.LevelManageRuleSet].actions.action[LevelManage_adjustIntegral_ActionInfo].description</description>
            <expressionID>1856b6ad-7448-4316-9df1-5aa7ddee0a72</expressionID>
        </action>
        <action>
            <id>970472be-55db-4e20-8fd2-3790e70686d4</id>
            <name>LevelManage_LevelBeginInt_ActionInfo</name>
            <alias>ruleSet[com.kingdee.eas.fdc.insider.app.LevelManageRuleSet].actions.action[LevelManage_LevelBeginInt_ActionInfo].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.insider.app.LevelManageRuleSet].actions.action[LevelManage_LevelBeginInt_ActionInfo].description</description>
            <expressionID>5c5f32c9-f8fb-4626-af7e-82c97050dc6f</expressionID>
        </action>
        <action>
            <id>13c85b97-3b53-43da-bd0b-46df3c6376fb</id>
            <name>AT4A30LT</name>
            <alias>ruleSet[com.kingdee.eas.fdc.insider.app.LevelManageRuleSet].actions.action[AT4A30LT].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.insider.app.LevelManageRuleSet].actions.action[AT4A30LT].description</description>
            <expressionID>4d3fe5c3-be78-4694-8fa9-53a16d9f434f</expressionID>
        </action>
        <action>
            <id>710caecc-7cac-40bf-bd5b-e6596a01ded1</id>
            <name>AT4A4RLS</name>
            <alias>ruleSet[com.kingdee.eas.fdc.insider.app.LevelManageRuleSet].actions.action[AT4A4RLS].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.insider.app.LevelManageRuleSet].actions.action[AT4A4RLS].description</description>
            <expressionID>227cd77f-ef74-45f4-912a-0aae84aba738</expressionID>
        </action>
        <action>
            <id>ba3dc81e-924d-4261-8bb0-5dff823fabc0</id>
            <name>LevelManage_levelEndInt_ActionInfo</name>
            <alias>ruleSet[com.kingdee.eas.fdc.insider.app.LevelManageRuleSet].actions.action[LevelManage_levelEndInt_ActionInfo].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.insider.app.LevelManageRuleSet].actions.action[LevelManage_levelEndInt_ActionInfo].description</description>
            <expressionID>87cda01d-af60-4457-91a8-9181d0fc4ffa</expressionID>
        </action>
        <action>
            <id>9ffbd8b4-4cac-4644-8e62-a3ba38b173b4</id>
            <name>LevelManage_LevelBeginInt_ActionInfo</name>
            <alias>ruleSet[com.kingdee.eas.fdc.insider.app.LevelManageRuleSet].actions.action[LevelManage_LevelBeginInt_ActionInfo].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.insider.app.LevelManageRuleSet].actions.action[LevelManage_LevelBeginInt_ActionInfo].description</description>
            <expressionID>62d26cbb-b6ec-4432-a790-c0d160b479e2</expressionID>
        </action>
    </actions>
    <conditions>
        <baseCondition>
            <id>9b4a2dd6-9d07-49d3-aaaf-addb9378e27e</id>
            <name>AT4A4FVN</name>
            <alias>ruleSet[com.kingdee.eas.fdc.insider.app.LevelManageRuleSet].conditions.baseCondition[AT4A4FVN].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.insider.app.LevelManageRuleSet].conditions.baseCondition[AT4A4FVN].description</description>
            <expressionID>208d3d47-f0e4-44d7-9cd1-cf23a2faccb3</expressionID>
        </baseCondition>
        <baseCondition>
            <id>5c734a8d-4463-4f09-8486-bcf58194541e</id>
            <name>AT4A5Q08</name>
            <alias>ruleSet[com.kingdee.eas.fdc.insider.app.LevelManageRuleSet].conditions.baseCondition[AT4A5Q08].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.insider.app.LevelManageRuleSet].conditions.baseCondition[AT4A5Q08].description</description>
            <expressionID>0eac8733-bd66-42ee-9598-411915c661b6</expressionID>
        </baseCondition>
    </conditions>
    <rules>
        <conditionRule>
            <name>AT4A5Q08</name>
            <alias>ruleSet[com.kingdee.eas.fdc.insider.app.LevelManageRuleSet].rules.conditionRule[AT4A5Q08].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.insider.app.LevelManageRuleSet].rules.conditionRule[AT4A5Q08].description</description>
            <ruleType>validate</ruleType>
            <eventObjectName />
            <eventType>SUBMIT</eventType>
            <eventName>SUBMIT</eventName>
            <condition>
                <key name="id" value="5c734a8d-4463-4f09-8486-bcf58194541e" />
            </condition>
            <actions>
                <action>
                    <key name="id" value="710caecc-7cac-40bf-bd5b-e6596a01ded1" />
                </action>
            </actions>
        </conditionRule>
        <conditionRule>
            <name>LevelManageAU3EPMU6</name>
            <alias>ruleSet[com.kingdee.eas.fdc.insider.app.LevelManageRuleSet].rules.conditionRule[LevelManageAU3EPMU6].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.insider.app.LevelManageRuleSet].rules.conditionRule[LevelManageAU3EPMU6].description</description>
            <ruleType>withproperty</ruleType>
            <eventObjectName />
            <eventType>CHANGE</eventType>
            <eventName>CHANGE</eventName>
            <actions>
                <action>
                    <key name="id" value="ba3dc81e-924d-4261-8bb0-5dff823fabc0" />
                </action>
            </actions>
        </conditionRule>
        <conditionRule>
            <name>LevelManageAU3EQ966</name>
            <alias>ruleSet[com.kingdee.eas.fdc.insider.app.LevelManageRuleSet].rules.conditionRule[LevelManageAU3EQ966].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.insider.app.LevelManageRuleSet].rules.conditionRule[LevelManageAU3EQ966].description</description>
            <ruleType>withproperty</ruleType>
            <eventObjectName />
            <eventType>CHANGE</eventType>
            <eventName>CHANGE</eventName>
            <actions>
                <action>
                    <key name="id" value="9ffbd8b4-4cac-4644-8e62-a3ba38b173b4" />
                </action>
            </actions>
        </conditionRule>
        <conditionRule>
            <name>AT4A4FVN</name>
            <alias>ruleSet[com.kingdee.eas.fdc.insider.app.LevelManageRuleSet].rules.conditionRule[AT4A4FVN].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.insider.app.LevelManageRuleSet].rules.conditionRule[AT4A4FVN].description</description>
            <ruleType>validate</ruleType>
            <eventObjectName />
            <eventType>SUBMIT</eventType>
            <eventName>SUBMIT</eventName>
            <condition>
                <key name="id" value="9b4a2dd6-9d07-49d3-aaaf-addb9378e27e" />
            </condition>
            <actions>
                <action>
                    <key name="id" value="13c85b97-3b53-43da-bd0b-46df3c6376fb" />
                </action>
            </actions>
        </conditionRule>
    </rules>
    <resource>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.LevelManageRuleSet].actions.action[AT4A30LT].alias">
            <lang locale="zh_CN" value="" />
            <lang locale="zh_TW" value="null" />
            <lang locale="en_US" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.LevelManageRuleSet].actions.action[AT4A30LT].description">
            <lang locale="zh_CN" value="null" />
            <lang locale="en_US" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.LevelManageRuleSet].actions.action[AT4A4RLS].alias">
            <lang locale="zh_CN" value="" />
            <lang locale="zh_TW" value="null" />
            <lang locale="en_US" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.LevelManageRuleSet].actions.action[AT4A4RLS].description">
            <lang locale="zh_CN" value="null" />
            <lang locale="en_US" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.LevelManageRuleSet].actions.action[LevelManage_LevelBeginInt_ActionInfo].alias">
            <lang locale="zh_CN" value="携带字段属性_minValue" />
            <lang locale="en_US" value="null" />
            <lang locale="zh_HK" value="攜帶字段屬性_minValue" />
            <lang locale="zh_TW" value="攜帶字段屬性_minValue" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.LevelManageRuleSet].actions.action[LevelManage_LevelBeginInt_ActionInfo].description">
            <lang locale="zh_CN" value="null" />
            <lang locale="en_US" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.LevelManageRuleSet].actions.action[LevelManage_adjustIntegral_ActionInfo].alias">
            <lang locale="zh_CN" value="携带字段属性_minValue" />
            <lang locale="en_US" value="null" />
            <lang locale="zh_HK" value="攜帶字段屬性_minValue" />
            <lang locale="zh_TW" value="攜帶字段屬性_minValue" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.LevelManageRuleSet].actions.action[LevelManage_adjustIntegral_ActionInfo].description">
            <lang locale="zh_CN" value="null" />
            <lang locale="en_US" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.LevelManageRuleSet].actions.action[LevelManage_levelEndInt_ActionInfo].alias">
            <lang locale="zh_CN" value="携带字段属性_maxValue" />
            <lang locale="en_US" value="null" />
            <lang locale="zh_HK" value="攜帶字段屬性_maxValue" />
            <lang locale="zh_TW" value="攜帶字段屬性_maxValue" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.LevelManageRuleSet].actions.action[LevelManage_levelEndInt_ActionInfo].description">
            <lang locale="zh_CN" value="null" />
            <lang locale="en_US" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.LevelManageRuleSet].alias">
            <lang locale="zh_CN" value="null" />
            <lang locale="en_US" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.LevelManageRuleSet].conditions.baseCondition[AT4A4FVN].alias">
            <lang locale="zh_CN" value="" />
            <lang locale="zh_TW" value="null" />
            <lang locale="en_US" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.LevelManageRuleSet].conditions.baseCondition[AT4A4FVN].description">
            <lang locale="zh_CN" value="null" />
            <lang locale="en_US" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.LevelManageRuleSet].conditions.baseCondition[AT4A5Q08].alias">
            <lang locale="zh_CN" value="" />
            <lang locale="zh_TW" value="null" />
            <lang locale="en_US" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.LevelManageRuleSet].conditions.baseCondition[AT4A5Q08].description">
            <lang locale="zh_CN" value="null" />
            <lang locale="en_US" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.LevelManageRuleSet].description">
            <lang locale="zh_CN" value="null" />
            <lang locale="en_US" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.LevelManageRuleSet].rules.conditionRule[AT4A4FVN].alias">
            <lang locale="zh_CN" value="isValidate" />
            <lang locale="en_US" value="null" />
            <lang locale="zh_HK" value="isValidate" />
            <lang locale="zh_TW" value="isValidate" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.LevelManageRuleSet].rules.conditionRule[AT4A4FVN].description">
            <lang locale="zh_CN" value="null" />
            <lang locale="en_US" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.LevelManageRuleSet].rules.conditionRule[AT4A4FVN].extendedProperty.columnName">
            <lang locale="zh_CN" value="number" />
            <lang locale="zh_TW" value="number" />
            <lang locale="en_US" value="number" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.LevelManageRuleSet].rules.conditionRule[AT4A5Q08].alias">
            <lang locale="zh_CN" value="isValidate" />
            <lang locale="en_US" value="null" />
            <lang locale="zh_HK" value="isValidate" />
            <lang locale="zh_TW" value="isValidate" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.LevelManageRuleSet].rules.conditionRule[AT4A5Q08].description">
            <lang locale="zh_CN" value="null" />
            <lang locale="en_US" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.LevelManageRuleSet].rules.conditionRule[AT4A5Q08].extendedProperty.columnName">
            <lang locale="zh_CN" value="integralLevel" />
            <lang locale="zh_TW" value="integralLevel" />
            <lang locale="en_US" value="integralLevel" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.LevelManageRuleSet].rules.conditionRule[LevelManageAU3EPMU6].alias">
            <lang locale="zh_CN" value="携带字段属性_maxValue" />
            <lang locale="en_US" value="null" />
            <lang locale="zh_HK" value="攜帶字段屬性_maxValue" />
            <lang locale="zh_TW" value="攜帶字段屬性_maxValue" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.LevelManageRuleSet].rules.conditionRule[LevelManageAU3EPMU6].description">
            <lang locale="zh_CN" value="null" />
            <lang locale="en_US" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.LevelManageRuleSet].rules.conditionRule[LevelManageAU3EPMU6].extendedProperty.columnName">
            <lang locale="zh_CN" value="integralLevel" />
            <lang locale="zh_TW" value="integralLevel" />
            <lang locale="en_US" value="integralLevel" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.LevelManageRuleSet].rules.conditionRule[LevelManageAU3EPMU6].extendedProperty.userDefined">
            <lang locale="zh_CN" value="false" />
            <lang locale="zh_TW" value="false" />
            <lang locale="en_US" value="false" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.LevelManageRuleSet].rules.conditionRule[LevelManageAU3EQ966].alias">
            <lang locale="zh_CN" value="携带字段属性_minValue" />
            <lang locale="en_US" value="null" />
            <lang locale="zh_HK" value="攜帶字段屬性_minValue" />
            <lang locale="zh_TW" value="攜帶字段屬性_minValue" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.LevelManageRuleSet].rules.conditionRule[LevelManageAU3EQ966].description">
            <lang locale="zh_CN" value="null" />
            <lang locale="en_US" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.LevelManageRuleSet].rules.conditionRule[LevelManageAU3EQ966].extendedProperty.columnName">
            <lang locale="zh_CN" value="integralLevel" />
            <lang locale="zh_TW" value="integralLevel" />
            <lang locale="en_US" value="integralLevel" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.LevelManageRuleSet].rules.conditionRule[LevelManageAU3EQ966].extendedProperty.userDefined">
            <lang locale="zh_CN" value="false" />
            <lang locale="zh_TW" value="false" />
            <lang locale="en_US" value="false" />
        </rs>
    </resource>
</ruleSet>

