<?xml version="1.0" encoding="UTF-8"?>
<ruleSet xmlns="com.kingdee.bos.metadata">
    <package>com.kingdee.eas.fdc.insider.app</package>
    <name>OperationSetupRuleSet</name>
    <alias>ruleSet[com.kingdee.eas.fdc.insider.app.OperationSetupRuleSet].alias</alias>
    <description>ruleSet[com.kingdee.eas.fdc.insider.app.OperationSetupRuleSet].description</description>
    <userDefined>true</userDefined>
    <expressions>
        <simpleExpression>
            <id>64f8f1ae-2bdd-41d7-9ada-be1d1451704d</id>
            <parentID />
            <source>UIRuleUtil.throwException("名称不能为空！")</source>
            <type>METHODINVOKE</type>
            <valueType>Unkown</valueType>
            <value />
            <method>
                <ownerID>bae69987-2196-4dc9-916d-4cf3720afa60</ownerID>
                <name>throwException</name>
                <type>Unkown</type>
                <parameters>
                    <parameter>
                        <id>8f845d6a-5708-458a-a51e-d426c3ce0f8a</id>
                        <expressionID>1018978e-1378-4565-862d-509ad6175d84</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>bae69987-2196-4dc9-916d-4cf3720afa60</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>1018978e-1378-4565-862d-509ad6175d84</id>
            <parentID />
            <source />
            <type>CONST</type>
            <valueType>String</valueType>
            <value>名称不能为空！</value>
        </simpleExpression>
        <simpleExpression>
            <id>851eee0f-7211-4a6c-a16a-939b0a22ded0</id>
            <parentID />
            <source>UIRuleUtil.throwException("编码不能为空！")</source>
            <type>METHODINVOKE</type>
            <valueType>Unkown</valueType>
            <value />
            <method>
                <ownerID>fc63499d-26cf-4aec-b3aa-2fcce6d38f5e</ownerID>
                <name>throwException</name>
                <type>Unkown</type>
                <parameters>
                    <parameter>
                        <id>ba2d4765-30bd-44e1-8b76-01cdb20e6d97</id>
                        <expressionID>3d36da16-ecda-4a50-98ca-8787d77b0b30</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>fc63499d-26cf-4aec-b3aa-2fcce6d38f5e</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>3d36da16-ecda-4a50-98ca-8787d77b0b30</id>
            <parentID />
            <source />
            <type>CONST</type>
            <valueType>String</valueType>
            <value>编码不能为空！</value>
        </simpleExpression>
        <simpleExpression>
            <id>4c0061c6-01ab-4ab0-95de-6088a57cec39</id>
            <parentID />
            <source>ISNULL( [name] )</source>
            <type>METHODINVOKE</type>
            <valueType>boolean</valueType>
            <value />
            <method>
                <ownerID>a3315f3c-df9f-491e-985d-5006d07e4e68</ownerID>
                <name>isNull</name>
                <type>boolean</type>
                <parameters>
                    <parameter>
                        <id>4cb58404-84c5-4a1f-8d25-547535e927bd</id>
                        <expressionID>ba19316b-748d-4d4b-bac6-f4181a9a841a</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>a3315f3c-df9f-491e-985d-5006d07e4e68</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>com.kingdee.bos.ui.face.UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>ba19316b-748d-4d4b-bac6-f4181a9a841a</id>
            <parentID />
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>String</valueType>
            <value />
            <property>
                <ownerID>f5317f75-ebf4-4ada-ab49-40513d358d0e</ownerID>
                <name>defaultLangItemData</name>
                <type>java.lang.Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>f5317f75-ebf4-4ada-ab49-40513d358d0e</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>bizName</value>
        </simpleExpression>
        <simpleExpression>
            <id>4b0c6005-c6c3-410e-99f9-83323624d533</id>
            <parentID />
            <source> ISNULL( [number] ) </source>
            <type>METHODINVOKE</type>
            <valueType>boolean</valueType>
            <value />
            <method>
                <ownerID>a66d0e42-58a4-4855-9ff2-99f5060732a2</ownerID>
                <name>isNull</name>
                <type>boolean</type>
                <parameters>
                    <parameter>
                        <id>43846c4d-37a3-45dc-be7a-ce79eebc2a71</id>
                        <expressionID>f90ecca1-cebc-44d1-bd8b-837bc97a24b6</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>a66d0e42-58a4-4855-9ff2-99f5060732a2</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>com.kingdee.bos.ui.face.UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>f90ecca1-cebc-44d1-bd8b-837bc97a24b6</id>
            <parentID />
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>String</valueType>
            <value />
            <property>
                <ownerID>f2de7875-6d99-4d13-981e-ad9ecd9ca562</ownerID>
                <name>text</name>
                <type>java.lang.String</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>f2de7875-6d99-4d13-981e-ad9ecd9ca562</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>txtNumber</value>
        </simpleExpression>
    </expressions>
    <actions>
        <action>
            <id>4026f947-02e9-4eab-9c2d-6bce39486863</id>
            <name>ASLYU9G5</name>
            <alias>ruleSet[com.kingdee.eas.fdc.insider.app.OperationSetupRuleSet].actions.action[ASLYU9G5].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.insider.app.OperationSetupRuleSet].actions.action[ASLYU9G5].description</description>
            <expressionID>64f8f1ae-2bdd-41d7-9ada-be1d1451704d</expressionID>
        </action>
        <action>
            <id>8eaeffc8-7b52-4c9a-b4d5-3357abd8d302</id>
            <name>ASYU9DUQ</name>
            <alias>ruleSet[com.kingdee.eas.fdc.insider.app.OperationSetupRuleSet].actions.action[ASYU9DUQ].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.insider.app.OperationSetupRuleSet].actions.action[ASYU9DUQ].description</description>
            <expressionID>851eee0f-7211-4a6c-a16a-939b0a22ded0</expressionID>
        </action>
    </actions>
    <conditions>
        <baseCondition>
            <id>a725e579-d2d0-447e-b481-2c055e4fb954</id>
            <name>ASLYUUYD</name>
            <alias>ruleSet[com.kingdee.eas.fdc.insider.app.OperationSetupRuleSet].conditions.baseCondition[ASLYUUYD].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.insider.app.OperationSetupRuleSet].conditions.baseCondition[ASLYUUYD].description</description>
            <expressionID>4c0061c6-01ab-4ab0-95de-6088a57cec39</expressionID>
        </baseCondition>
        <baseCondition>
            <id>2437cfd4-9b2c-409e-88c1-f0c057e84cdc</id>
            <name>ASYU9$GR</name>
            <alias>ruleSet[com.kingdee.eas.fdc.insider.app.OperationSetupRuleSet].conditions.baseCondition[ASYU9$GR].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.insider.app.OperationSetupRuleSet].conditions.baseCondition[ASYU9$GR].description</description>
            <expressionID>4b0c6005-c6c3-410e-99f9-83323624d533</expressionID>
        </baseCondition>
    </conditions>
    <rules>
        <conditionRule>
            <name>ASLYUUYD</name>
            <alias>ruleSet[com.kingdee.eas.fdc.insider.app.OperationSetupRuleSet].rules.conditionRule[ASLYUUYD].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.insider.app.OperationSetupRuleSet].rules.conditionRule[ASLYUUYD].description</description>
            <ruleType>validate</ruleType>
            <eventObjectName />
            <eventType>CHANGE</eventType>
            <eventName>CHANGE</eventName>
            <condition>
                <key name="id" value="a725e579-d2d0-447e-b481-2c055e4fb954" />
            </condition>
            <actions>
                <action>
                    <key name="id" value="4026f947-02e9-4eab-9c2d-6bce39486863" />
                </action>
            </actions>
        </conditionRule>
        <conditionRule>
            <name>ASYU9$GR</name>
            <alias>ruleSet[com.kingdee.eas.fdc.insider.app.OperationSetupRuleSet].rules.conditionRule[ASYU9$GR].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.insider.app.OperationSetupRuleSet].rules.conditionRule[ASYU9$GR].description</description>
            <ruleType>validate</ruleType>
            <eventObjectName />
            <eventType>SUBMIT</eventType>
            <eventName>SUBMIT</eventName>
            <condition>
                <key name="id" value="2437cfd4-9b2c-409e-88c1-f0c057e84cdc" />
            </condition>
            <actions>
                <action>
                    <key name="id" value="8eaeffc8-7b52-4c9a-b4d5-3357abd8d302" />
                </action>
            </actions>
        </conditionRule>
    </rules>
    <resource>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.OperationSetupRuleSet].actions.action[ASLYU9G5].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.OperationSetupRuleSet].actions.action[ASLYU9G5].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.OperationSetupRuleSet].actions.action[ASYU9DUQ].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.OperationSetupRuleSet].actions.action[ASYU9DUQ].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.OperationSetupRuleSet].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.OperationSetupRuleSet].conditions.baseCondition[ASLYUUYD].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.OperationSetupRuleSet].conditions.baseCondition[ASLYUUYD].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.OperationSetupRuleSet].conditions.baseCondition[ASYU9$GR].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.OperationSetupRuleSet].conditions.baseCondition[ASYU9$GR].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.OperationSetupRuleSet].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.OperationSetupRuleSet].rules.conditionRule[ASLYUUYD].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="isValidate" />
            <lang locale="zh_TW" value="isValidate" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.OperationSetupRuleSet].rules.conditionRule[ASLYUUYD].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.OperationSetupRuleSet].rules.conditionRule[ASLYUUYD].extendedProperty.columnName">
            <lang locale="en_US" value="name" />
            <lang locale="zh_CN" value="name" />
            <lang locale="zh_TW" value="name" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.OperationSetupRuleSet].rules.conditionRule[ASYU9$GR].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="isValidate" />
            <lang locale="zh_TW" value="isValidate" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.OperationSetupRuleSet].rules.conditionRule[ASYU9$GR].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.OperationSetupRuleSet].rules.conditionRule[ASYU9$GR].extendedProperty.columnName">
            <lang locale="en_US" value="number" />
            <lang locale="zh_CN" value="number" />
            <lang locale="zh_TW" value="number" />
        </rs>
    </resource>
</ruleSet>

