<?xml version="1.0" encoding="UTF-8"?>
<ruleSet xmlns="com.kingdee.bos.metadata">
    <package>com.kingdee.eas.fdc.insider.app</package>
    <name>UnionShopManagerRuleSet</name>
    <alias>ruleSet[com.kingdee.eas.fdc.insider.app.UnionShopManagerRuleSet].alias</alias>
    <description>ruleSet[com.kingdee.eas.fdc.insider.app.UnionShopManagerRuleSet].description</description>
    <userDefined>true</userDefined>
    <expressions>
        <simpleExpression>
            <id>91d65610-0d79-432a-835d-6981d3ce2dc8</id>
            <parentID />
            <source>UIRuleUtil.throwException("名称不能为空！")</source>
            <type>METHODINVOKE</type>
            <valueType>Unkown</valueType>
            <value />
            <method>
                <ownerID>b69c0e8a-2733-413e-8423-49870416cd61</ownerID>
                <name>throwException</name>
                <type>Unkown</type>
                <parameters>
                    <parameter>
                        <id>5a7b2676-b32d-4c41-878a-f6ec14d0ce32</id>
                        <expressionID>b7fa4b8e-a91a-4c89-8dee-e55b4eb7a5d3</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>b69c0e8a-2733-413e-8423-49870416cd61</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>b7fa4b8e-a91a-4c89-8dee-e55b4eb7a5d3</id>
            <parentID />
            <source />
            <type>CONST</type>
            <valueType>String</valueType>
            <value>名称不能为空！</value>
        </simpleExpression>
        <simpleExpression>
            <id>4a447824-35ca-4d45-837e-37e4e0ff8cb3</id>
            <parentID />
            <source>UIRuleUtil.throwException("编码不能为空！")</source>
            <type>METHODINVOKE</type>
            <valueType>Unkown</valueType>
            <value />
            <method>
                <ownerID>cff68342-7d00-4cb2-bb11-92adfb2e97e2</ownerID>
                <name>throwException</name>
                <type>Unkown</type>
                <parameters>
                    <parameter>
                        <id>39fcd6db-1dab-47e6-a883-d57f71962dda</id>
                        <expressionID>821930cd-a70b-4a3c-9fb0-0c43a059f27a</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>cff68342-7d00-4cb2-bb11-92adfb2e97e2</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>821930cd-a70b-4a3c-9fb0-0c43a059f27a</id>
            <parentID />
            <source />
            <type>CONST</type>
            <valueType>String</valueType>
            <value>编码不能为空！</value>
        </simpleExpression>
        <simpleExpression>
            <id>a9bbc971-7769-4576-8c4f-8c126f279955</id>
            <parentID />
            <source>IsNull( [name] )</source>
            <type>METHODINVOKE</type>
            <valueType>boolean</valueType>
            <value />
            <method>
                <ownerID>f5a5776f-0301-44ca-96a5-af6414fa797f</ownerID>
                <name>isNull</name>
                <type>boolean</type>
                <parameters>
                    <parameter>
                        <id>c5db437c-085f-4ab4-8e6e-19c6b5c83fab</id>
                        <expressionID>8c1632c8-cfd6-4f13-bbad-3ac327efb98d</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>f5a5776f-0301-44ca-96a5-af6414fa797f</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>com.kingdee.bos.ui.face.UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>8c1632c8-cfd6-4f13-bbad-3ac327efb98d</id>
            <parentID />
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>String</valueType>
            <value />
            <property>
                <ownerID>3d25ee4a-81e3-4f33-ae00-09ad6979cadc</ownerID>
                <name>defaultLangItemData</name>
                <type>java.lang.Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>3d25ee4a-81e3-4f33-ae00-09ad6979cadc</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>bizName</value>
        </simpleExpression>
        <simpleExpression>
            <id>9784ad18-e296-4040-8044-4837be63373e</id>
            <parentID />
            <source>IsNull( [number] )</source>
            <type>METHODINVOKE</type>
            <valueType>boolean</valueType>
            <value />
            <method>
                <ownerID>512b3d97-8233-4255-9f5f-6d7727f9c544</ownerID>
                <name>isNull</name>
                <type>boolean</type>
                <parameters>
                    <parameter>
                        <id>7812bf20-558d-4648-87a3-b9b25599a567</id>
                        <expressionID>22782b78-36ca-46ce-961c-07b07b641e83</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>512b3d97-8233-4255-9f5f-6d7727f9c544</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>com.kingdee.bos.ui.face.UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>22782b78-36ca-46ce-961c-07b07b641e83</id>
            <parentID />
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>String</valueType>
            <value />
            <property>
                <ownerID>1ddea8d9-0e14-44ee-8e6d-3a9e28488a9f</ownerID>
                <name>text</name>
                <type>java.lang.String</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>1ddea8d9-0e14-44ee-8e6d-3a9e28488a9f</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>txtNumber</value>
        </simpleExpression>
    </expressions>
    <actions>
        <action>
            <id>28094ca7-6518-418b-9d01-f0e22bd1a5ca</id>
            <name>ASLW2ZN8</name>
            <alias>ruleSet[com.kingdee.eas.fdc.insider.app.UnionShopManagerRuleSet].actions.action[ASLW2ZN8].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.insider.app.UnionShopManagerRuleSet].actions.action[ASLW2ZN8].description</description>
            <expressionID>91d65610-0d79-432a-835d-6981d3ce2dc8</expressionID>
        </action>
        <action>
            <id>97c0fdbb-233e-4b60-9f3f-8dc4df88b17c</id>
            <name>ASLW3MSV</name>
            <alias>ruleSet[com.kingdee.eas.fdc.insider.app.UnionShopManagerRuleSet].actions.action[ASLW3MSV].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.insider.app.UnionShopManagerRuleSet].actions.action[ASLW3MSV].description</description>
            <expressionID>4a447824-35ca-4d45-837e-37e4e0ff8cb3</expressionID>
        </action>
    </actions>
    <conditions>
        <baseCondition>
            <id>3b1a2fc2-43e9-4178-91ca-7ecb2c667370</id>
            <name>ASLW3G1I</name>
            <alias>ruleSet[com.kingdee.eas.fdc.insider.app.UnionShopManagerRuleSet].conditions.baseCondition[ASLW3G1I].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.insider.app.UnionShopManagerRuleSet].conditions.baseCondition[ASLW3G1I].description</description>
            <expressionID>a9bbc971-7769-4576-8c4f-8c126f279955</expressionID>
        </baseCondition>
        <baseCondition>
            <id>c72da3a4-59e1-441a-b03c-bd0386e11a1b</id>
            <name>ASLW3$RY</name>
            <alias>ruleSet[com.kingdee.eas.fdc.insider.app.UnionShopManagerRuleSet].conditions.baseCondition[ASLW3$RY].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.insider.app.UnionShopManagerRuleSet].conditions.baseCondition[ASLW3$RY].description</description>
            <expressionID>9784ad18-e296-4040-8044-4837be63373e</expressionID>
        </baseCondition>
    </conditions>
    <rules>
        <conditionRule>
            <name>ASLW3G1I</name>
            <alias>ruleSet[com.kingdee.eas.fdc.insider.app.UnionShopManagerRuleSet].rules.conditionRule[ASLW3G1I].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.insider.app.UnionShopManagerRuleSet].rules.conditionRule[ASLW3G1I].description</description>
            <ruleType>validate</ruleType>
            <eventObjectName />
            <eventType>SUBMIT</eventType>
            <eventName>SUBMIT</eventName>
            <condition>
                <key name="id" value="3b1a2fc2-43e9-4178-91ca-7ecb2c667370" />
            </condition>
            <actions>
                <action>
                    <key name="id" value="28094ca7-6518-418b-9d01-f0e22bd1a5ca" />
                </action>
            </actions>
        </conditionRule>
        <conditionRule>
            <name>ASLW3$RY</name>
            <alias>ruleSet[com.kingdee.eas.fdc.insider.app.UnionShopManagerRuleSet].rules.conditionRule[ASLW3$RY].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.insider.app.UnionShopManagerRuleSet].rules.conditionRule[ASLW3$RY].description</description>
            <ruleType>validate</ruleType>
            <eventObjectName />
            <eventType>SUBMIT</eventType>
            <eventName>SUBMIT</eventName>
            <condition>
                <key name="id" value="c72da3a4-59e1-441a-b03c-bd0386e11a1b" />
            </condition>
            <actions>
                <action>
                    <key name="id" value="97c0fdbb-233e-4b60-9f3f-8dc4df88b17c" />
                </action>
            </actions>
        </conditionRule>
    </rules>
    <resource>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.UnionShopManagerRuleSet].actions.action[ASLW2ZN8].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.UnionShopManagerRuleSet].actions.action[ASLW2ZN8].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.UnionShopManagerRuleSet].actions.action[ASLW3MSV].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.UnionShopManagerRuleSet].actions.action[ASLW3MSV].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.UnionShopManagerRuleSet].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.UnionShopManagerRuleSet].conditions.baseCondition[ASLW3$RY].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.UnionShopManagerRuleSet].conditions.baseCondition[ASLW3$RY].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.UnionShopManagerRuleSet].conditions.baseCondition[ASLW3G1I].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.UnionShopManagerRuleSet].conditions.baseCondition[ASLW3G1I].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.UnionShopManagerRuleSet].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.UnionShopManagerRuleSet].rules.conditionRule[ASLW3$RY].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="ValidateEvent0008" />
            <lang locale="zh_TW" value="ValidateEvent0008" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.UnionShopManagerRuleSet].rules.conditionRule[ASLW3$RY].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.UnionShopManagerRuleSet].rules.conditionRule[ASLW3$RY].extendedProperty.columnName">
            <lang locale="en_US" value="number" />
            <lang locale="zh_CN" value="number" />
            <lang locale="zh_TW" value="number" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.UnionShopManagerRuleSet].rules.conditionRule[ASLW3G1I].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="ValidateEvent0007" />
            <lang locale="zh_TW" value="ValidateEvent0007" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.UnionShopManagerRuleSet].rules.conditionRule[ASLW3G1I].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.insider.app.UnionShopManagerRuleSet].rules.conditionRule[ASLW3G1I].extendedProperty.columnName">
            <lang locale="en_US" value="name" />
            <lang locale="zh_CN" value="name" />
            <lang locale="zh_TW" value="name" />
        </rs>
    </resource>
</ruleSet>

