<?xml version="1.0" encoding="UTF-8"?>
<ruleSet xmlns="com.kingdee.bos.metadata">
    <package>com.kingdee.eas.fdc.pm.app</package>
    <name>HazardDiscernRuleSet</name>
    <alias>ruleSet[com.kingdee.eas.fdc.pm.app.HazardDiscernRuleSet].alias</alias>
    <description>ruleSet[com.kingdee.eas.fdc.pm.app.HazardDiscernRuleSet].description</description>
    <userDefined>true</userDefined>
    <resource>
        <rs key="ruleSet[com.kingdee.eas.fdc.pm.app.HazardDiscernRuleSet].alias">
            <lang locale="zh_CN" value="null" />
            <lang locale="en_US" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.pm.app.HazardDiscernRuleSet].description">
            <lang locale="zh_CN" value="null" />
            <lang locale="en_US" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
    </resource>
</ruleSet>

