<?xml version="1.0" encoding="UTF-8"?>
<ruleSet xmlns="com.kingdee.bos.metadata">
    <package>com.kingdee.eas.fdc.market.app</package>
    <name>AppraiseRuleSet</name>
    <alias>ruleSet[com.kingdee.eas.fdc.market.app.AppraiseRuleSet].alias</alias>
    <description>ruleSet[com.kingdee.eas.fdc.market.app.AppraiseRuleSet].description</description>
    <userDefined>true</userDefined>
    <expressions>
        <simpleExpression>
            <id>17413560-a173-4c47-968e-027a9a74459b</id>
            <parentID />
            <source>UIRuleUtil.throwException("编码不能为空！")</source>
            <type>METHODINVOKE</type>
            <valueType>Unkown</valueType>
            <value />
            <method>
                <ownerID>3f43d8f4-bbe4-442a-8a7e-39283d7c5bb5</ownerID>
                <name>throwException</name>
                <type>Unkown</type>
                <parameters>
                    <parameter>
                        <id>c35c2d6c-ae94-4fd7-b9be-009b49c4fd91</id>
                        <expressionID>0684bcdc-2e4b-4bb3-a273-3e380de34fd2</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>3f43d8f4-bbe4-442a-8a7e-39283d7c5bb5</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>0684bcdc-2e4b-4bb3-a273-3e380de34fd2</id>
            <parentID />
            <source />
            <type>CONST</type>
            <valueType>String</valueType>
            <value>编码不能为空！</value>
        </simpleExpression>
        <simpleExpression>
            <id>9ee3406c-220e-4b9a-9060-e6162cf45fdd</id>
            <parentID />
            <source>UIRuleUtil.throwException("名称不能为空！")</source>
            <type>METHODINVOKE</type>
            <valueType>Unkown</valueType>
            <value />
            <method>
                <ownerID>e862e681-4722-448e-895a-0a3667e33123</ownerID>
                <name>throwException</name>
                <type>Unkown</type>
                <parameters>
                    <parameter>
                        <id>8b881a6f-92c0-4a0b-82b8-13da2dd50cab</id>
                        <expressionID>65ddd896-c7f6-4824-8622-de5d4067c876</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>e862e681-4722-448e-895a-0a3667e33123</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>65ddd896-c7f6-4824-8622-de5d4067c876</id>
            <parentID />
            <source />
            <type>CONST</type>
            <valueType>String</valueType>
            <value>名称不能为空！</value>
        </simpleExpression>
        <simpleExpression>
            <id>3b149894-82a9-48a2-83fc-61e85f6acc04</id>
            <parentID />
            <source>IsNull( [number] )</source>
            <type>METHODINVOKE</type>
            <valueType>boolean</valueType>
            <value />
            <method>
                <ownerID>2f04a4c1-064e-4d42-81f6-9cef504edef5</ownerID>
                <name>isNull</name>
                <type>boolean</type>
                <parameters>
                    <parameter>
                        <id>0a0bee55-599c-4af4-8a68-58277563f4d9</id>
                        <expressionID>5a81ced6-8cf4-4d0b-8cc0-6720a4027f16</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>2f04a4c1-064e-4d42-81f6-9cef504edef5</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>com.kingdee.bos.ui.face.UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>5a81ced6-8cf4-4d0b-8cc0-6720a4027f16</id>
            <parentID />
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>String</valueType>
            <value />
            <property>
                <ownerID>f2f21da8-2357-4035-a517-991a23f87e0e</ownerID>
                <name>text</name>
                <type>java.lang.String</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>f2f21da8-2357-4035-a517-991a23f87e0e</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>txtNumber</value>
        </simpleExpression>
        <simpleExpression>
            <id>c768744b-eca0-445a-8c99-bea7c97e2198</id>
            <parentID />
            <source>IsNull( [name] )</source>
            <type>METHODINVOKE</type>
            <valueType>boolean</valueType>
            <value />
            <method>
                <ownerID>cf1633a4-d083-45a4-b664-e50ecb11a1d6</ownerID>
                <name>isNull</name>
                <type>boolean</type>
                <parameters>
                    <parameter>
                        <id>b5fa05a3-5b44-4890-9960-66a67eb13dc4</id>
                        <expressionID>5accaa53-26cf-4c8a-bb70-7f75bae6c51f</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>cf1633a4-d083-45a4-b664-e50ecb11a1d6</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>com.kingdee.bos.ui.face.UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>5accaa53-26cf-4c8a-bb70-7f75bae6c51f</id>
            <parentID />
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>String</valueType>
            <value />
            <property>
                <ownerID>a705d36a-113d-43df-8b38-cccea5ac18ba</ownerID>
                <name>defaultLangItemData</name>
                <type>java.lang.Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>a705d36a-113d-43df-8b38-cccea5ac18ba</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>bizName</value>
        </simpleExpression>
    </expressions>
    <actions>
        <action>
            <id>49a4a381-5d5d-4fac-9e0b-830227d8f141</id>
            <name>ASKPCNEV</name>
            <alias>ruleSet[com.kingdee.eas.fdc.market.app.AppraiseRuleSet].actions.action[ASKPCNEV].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.market.app.AppraiseRuleSet].actions.action[ASKPCNEV].description</description>
            <expressionID>17413560-a173-4c47-968e-027a9a74459b</expressionID>
        </action>
        <action>
            <id>3e2bc616-c1a7-4c34-b8bd-04e9952aadd1</id>
            <name>ASKPE3IV</name>
            <alias>ruleSet[com.kingdee.eas.fdc.market.app.AppraiseRuleSet].actions.action[ASKPE3IV].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.market.app.AppraiseRuleSet].actions.action[ASKPE3IV].description</description>
            <expressionID>9ee3406c-220e-4b9a-9060-e6162cf45fdd</expressionID>
        </action>
    </actions>
    <conditions>
        <baseCondition>
            <id>55de8c7f-e167-47b6-ad7d-9c5130c70879</id>
            <name>ASKPDDLL</name>
            <alias>ruleSet[com.kingdee.eas.fdc.market.app.AppraiseRuleSet].conditions.baseCondition[ASKPDDLL].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.market.app.AppraiseRuleSet].conditions.baseCondition[ASKPDDLL].description</description>
            <expressionID>3b149894-82a9-48a2-83fc-61e85f6acc04</expressionID>
        </baseCondition>
        <baseCondition>
            <id>18579fde-83fc-493a-8ea8-fe481e59a932</id>
            <name>ASKPEH5S</name>
            <alias>ruleSet[com.kingdee.eas.fdc.market.app.AppraiseRuleSet].conditions.baseCondition[ASKPEH5S].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.market.app.AppraiseRuleSet].conditions.baseCondition[ASKPEH5S].description</description>
            <expressionID>c768744b-eca0-445a-8c99-bea7c97e2198</expressionID>
        </baseCondition>
    </conditions>
    <rules>
        <conditionRule>
            <name>ASKPEH5S</name>
            <alias>ruleSet[com.kingdee.eas.fdc.market.app.AppraiseRuleSet].rules.conditionRule[ASKPEH5S].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.market.app.AppraiseRuleSet].rules.conditionRule[ASKPEH5S].description</description>
            <ruleType>validate</ruleType>
            <eventObjectName />
            <eventType>SUBMIT</eventType>
            <eventName>SUBMIT</eventName>
            <condition>
                <key name="id" value="18579fde-83fc-493a-8ea8-fe481e59a932" />
            </condition>
            <actions>
                <action>
                    <key name="id" value="3e2bc616-c1a7-4c34-b8bd-04e9952aadd1" />
                </action>
            </actions>
        </conditionRule>
        <conditionRule>
            <name>ASKPDDLL</name>
            <alias>ruleSet[com.kingdee.eas.fdc.market.app.AppraiseRuleSet].rules.conditionRule[ASKPDDLL].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.market.app.AppraiseRuleSet].rules.conditionRule[ASKPDDLL].description</description>
            <ruleType>validate</ruleType>
            <eventObjectName />
            <eventType>SUBMIT</eventType>
            <eventName>SUBMIT</eventName>
            <condition>
                <key name="id" value="55de8c7f-e167-47b6-ad7d-9c5130c70879" />
            </condition>
            <actions>
                <action>
                    <key name="id" value="49a4a381-5d5d-4fac-9e0b-830227d8f141" />
                </action>
            </actions>
        </conditionRule>
    </rules>
    <resource>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.AppraiseRuleSet].actions.action[ASKPCNEV].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.AppraiseRuleSet].actions.action[ASKPCNEV].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.AppraiseRuleSet].actions.action[ASKPE3IV].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.AppraiseRuleSet].actions.action[ASKPE3IV].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.AppraiseRuleSet].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.AppraiseRuleSet].conditions.baseCondition[ASKPDDLL].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.AppraiseRuleSet].conditions.baseCondition[ASKPDDLL].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.AppraiseRuleSet].conditions.baseCondition[ASKPEH5S].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.AppraiseRuleSet].conditions.baseCondition[ASKPEH5S].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.AppraiseRuleSet].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.AppraiseRuleSet].rules.conditionRule[ASKPDDLL].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="ValidateEvent0003" />
            <lang locale="zh_TW" value="ValidateEvent0003" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.AppraiseRuleSet].rules.conditionRule[ASKPDDLL].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.AppraiseRuleSet].rules.conditionRule[ASKPDDLL].extendedProperty.columnName">
            <lang locale="en_US" value="number" />
            <lang locale="zh_CN" value="number" />
            <lang locale="zh_TW" value="number" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.AppraiseRuleSet].rules.conditionRule[ASKPEH5S].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="ValidateEvent0004" />
            <lang locale="zh_TW" value="ValidateEvent0004" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.AppraiseRuleSet].rules.conditionRule[ASKPEH5S].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.AppraiseRuleSet].rules.conditionRule[ASKPEH5S].extendedProperty.columnName">
            <lang locale="en_US" value="name" />
            <lang locale="zh_CN" value="name" />
            <lang locale="zh_TW" value="name" />
        </rs>
    </resource>
</ruleSet>

