<?xml version="1.0" encoding="UTF-8"?>
<ruleSet xmlns="com.kingdee.bos.metadata">
    <package>com.kingdee.eas.fdc.market.app</package>
    <name>MediaRuleSet</name>
    <alias>ruleSet[com.kingdee.eas.fdc.market.app.MediaRuleSet].alias</alias>
    <description>ruleSet[com.kingdee.eas.fdc.market.app.MediaRuleSet].description</description>
    <userDefined>true</userDefined>
    <expressions>
        <simpleExpression>
            <id>52bf9b7e-d1ec-4781-95eb-90409a98d00b</id>
            <parentID />
            <source>UIRuleUtil.throwException("名称不能为空！")</source>
            <type>METHODINVOKE</type>
            <valueType>Unkown</valueType>
            <value />
            <method>
                <ownerID>e01ac88f-2060-4f3d-ab98-b382a285bed0</ownerID>
                <name>throwException</name>
                <type>Unkown</type>
                <parameters>
                    <parameter>
                        <id>6a9f74aa-edfa-443b-a7eb-f4a69da1f97c</id>
                        <expressionID>68129422-346a-43e2-b8df-adc129084457</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>e01ac88f-2060-4f3d-ab98-b382a285bed0</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>68129422-346a-43e2-b8df-adc129084457</id>
            <parentID />
            <source />
            <type>CONST</type>
            <valueType>String</valueType>
            <value>名称不能为空！</value>
        </simpleExpression>
        <simpleExpression>
            <id>d05715d6-8634-4e2a-9cce-8a13e9f24c2a</id>
            <parentID />
            <source>UIRuleUtil.throwException("编码不能为空！")</source>
            <type>METHODINVOKE</type>
            <valueType>Unkown</valueType>
            <value />
            <method>
                <ownerID>ecb2a25a-6067-47d2-a521-c7513d674fab</ownerID>
                <name>throwException</name>
                <type>Unkown</type>
                <parameters>
                    <parameter>
                        <id>b73163e2-1436-4abc-8968-955f6d8b67be</id>
                        <expressionID>4323e704-44d4-4655-aaf1-bf225342530e</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>ecb2a25a-6067-47d2-a521-c7513d674fab</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>4323e704-44d4-4655-aaf1-bf225342530e</id>
            <parentID />
            <source />
            <type>CONST</type>
            <valueType>String</valueType>
            <value>编码不能为空！</value>
        </simpleExpression>
        <simpleExpression>
            <id>1bb77b3d-b621-4235-ad90-f50545bf8362</id>
            <parentID />
            <source>IsNull( [name] )</source>
            <type>METHODINVOKE</type>
            <valueType>boolean</valueType>
            <value />
            <method>
                <ownerID>8fea3422-b34f-4a78-8ca0-e8f91483ae8d</ownerID>
                <name>isNull</name>
                <type>boolean</type>
                <parameters>
                    <parameter>
                        <id>041b5380-8f84-43e5-b1f0-de685d0b762a</id>
                        <expressionID>1fe57b23-814b-42a9-9acd-f4547bf67a4a</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>8fea3422-b34f-4a78-8ca0-e8f91483ae8d</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>com.kingdee.bos.ui.face.UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>1fe57b23-814b-42a9-9acd-f4547bf67a4a</id>
            <parentID />
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>String</valueType>
            <value />
            <property>
                <ownerID>8c5b5803-4747-42d5-8c6e-00358499f2e4</ownerID>
                <name>defaultLangItemData</name>
                <type>java.lang.Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>8c5b5803-4747-42d5-8c6e-00358499f2e4</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>bizName</value>
        </simpleExpression>
        <simpleExpression>
            <id>ea51bc5f-2e5f-485b-bd28-09d71a582ad8</id>
            <parentID />
            <source>IsNull( [number] )</source>
            <type>METHODINVOKE</type>
            <valueType>boolean</valueType>
            <value />
            <method>
                <ownerID>cf0952a9-9dd5-41e7-a149-000e7a2a455c</ownerID>
                <name>isNull</name>
                <type>boolean</type>
                <parameters>
                    <parameter>
                        <id>041af13c-dbbd-48a0-a748-27e6d789bff8</id>
                        <expressionID>be910113-e3cb-4d60-a8dc-c05b94b50421</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>cf0952a9-9dd5-41e7-a149-000e7a2a455c</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>com.kingdee.bos.ui.face.UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>be910113-e3cb-4d60-a8dc-c05b94b50421</id>
            <parentID />
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>String</valueType>
            <value />
            <property>
                <ownerID>f59bd065-0376-4975-8556-4158d012b96a</ownerID>
                <name>text</name>
                <type>java.lang.String</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>f59bd065-0376-4975-8556-4158d012b96a</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>txtNumber</value>
        </simpleExpression>
    </expressions>
    <actions>
        <action>
            <id>43a37358-d8f2-4c49-88af-7336f0cd6fdd</id>
            <name>ASLMYHE1</name>
            <alias>ruleSet[com.kingdee.eas.fdc.market.app.MediaRuleSet].actions.action[ASLMYHE1].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.market.app.MediaRuleSet].actions.action[ASLMYHE1].description</description>
            <expressionID>52bf9b7e-d1ec-4781-95eb-90409a98d00b</expressionID>
        </action>
        <action>
            <id>ee8a3d4d-99df-4095-aaa4-0407a48f3ee6</id>
            <name>ASLM_15W</name>
            <alias>ruleSet[com.kingdee.eas.fdc.market.app.MediaRuleSet].actions.action[ASLM_15W].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.market.app.MediaRuleSet].actions.action[ASLM_15W].description</description>
            <expressionID>d05715d6-8634-4e2a-9cce-8a13e9f24c2a</expressionID>
        </action>
    </actions>
    <conditions>
        <baseCondition>
            <id>13f25bbb-004a-4d64-a454-e0be66f2abe8</id>
            <name>ASLMZWAC</name>
            <alias>ruleSet[com.kingdee.eas.fdc.market.app.MediaRuleSet].conditions.baseCondition[ASLMZWAC].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.market.app.MediaRuleSet].conditions.baseCondition[ASLMZWAC].description</description>
            <expressionID>1bb77b3d-b621-4235-ad90-f50545bf8362</expressionID>
        </baseCondition>
        <baseCondition>
            <id>a1e1983d-01ef-45a1-83af-b7544d6f4108</id>
            <name>ASLM_J7Q</name>
            <alias>ruleSet[com.kingdee.eas.fdc.market.app.MediaRuleSet].conditions.baseCondition[ASLM_J7Q].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.market.app.MediaRuleSet].conditions.baseCondition[ASLM_J7Q].description</description>
            <expressionID>ea51bc5f-2e5f-485b-bd28-09d71a582ad8</expressionID>
        </baseCondition>
    </conditions>
    <rules>
        <conditionRule>
            <name>ASLMZWAC</name>
            <alias>ruleSet[com.kingdee.eas.fdc.market.app.MediaRuleSet].rules.conditionRule[ASLMZWAC].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.market.app.MediaRuleSet].rules.conditionRule[ASLMZWAC].description</description>
            <ruleType>validate</ruleType>
            <eventObjectName />
            <eventType>SUBMIT</eventType>
            <eventName>SUBMIT</eventName>
            <condition>
                <key name="id" value="13f25bbb-004a-4d64-a454-e0be66f2abe8" />
            </condition>
            <actions>
                <action>
                    <key name="id" value="43a37358-d8f2-4c49-88af-7336f0cd6fdd" />
                </action>
            </actions>
        </conditionRule>
        <conditionRule>
            <name>ASLM_J7Q</name>
            <alias>ruleSet[com.kingdee.eas.fdc.market.app.MediaRuleSet].rules.conditionRule[ASLM_J7Q].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.market.app.MediaRuleSet].rules.conditionRule[ASLM_J7Q].description</description>
            <ruleType>validate</ruleType>
            <eventObjectName />
            <eventType>SUBMIT</eventType>
            <eventName>SUBMIT</eventName>
            <condition>
                <key name="id" value="a1e1983d-01ef-45a1-83af-b7544d6f4108" />
            </condition>
            <actions>
                <action>
                    <key name="id" value="ee8a3d4d-99df-4095-aaa4-0407a48f3ee6" />
                </action>
            </actions>
        </conditionRule>
    </rules>
    <resource>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.MediaRuleSet].actions.action[ASLMYHE1].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.MediaRuleSet].actions.action[ASLMYHE1].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.MediaRuleSet].actions.action[ASLM_15W].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.MediaRuleSet].actions.action[ASLM_15W].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.MediaRuleSet].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.MediaRuleSet].conditions.baseCondition[ASLMZWAC].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.MediaRuleSet].conditions.baseCondition[ASLMZWAC].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.MediaRuleSet].conditions.baseCondition[ASLM_J7Q].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.MediaRuleSet].conditions.baseCondition[ASLM_J7Q].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.MediaRuleSet].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.MediaRuleSet].rules.conditionRule[ASLMZWAC].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="ValidateEvent0010" />
            <lang locale="zh_TW" value="ValidateEvent0010" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.MediaRuleSet].rules.conditionRule[ASLMZWAC].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.MediaRuleSet].rules.conditionRule[ASLMZWAC].extendedProperty.columnName">
            <lang locale="en_US" value="name" />
            <lang locale="zh_CN" value="name" />
            <lang locale="zh_TW" value="name" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.MediaRuleSet].rules.conditionRule[ASLM_J7Q].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="ValidateEvent0011" />
            <lang locale="zh_TW" value="ValidateEvent0011" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.MediaRuleSet].rules.conditionRule[ASLM_J7Q].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.MediaRuleSet].rules.conditionRule[ASLM_J7Q].extendedProperty.columnName">
            <lang locale="en_US" value="number" />
            <lang locale="zh_CN" value="number" />
            <lang locale="zh_TW" value="number" />
        </rs>
    </resource>
</ruleSet>

