<?xml version="1.0" encoding="UTF-8"?>
<ruleSet xmlns="com.kingdee.bos.metadata">
    <package>com.kingdee.eas.fdc.market.app</package>
    <name>PerformTypeRuleSet</name>
    <alias>ruleSet[com.kingdee.eas.fdc.market.app.PerformTypeRuleSet].alias</alias>
    <description>ruleSet[com.kingdee.eas.fdc.market.app.PerformTypeRuleSet].description</description>
    <userDefined>true</userDefined>
    <expressions>
        <simpleExpression>
            <id>4007b583-600f-468d-865c-cadf5de676e9</id>
            <parentID />
            <source>UIRuleUtil.throwException("编码不能为空！")</source>
            <type>METHODINVOKE</type>
            <valueType>Unkown</valueType>
            <value />
            <method>
                <ownerID>c5c8ed0b-fed5-4e21-98c9-5f70cfe7be5f</ownerID>
                <name>throwException</name>
                <type>Unkown</type>
                <parameters>
                    <parameter>
                        <id>540a28b6-e4c1-4511-abb3-409a67baa971</id>
                        <expressionID>9f0c2db0-afcb-422e-a4f9-f47c302da078</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>c5c8ed0b-fed5-4e21-98c9-5f70cfe7be5f</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>9f0c2db0-afcb-422e-a4f9-f47c302da078</id>
            <parentID />
            <source />
            <type>CONST</type>
            <valueType>String</valueType>
            <value>编码不能为空！</value>
        </simpleExpression>
        <simpleExpression>
            <id>d88cf96b-3ff8-4dca-9365-23c677cd0007</id>
            <parentID />
            <source>UIRuleUtil.throwException("名称不能为空！")</source>
            <type>METHODINVOKE</type>
            <valueType>Unkown</valueType>
            <value />
            <method>
                <ownerID>dad0b273-f2c6-474c-8a85-d5a0e7ff1aa5</ownerID>
                <name>throwException</name>
                <type>Unkown</type>
                <parameters>
                    <parameter>
                        <id>d25d86a5-cddb-4a32-8eb1-53229afea219</id>
                        <expressionID>655c02e9-d4ad-4c1d-be8b-c395bc56b4ea</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>dad0b273-f2c6-474c-8a85-d5a0e7ff1aa5</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>655c02e9-d4ad-4c1d-be8b-c395bc56b4ea</id>
            <parentID />
            <source />
            <type>CONST</type>
            <valueType>String</valueType>
            <value>名称不能为空！</value>
        </simpleExpression>
        <simpleExpression>
            <id>d34ef891-ec92-44db-bf29-62bd1181e3f4</id>
            <parentID />
            <source> ISNULL( [number] ) </source>
            <type>METHODINVOKE</type>
            <valueType>boolean</valueType>
            <value />
            <method>
                <ownerID>bdbfff59-d5e6-47e2-a01b-7f80499a4a5b</ownerID>
                <name>isNull</name>
                <type>boolean</type>
                <parameters>
                    <parameter>
                        <id>5dc251d8-fc68-4781-b76b-0e4b36cc208d</id>
                        <expressionID>e403a64d-85bd-4764-bc1d-ff55389a3e48</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>bdbfff59-d5e6-47e2-a01b-7f80499a4a5b</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>com.kingdee.bos.ui.face.UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>e403a64d-85bd-4764-bc1d-ff55389a3e48</id>
            <parentID />
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>String</valueType>
            <value />
            <property>
                <ownerID>772989c5-63a7-451d-be96-44da50ac1449</ownerID>
                <name>text</name>
                <type>java.lang.String</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>772989c5-63a7-451d-be96-44da50ac1449</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>txtNumber</value>
        </simpleExpression>
        <simpleExpression>
            <id>1e8cb320-25e1-4c4a-a598-44248324b561</id>
            <parentID />
            <source> ISNULL( [name] ) </source>
            <type>METHODINVOKE</type>
            <valueType>boolean</valueType>
            <value />
            <method>
                <ownerID>2adb7a19-e875-4ed6-ac79-5469da751568</ownerID>
                <name>isNull</name>
                <type>boolean</type>
                <parameters>
                    <parameter>
                        <id>acb41910-f5f1-49d0-beb4-8859b49866d2</id>
                        <expressionID>1aa48cd0-fc3f-48ce-8a36-b912b061898a</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>2adb7a19-e875-4ed6-ac79-5469da751568</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>com.kingdee.bos.ui.face.UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>1aa48cd0-fc3f-48ce-8a36-b912b061898a</id>
            <parentID />
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>String</valueType>
            <value />
            <property>
                <ownerID>9931eecf-673a-4359-9f6a-623ce338b198</ownerID>
                <name>defaultLangItemData</name>
                <type>java.lang.Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>9931eecf-673a-4359-9f6a-623ce338b198</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>bizName</value>
        </simpleExpression>
    </expressions>
    <actions>
        <action>
            <id>1aa2ee8f-a214-49e0-9eff-8f4218f75fc2</id>
            <name>ASKSOFDF</name>
            <alias>ruleSet[com.kingdee.eas.fdc.market.app.PerformTypeRuleSet].actions.action[ASKSOFDF].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.market.app.PerformTypeRuleSet].actions.action[ASKSOFDF].description</description>
            <expressionID>4007b583-600f-468d-865c-cadf5de676e9</expressionID>
        </action>
        <action>
            <id>736b60a5-da5b-4833-aeae-6bfc73d9a3fc</id>
            <name>ASKSP_3C</name>
            <alias>ruleSet[com.kingdee.eas.fdc.market.app.PerformTypeRuleSet].actions.action[ASKSP_3C].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.market.app.PerformTypeRuleSet].actions.action[ASKSP_3C].description</description>
            <expressionID>d88cf96b-3ff8-4dca-9365-23c677cd0007</expressionID>
        </action>
    </actions>
    <conditions>
        <baseCondition>
            <id>49e183ca-516f-4625-8e44-6667518af209</id>
            <name>ASKSP1$P</name>
            <alias>ruleSet[com.kingdee.eas.fdc.market.app.PerformTypeRuleSet].conditions.baseCondition[ASKSP1$P].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.market.app.PerformTypeRuleSet].conditions.baseCondition[ASKSP1$P].description</description>
            <expressionID>d34ef891-ec92-44db-bf29-62bd1181e3f4</expressionID>
        </baseCondition>
        <baseCondition>
            <id>b50213cf-9fea-4495-9666-699b1c2a8f8a</id>
            <name>ASKSQHB$</name>
            <alias>ruleSet[com.kingdee.eas.fdc.market.app.PerformTypeRuleSet].conditions.baseCondition[ASKSQHB$].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.market.app.PerformTypeRuleSet].conditions.baseCondition[ASKSQHB$].description</description>
            <expressionID>1e8cb320-25e1-4c4a-a598-44248324b561</expressionID>
        </baseCondition>
    </conditions>
    <rules>
        <conditionRule>
            <name>ASKSQHB$</name>
            <alias>ruleSet[com.kingdee.eas.fdc.market.app.PerformTypeRuleSet].rules.conditionRule[ASKSQHB$].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.market.app.PerformTypeRuleSet].rules.conditionRule[ASKSQHB$].description</description>
            <ruleType>validate</ruleType>
            <eventObjectName />
            <eventType>SUBMIT</eventType>
            <eventName>SUBMIT</eventName>
            <condition>
                <key name="id" value="b50213cf-9fea-4495-9666-699b1c2a8f8a" />
            </condition>
            <actions>
                <action>
                    <key name="id" value="736b60a5-da5b-4833-aeae-6bfc73d9a3fc" />
                </action>
            </actions>
        </conditionRule>
        <conditionRule>
            <name>ASKSP1$P</name>
            <alias>ruleSet[com.kingdee.eas.fdc.market.app.PerformTypeRuleSet].rules.conditionRule[ASKSP1$P].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.market.app.PerformTypeRuleSet].rules.conditionRule[ASKSP1$P].description</description>
            <ruleType>validate</ruleType>
            <eventObjectName />
            <eventType>SUBMIT</eventType>
            <eventName>SUBMIT</eventName>
            <condition>
                <key name="id" value="49e183ca-516f-4625-8e44-6667518af209" />
            </condition>
            <actions>
                <action>
                    <key name="id" value="1aa2ee8f-a214-49e0-9eff-8f4218f75fc2" />
                </action>
            </actions>
        </conditionRule>
    </rules>
    <resource>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.PerformTypeRuleSet].actions.action[ASKSOFDF].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.PerformTypeRuleSet].actions.action[ASKSOFDF].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.PerformTypeRuleSet].actions.action[ASKSP_3C].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.PerformTypeRuleSet].actions.action[ASKSP_3C].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.PerformTypeRuleSet].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.PerformTypeRuleSet].conditions.baseCondition[ASKSP1$P].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.PerformTypeRuleSet].conditions.baseCondition[ASKSP1$P].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.PerformTypeRuleSet].conditions.baseCondition[ASKSQHB$].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.PerformTypeRuleSet].conditions.baseCondition[ASKSQHB$].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.PerformTypeRuleSet].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.PerformTypeRuleSet].rules.conditionRule[ASKSP1$P].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="isValidate" />
            <lang locale="zh_TW" value="isValidate" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.PerformTypeRuleSet].rules.conditionRule[ASKSP1$P].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.PerformTypeRuleSet].rules.conditionRule[ASKSP1$P].extendedProperty.columnName">
            <lang locale="en_US" value="number" />
            <lang locale="zh_CN" value="number" />
            <lang locale="zh_TW" value="number" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.PerformTypeRuleSet].rules.conditionRule[ASKSQHB$].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="isValidate" />
            <lang locale="zh_TW" value="isValidate" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.PerformTypeRuleSet].rules.conditionRule[ASKSQHB$].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.PerformTypeRuleSet].rules.conditionRule[ASKSQHB$].extendedProperty.columnName">
            <lang locale="en_US" value="name" />
            <lang locale="zh_CN" value="name" />
            <lang locale="zh_TW" value="name" />
        </rs>
    </resource>
</ruleSet>

