<?xml version="1.0" encoding="UTF-8"?>
<ruleSet xmlns="com.kingdee.bos.metadata">
    <package>com.kingdee.eas.fdc.market.app</package>
    <name>PlanTypeRuleSet</name>
    <alias>ruleSet[com.kingdee.eas.fdc.market.app.PlanTypeRuleSet].alias</alias>
    <description>ruleSet[com.kingdee.eas.fdc.market.app.PlanTypeRuleSet].description</description>
    <userDefined>true</userDefined>
    <expressions>
        <simpleExpression>
            <id>def52f47-f34d-4f41-a65a-fa09a1819c87</id>
            <parentID />
            <source>UIRuleUtil.throwException("编码不能为空!")</source>
            <type>METHODINVOKE</type>
            <valueType>Unkown</valueType>
            <value />
            <method>
                <ownerID>8f5cfbfe-de0d-4c4b-be37-5323b8d428aa</ownerID>
                <name>throwException</name>
                <type>Unkown</type>
                <parameters>
                    <parameter>
                        <id>a531245a-1383-493f-938f-a998e3ed4e3c</id>
                        <expressionID>f16658b5-5b8a-4578-a399-5b7e6893b84d</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>8f5cfbfe-de0d-4c4b-be37-5323b8d428aa</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>f16658b5-5b8a-4578-a399-5b7e6893b84d</id>
            <parentID />
            <source />
            <type>CONST</type>
            <valueType>String</valueType>
            <value>编码不能为空!</value>
        </simpleExpression>
        <simpleExpression>
            <id>b73babf7-7b22-4835-991d-6caf0fb516e5</id>
            <parentID />
            <source>UIRuleUtil.throwException("名称不能为空!")</source>
            <type>METHODINVOKE</type>
            <valueType>Unkown</valueType>
            <value />
            <method>
                <ownerID>cd2cca61-993f-423b-9cf9-54945788c094</ownerID>
                <name>throwException</name>
                <type>Unkown</type>
                <parameters>
                    <parameter>
                        <id>9a2c4c11-94d6-4e38-8246-249e62c94e97</id>
                        <expressionID>78710c22-1679-40bc-b4fb-417182982dba</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>cd2cca61-993f-423b-9cf9-54945788c094</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>78710c22-1679-40bc-b4fb-417182982dba</id>
            <parentID />
            <source />
            <type>CONST</type>
            <valueType>String</valueType>
            <value>名称不能为空!</value>
        </simpleExpression>
        <simpleExpression>
            <id>e35462de-2da8-4520-a858-794b997af7aa</id>
            <parentID />
            <source>ISNULL( [number] )</source>
            <type>METHODINVOKE</type>
            <valueType>boolean</valueType>
            <value />
            <method>
                <ownerID>00a1eab8-a3b0-423a-94bd-9fbd873e2335</ownerID>
                <name>isNull</name>
                <type>boolean</type>
                <parameters>
                    <parameter>
                        <id>5df22ed4-7873-4bb5-8047-fcf9ac95988d</id>
                        <expressionID>c4c12a6e-33f0-40f6-9867-94bd0784f629</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>00a1eab8-a3b0-423a-94bd-9fbd873e2335</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>com.kingdee.bos.ui.face.UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>c4c12a6e-33f0-40f6-9867-94bd0784f629</id>
            <parentID />
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>String</valueType>
            <value />
            <property>
                <ownerID>b2a06da8-ebce-44db-921e-0f13f6a380bc</ownerID>
                <name>text</name>
                <type>java.lang.String</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>b2a06da8-ebce-44db-921e-0f13f6a380bc</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>txtNumber</value>
        </simpleExpression>
        <simpleExpression>
            <id>d1977d8a-f544-4260-a33d-b7ba33fae9a0</id>
            <parentID />
            <source>ISNULL( [name] )</source>
            <type>METHODINVOKE</type>
            <valueType>boolean</valueType>
            <value />
            <method>
                <ownerID>57bf7b6e-3944-4872-adee-662c0eac8df3</ownerID>
                <name>isNull</name>
                <type>boolean</type>
                <parameters>
                    <parameter>
                        <id>abf5195f-c675-4ef6-b495-32be590e5fc8</id>
                        <expressionID>c3702a8f-a179-40e1-9130-37f489967a36</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>57bf7b6e-3944-4872-adee-662c0eac8df3</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>com.kingdee.bos.ui.face.UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>c3702a8f-a179-40e1-9130-37f489967a36</id>
            <parentID />
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>String</valueType>
            <value />
            <property>
                <ownerID>ac416da1-840c-42b2-8dee-b838f7225986</ownerID>
                <name>defaultLangItemData</name>
                <type>java.lang.Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>ac416da1-840c-42b2-8dee-b838f7225986</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>txtName</value>
        </simpleExpression>
    </expressions>
    <actions>
        <action>
            <id>743f2346-8575-44b1-aef5-2487fd182079</id>
            <name>ASQ4$Z24</name>
            <alias>ruleSet[com.kingdee.eas.fdc.market.app.PlanTypeRuleSet].actions.action[ASQ4$Z24].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.market.app.PlanTypeRuleSet].actions.action[ASQ4$Z24].description</description>
            <expressionID>def52f47-f34d-4f41-a65a-fa09a1819c87</expressionID>
        </action>
        <action>
            <id>50323d5c-9e18-4948-9dc4-bc0a47a2a901</id>
            <name>ASQ520JH</name>
            <alias>ruleSet[com.kingdee.eas.fdc.market.app.PlanTypeRuleSet].actions.action[ASQ520JH].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.market.app.PlanTypeRuleSet].actions.action[ASQ520JH].description</description>
            <expressionID>b73babf7-7b22-4835-991d-6caf0fb516e5</expressionID>
        </action>
    </actions>
    <conditions>
        <baseCondition>
            <id>4766b2af-7045-4462-900f-31400a36fdff</id>
            <name>ASQ511PE</name>
            <alias>ruleSet[com.kingdee.eas.fdc.market.app.PlanTypeRuleSet].conditions.baseCondition[ASQ511PE].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.market.app.PlanTypeRuleSet].conditions.baseCondition[ASQ511PE].description</description>
            <expressionID>e35462de-2da8-4520-a858-794b997af7aa</expressionID>
        </baseCondition>
        <baseCondition>
            <id>c2786307-ad97-43a1-acf8-ca490f322c00</id>
            <name>ASQ529JL</name>
            <alias>ruleSet[com.kingdee.eas.fdc.market.app.PlanTypeRuleSet].conditions.baseCondition[ASQ529JL].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.market.app.PlanTypeRuleSet].conditions.baseCondition[ASQ529JL].description</description>
            <expressionID>d1977d8a-f544-4260-a33d-b7ba33fae9a0</expressionID>
        </baseCondition>
    </conditions>
    <rules>
        <conditionRule>
            <name>ASQ529JL</name>
            <alias>ruleSet[com.kingdee.eas.fdc.market.app.PlanTypeRuleSet].rules.conditionRule[ASQ529JL].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.market.app.PlanTypeRuleSet].rules.conditionRule[ASQ529JL].description</description>
            <ruleType>validate</ruleType>
            <eventObjectName />
            <eventType>SUBMIT</eventType>
            <eventName>SUBMIT</eventName>
            <condition>
                <key name="id" value="c2786307-ad97-43a1-acf8-ca490f322c00" />
            </condition>
            <actions>
                <action>
                    <key name="id" value="50323d5c-9e18-4948-9dc4-bc0a47a2a901" />
                </action>
            </actions>
        </conditionRule>
        <conditionRule>
            <name>ASQ511PE</name>
            <alias>ruleSet[com.kingdee.eas.fdc.market.app.PlanTypeRuleSet].rules.conditionRule[ASQ511PE].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.market.app.PlanTypeRuleSet].rules.conditionRule[ASQ511PE].description</description>
            <ruleType>validate</ruleType>
            <eventObjectName />
            <eventType>SUBMIT</eventType>
            <eventName>SUBMIT</eventName>
            <condition>
                <key name="id" value="4766b2af-7045-4462-900f-31400a36fdff" />
            </condition>
            <actions>
                <action>
                    <key name="id" value="743f2346-8575-44b1-aef5-2487fd182079" />
                </action>
            </actions>
        </conditionRule>
    </rules>
    <resource>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.PlanTypeRuleSet].actions.action[ASQ4$Z24].alias">
            <lang locale="zh_CN" value="" />
            <lang locale="zh_TW" value="null" />
            <lang locale="en_US" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.PlanTypeRuleSet].actions.action[ASQ4$Z24].description">
            <lang locale="zh_CN" value="null" />
            <lang locale="en_US" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.PlanTypeRuleSet].actions.action[ASQ520JH].alias">
            <lang locale="zh_CN" value="" />
            <lang locale="zh_TW" value="null" />
            <lang locale="en_US" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.PlanTypeRuleSet].actions.action[ASQ520JH].description">
            <lang locale="zh_CN" value="null" />
            <lang locale="en_US" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.PlanTypeRuleSet].alias">
            <lang locale="zh_CN" value="null" />
            <lang locale="en_US" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.PlanTypeRuleSet].conditions.baseCondition[ASQ511PE].alias">
            <lang locale="zh_CN" value="" />
            <lang locale="zh_TW" value="null" />
            <lang locale="en_US" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.PlanTypeRuleSet].conditions.baseCondition[ASQ511PE].description">
            <lang locale="zh_CN" value="null" />
            <lang locale="en_US" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.PlanTypeRuleSet].conditions.baseCondition[ASQ529JL].alias">
            <lang locale="zh_CN" value="" />
            <lang locale="zh_TW" value="null" />
            <lang locale="en_US" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.PlanTypeRuleSet].conditions.baseCondition[ASQ529JL].description">
            <lang locale="zh_CN" value="null" />
            <lang locale="en_US" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.PlanTypeRuleSet].description">
            <lang locale="zh_CN" value="null" />
            <lang locale="en_US" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.PlanTypeRuleSet].rules.conditionRule[ASQ511PE].alias">
            <lang locale="zh_CN" value="ValidateEvent0001" />
            <lang locale="en_US" value="null" />
            <lang locale="zh_HK" value="ValidateEvent0001" />
            <lang locale="zh_TW" value="ValidateEvent0001" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.PlanTypeRuleSet].rules.conditionRule[ASQ511PE].description">
            <lang locale="zh_CN" value="null" />
            <lang locale="en_US" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.PlanTypeRuleSet].rules.conditionRule[ASQ511PE].extendedProperty.columnName">
            <lang locale="zh_CN" value="number" />
            <lang locale="zh_TW" value="number" />
            <lang locale="en_US" value="number" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.PlanTypeRuleSet].rules.conditionRule[ASQ529JL].alias">
            <lang locale="zh_CN" value="ValidateEvent0002" />
            <lang locale="en_US" value="null" />
            <lang locale="zh_HK" value="ValidateEvent0002" />
            <lang locale="zh_TW" value="ValidateEvent0002" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.PlanTypeRuleSet].rules.conditionRule[ASQ529JL].description">
            <lang locale="zh_CN" value="null" />
            <lang locale="en_US" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.PlanTypeRuleSet].rules.conditionRule[ASQ529JL].extendedProperty.columnName">
            <lang locale="zh_CN" value="name" />
            <lang locale="zh_TW" value="name" />
            <lang locale="en_US" value="name" />
        </rs>
    </resource>
</ruleSet>

