<?xml version="1.0" encoding="UTF-8"?>
<ruleSet xmlns="com.kingdee.bos.metadata">
    <package>com.kingdee.eas.fdc.market.app</package>
    <name>QuestionPaperAnswerRuleSet</name>
    <alias>ruleSet[com.kingdee.eas.fdc.market.app.QuestionPaperAnswerRuleSet].alias</alias>
    <description>ruleSet[com.kingdee.eas.fdc.market.app.QuestionPaperAnswerRuleSet].description</description>
    <userDefined>true</userDefined>
    <expressions>
        <groupExpression>
            <id>289c8db0-6119-4ada-99a9-a13b35b49653</id>
            <parentID />
            <source>persionNumber=persion.number</source>
            <operator>=</operator>
        </groupExpression>
        <simpleExpression>
            <id>7fe71e57-c1af-4ae7-83dc-fb3a157ddfe8</id>
            <parentID>289c8db0-6119-4ada-99a9-a13b35b49653</parentID>
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>String</valueType>
            <value />
            <property>
                <ownerID>160da420-c5ce-40ed-922b-53b37e5c6593</ownerID>
                <name>text</name>
                <type>java.lang.String</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>160da420-c5ce-40ed-922b-53b37e5c6593</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>txtpersionNumber</value>
        </simpleExpression>
        <simpleExpression>
            <id>7576697f-6a19-4bc6-aab5-ba98de163477</id>
            <parentID>289c8db0-6119-4ada-99a9-a13b35b49653</parentID>
            <source />
            <type>METHODINVOKE</type>
            <valueType>String</valueType>
            <value />
            <method>
                <ownerID>8b9007b9-0ac3-4fa0-b946-ee2dcfd6917c</ownerID>
                <name>getProperty</name>
                <type>Object</type>
                <parameters>
                    <parameter>
                        <id>5fbbe748-fed5-47db-8c53-296b3257e908</id>
                        <expressionID>fa3f48a2-ae54-41cf-a5bb-6771ea6aaeca</expressionID>
                    </parameter>
                    <parameter>
                        <id>c634bc9d-7d36-492c-9553-08596b7f1f7c</id>
                        <expressionID>48f58080-8483-46f0-be7d-10a110bf364b</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>8b9007b9-0ac3-4fa0-b946-ee2dcfd6917c</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>com.kingdee.bos.ui.face.UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>fa3f48a2-ae54-41cf-a5bb-6771ea6aaeca</id>
            <parentID />
            <source />
            <type>METHODINVOKE</type>
            <valueType>Object</valueType>
            <value />
            <method>
                <ownerID>a6d4d369-c9d9-4436-b558-7baef2a32d76</ownerID>
                <name>getData</name>
                <type>Object</type>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>a6d4d369-c9d9-4436-b558-7baef2a32d76</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>(com.kingdee.bos.dao.IObjectValue)prmtpersion</value>
        </simpleExpression>
        <simpleExpression>
            <id>48f58080-8483-46f0-be7d-10a110bf364b</id>
            <parentID />
            <source />
            <type>CONST</type>
            <valueType>String</valueType>
            <value>number</value>
        </simpleExpression>
    </expressions>
    <actions>
        <action>
            <id>3453542b-d48c-46fc-b9e1-926eb592fd71</id>
            <name>QuestionPaperAnswer_persionNumber_ActionInfo</name>
            <alias>ruleSet[com.kingdee.eas.fdc.market.app.QuestionPaperAnswerRuleSet].actions.action[QuestionPaperAnswer_persionNumber_ActionInfo].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.market.app.QuestionPaperAnswerRuleSet].actions.action[QuestionPaperAnswer_persionNumber_ActionInfo].description</description>
            <expressionID>289c8db0-6119-4ada-99a9-a13b35b49653</expressionID>
        </action>
    </actions>
    <rules>
        <conditionRule>
            <name>QuestionPaperAnswer_persionNumber_RuleInfo</name>
            <alias>ruleSet[com.kingdee.eas.fdc.market.app.QuestionPaperAnswerRuleSet].rules.conditionRule[QuestionPaperAnswer_persionNumber_RuleInfo].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.market.app.QuestionPaperAnswerRuleSet].rules.conditionRule[QuestionPaperAnswer_persionNumber_RuleInfo].description</description>
            <ruleType>withproperty</ruleType>
            <eventObjectName />
            <eventType>CHANGE</eventType>
            <eventName>CHANGE</eventName>
            <actions>
                <action>
                    <key name="id" value="3453542b-d48c-46fc-b9e1-926eb592fd71" />
                </action>
            </actions>
        </conditionRule>
    </rules>
    <resource>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.QuestionPaperAnswerRuleSet].actions.action[QuestionPaperAnswer_persionNumber_ActionInfo].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="携带字段属性_number" />
            <lang locale="zh_TW" value="攜帶字段屬性_number" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.QuestionPaperAnswerRuleSet].actions.action[QuestionPaperAnswer_persionNumber_ActionInfo].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.QuestionPaperAnswerRuleSet].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.QuestionPaperAnswerRuleSet].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.QuestionPaperAnswerRuleSet].rules.conditionRule[QuestionPaperAnswer_persionNumber_RuleInfo].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="携带字段属性_number" />
            <lang locale="zh_TW" value="攜帶字段屬性_number" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.QuestionPaperAnswerRuleSet].rules.conditionRule[QuestionPaperAnswer_persionNumber_RuleInfo].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.QuestionPaperAnswerRuleSet].rules.conditionRule[QuestionPaperAnswer_persionNumber_RuleInfo].extendedProperty.columnName">
            <lang locale="en_US" value="persion" />
            <lang locale="zh_CN" value="persion" />
            <lang locale="zh_TW" value="persion" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.QuestionPaperAnswerRuleSet].rules.conditionRule[QuestionPaperAnswer_persionNumber_RuleInfo].extendedProperty.userDefined">
            <lang locale="en_US" value="false" />
            <lang locale="zh_CN" value="false" />
            <lang locale="zh_TW" value="false" />
        </rs>
    </resource>
</ruleSet>

