<?xml version="1.0" encoding="UTF-8"?>
<ruleSet xmlns="com.kingdee.bos.metadata">
    <package>com.kingdee.eas.fdc.market.app</package>
    <name>SurveyTypeRuleSet</name>
    <alias>ruleSet[com.kingdee.eas.fdc.market.app.SurveyTypeRuleSet].alias</alias>
    <description>ruleSet[com.kingdee.eas.fdc.market.app.SurveyTypeRuleSet].description</description>
    <userDefined>true</userDefined>
    <expressions>
        <simpleExpression>
            <id>c43d87be-abb2-4aa5-b206-d099245c5f9c</id>
            <parentID />
            <source>UIRuleUtil.throwException("编码不能为空！")</source>
            <type>METHODINVOKE</type>
            <valueType>Unkown</valueType>
            <value />
            <method>
                <ownerID>de085c83-c19e-42e9-8129-add8b7aaa980</ownerID>
                <name>throwException</name>
                <type>Unkown</type>
                <parameters>
                    <parameter>
                        <id>8d3762ef-b1bf-4fcd-ad6a-b0e6a8216044</id>
                        <expressionID>13f185c8-72c9-48a6-bba9-ce56f314774e</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>de085c83-c19e-42e9-8129-add8b7aaa980</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>13f185c8-72c9-48a6-bba9-ce56f314774e</id>
            <parentID />
            <source />
            <type>CONST</type>
            <valueType>String</valueType>
            <value>编码不能为空！</value>
        </simpleExpression>
        <simpleExpression>
            <id>d8f4065b-006c-45c5-bb7c-f896592a3ba4</id>
            <parentID />
            <source>UIRuleUtil.throwException("名称不能为空！")</source>
            <type>METHODINVOKE</type>
            <valueType>Unkown</valueType>
            <value />
            <method>
                <ownerID>237d0c2b-3197-41fd-b3b9-fad0028ec278</ownerID>
                <name>throwException</name>
                <type>Unkown</type>
                <parameters>
                    <parameter>
                        <id>4bf0b21a-a921-4a2c-ad56-570897bcc2ee</id>
                        <expressionID>a51c703e-7f3d-44f3-a4f0-1526b48e9c9b</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>237d0c2b-3197-41fd-b3b9-fad0028ec278</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>a51c703e-7f3d-44f3-a4f0-1526b48e9c9b</id>
            <parentID />
            <source />
            <type>CONST</type>
            <valueType>String</valueType>
            <value>名称不能为空！</value>
        </simpleExpression>
        <simpleExpression>
            <id>e8f641f9-255f-4ad8-8686-3aba2f7576ea</id>
            <parentID />
            <source>IsNull( [number] )</source>
            <type>METHODINVOKE</type>
            <valueType>boolean</valueType>
            <value />
            <method>
                <ownerID>88795521-7c9a-4ff6-bd54-b2af56fe1967</ownerID>
                <name>isNull</name>
                <type>boolean</type>
                <parameters>
                    <parameter>
                        <id>fa10b17c-a928-4af3-8950-a4727da5e155</id>
                        <expressionID>c0955227-4325-4e77-9ea5-8c0bda741abb</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>88795521-7c9a-4ff6-bd54-b2af56fe1967</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>com.kingdee.bos.ui.face.UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>c0955227-4325-4e77-9ea5-8c0bda741abb</id>
            <parentID />
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>String</valueType>
            <value />
            <property>
                <ownerID>e7bc3efc-0394-406e-ba42-cf3c607272f4</ownerID>
                <name>text</name>
                <type>java.lang.String</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>e7bc3efc-0394-406e-ba42-cf3c607272f4</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>txtNumber</value>
        </simpleExpression>
        <simpleExpression>
            <id>a7dc4a76-5e69-40cf-94f7-0b78efcec9f5</id>
            <parentID />
            <source>IsNull( [name] )</source>
            <type>METHODINVOKE</type>
            <valueType>boolean</valueType>
            <value />
            <method>
                <ownerID>9897d36d-a32a-446c-ab52-330fd5937e4a</ownerID>
                <name>isNull</name>
                <type>boolean</type>
                <parameters>
                    <parameter>
                        <id>5d7c832e-7b89-4f66-abc5-14f17748d4ac</id>
                        <expressionID>9e86e26c-cf11-495f-8698-d027260282b9</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>9897d36d-a32a-446c-ab52-330fd5937e4a</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>com.kingdee.bos.ui.face.UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>9e86e26c-cf11-495f-8698-d027260282b9</id>
            <parentID />
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>String</valueType>
            <value />
            <property>
                <ownerID>eb68ce1a-c5cf-47df-9d45-008211aee2b7</ownerID>
                <name>defaultLangItemData</name>
                <type>java.lang.Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>eb68ce1a-c5cf-47df-9d45-008211aee2b7</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>bizName</value>
        </simpleExpression>
    </expressions>
    <actions>
        <action>
            <id>41031bdc-b9af-4e6e-add2-e77d9221c433</id>
            <name>ASKRSB0R</name>
            <alias>ruleSet[com.kingdee.eas.fdc.market.app.SurveyTypeRuleSet].actions.action[ASKRSB0R].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.market.app.SurveyTypeRuleSet].actions.action[ASKRSB0R].description</description>
            <expressionID>c43d87be-abb2-4aa5-b206-d099245c5f9c</expressionID>
        </action>
        <action>
            <id>c34098e1-f891-4f9e-bbb1-4a3144190052</id>
            <name>ASKRS_5Y</name>
            <alias>ruleSet[com.kingdee.eas.fdc.market.app.SurveyTypeRuleSet].actions.action[ASKRS_5Y].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.market.app.SurveyTypeRuleSet].actions.action[ASKRS_5Y].description</description>
            <expressionID>d8f4065b-006c-45c5-bb7c-f896592a3ba4</expressionID>
        </action>
    </actions>
    <conditions>
        <baseCondition>
            <id>4c40c53f-3fbb-44a4-9900-16f60d8a7829</id>
            <name>ASKRSTLI</name>
            <alias>ruleSet[com.kingdee.eas.fdc.market.app.SurveyTypeRuleSet].conditions.baseCondition[ASKRSTLI].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.market.app.SurveyTypeRuleSet].conditions.baseCondition[ASKRSTLI].description</description>
            <expressionID>e8f641f9-255f-4ad8-8686-3aba2f7576ea</expressionID>
        </baseCondition>
        <baseCondition>
            <id>505887ba-0ccb-4d1f-b87f-ac26bf86038e</id>
            <name>ASKRTDE0</name>
            <alias>ruleSet[com.kingdee.eas.fdc.market.app.SurveyTypeRuleSet].conditions.baseCondition[ASKRTDE0].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.market.app.SurveyTypeRuleSet].conditions.baseCondition[ASKRTDE0].description</description>
            <expressionID>a7dc4a76-5e69-40cf-94f7-0b78efcec9f5</expressionID>
        </baseCondition>
    </conditions>
    <rules>
        <conditionRule>
            <name>SurveyTypeASKRTJUP</name>
            <alias>ruleSet[com.kingdee.eas.fdc.market.app.SurveyTypeRuleSet].rules.conditionRule[SurveyTypeASKRTJUP].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.market.app.SurveyTypeRuleSet].rules.conditionRule[SurveyTypeASKRTJUP].description</description>
            <ruleType>validate</ruleType>
            <eventObjectName />
            <eventType>SUBMIT</eventType>
            <eventName>SUBMIT</eventName>
            <condition>
                <key name="id" value="505887ba-0ccb-4d1f-b87f-ac26bf86038e" />
            </condition>
            <actions>
                <action>
                    <key name="id" value="c34098e1-f891-4f9e-bbb1-4a3144190052" />
                </action>
            </actions>
        </conditionRule>
        <conditionRule>
            <name>ASKRSTLI</name>
            <alias>ruleSet[com.kingdee.eas.fdc.market.app.SurveyTypeRuleSet].rules.conditionRule[ASKRSTLI].alias</alias>
            <description>ruleSet[com.kingdee.eas.fdc.market.app.SurveyTypeRuleSet].rules.conditionRule[ASKRSTLI].description</description>
            <ruleType>validate</ruleType>
            <eventObjectName />
            <eventType>SUBMIT</eventType>
            <eventName>SUBMIT</eventName>
            <condition>
                <key name="id" value="4c40c53f-3fbb-44a4-9900-16f60d8a7829" />
            </condition>
            <actions>
                <action>
                    <key name="id" value="41031bdc-b9af-4e6e-add2-e77d9221c433" />
                </action>
            </actions>
        </conditionRule>
    </rules>
    <resource>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.SurveyTypeRuleSet].actions.action[ASKRSB0R].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.SurveyTypeRuleSet].actions.action[ASKRSB0R].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.SurveyTypeRuleSet].actions.action[ASKRS_5Y].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.SurveyTypeRuleSet].actions.action[ASKRS_5Y].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.SurveyTypeRuleSet].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.SurveyTypeRuleSet].conditions.baseCondition[ASKRSTLI].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.SurveyTypeRuleSet].conditions.baseCondition[ASKRSTLI].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.SurveyTypeRuleSet].conditions.baseCondition[ASKRTDE0].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.SurveyTypeRuleSet].conditions.baseCondition[ASKRTDE0].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.SurveyTypeRuleSet].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.SurveyTypeRuleSet].rules.conditionRule[ASKRSTLI].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="ValidateEvent0006" />
            <lang locale="zh_TW" value="ValidateEvent0006" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.SurveyTypeRuleSet].rules.conditionRule[ASKRSTLI].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.SurveyTypeRuleSet].rules.conditionRule[ASKRSTLI].extendedProperty.columnName">
            <lang locale="en_US" value="number" />
            <lang locale="zh_CN" value="number" />
            <lang locale="zh_TW" value="number" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.SurveyTypeRuleSet].rules.conditionRule[SurveyTypeASKRTJUP].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="ValidateEvent0002" />
            <lang locale="zh_TW" value="ValidateEvent0002" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.SurveyTypeRuleSet].rules.conditionRule[SurveyTypeASKRTJUP].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.market.app.SurveyTypeRuleSet].rules.conditionRule[SurveyTypeASKRTJUP].extendedProperty.columnName">
            <lang locale="en_US" value="name" />
            <lang locale="zh_CN" value="name" />
            <lang locale="zh_TW" value="name" />
        </rs>
    </resource>
</ruleSet>

